.coc7.actor.window-app,
.coc7.item.window-app {
	@include layout {
		.window-content {
			padding: 0;
		}
	}
}

#controls {
	.scene-control + div {
		@include layout {
			margin-block-start: m("base");
		}

		@include layout(compact) {
			margin-block-start: m("xs");
		}

		.custom-control {
			background-color: color("background-darkest", 0.8) !important;
			border: none !important;

			&.active {
				background-color: color("primary") !important;
				box-shadow: inset 0 0 0 2px color("white") !important;
				color: color("text-lightest") !important;
			}

			&:hover {
				box-shadow: inset 0 0 0 2px color("white") !important;
			}
		}
	}
}

.coc7.dialogue.actor-importer {
	.dialog-buttons {
		@include layout {
			display: flex;
		}
	}
}

.dialog {
	#bonus-roll-form {
		> .flexcol > .flexrow {
			@include layout {
				align-items: center;
				margin-block-end: m("base");
			}
		}
	}
}

#link-creation.coc7 {
	form#link-creation {
		> button {
			@include layout {
				margin: 0;
				margin-block-start: m("base");
			}
		}
	}

	.form-group label {
		border: none;
		color: color("text");
		font-weight: normal;

		@include layout {
			height: auto;
			padding: 0;
			padding-inline-end: p("base");
		}

		&.checkbox {
			> input {
				margin-inline-end: m("sm");
			}
		}
	}
}
