.dnd5e.chat-card

.dnd5e.chat-card .card-buttons

.dnd5e #ability-use-form {
	.form-group label {
		color: color("text");
		font-weight: normal;

		&.checkbox {
			flex: 0 0 100%;
			margin: 0;

			input[type="checkbox"] {
				margin: 0;
				margin-inline-end: m("sm");
			}
		}
	}

	.notification {
		background-color: color("charcoal-900", 0.8);
		border: b("border");
		border-radius: $global-border-radius-default;
		box-shadow: none;
		color: color("white");
		margin: 0;
		margin-block-end: m("sm");
		padding: p("sm");

		.-compact & {
			margin-block-end: m("base");
			padding: p("base");
		}

		&::before {
			margin-inline-end: m("sm");

			.-compact & {
				margin-inline-end: m("base");
			}
		}

		&.error {
			background-color: color("negative");
			border-color: color("red-800");
		}
	}
}

.dnd5e.chat-card {
	font-size: fs("sm");

	.card-buttons button,
	.card-header h3 {
		color: color("text");
		text-shadow: none;

		> span {
			border: 0;
			padding: 0 p("base");
		}
	}

	.card-buttons button + button {
		margin-block-start: m("base");

		.-compact & {
			margin-block-start: 0;
		}
	}

	.card-header {
		border-block-start: b("border-lighter");
		border-block-end: b("border-lighter");
		padding: p("base") 0;

		.-compact & {
			padding: p("xs") 0;
		}
	}

	.card-footer {
		border-block-start: b("border-lighter");
		padding-block-start: p("base");

		.-compact & {
			padding-block-start: p("xs");
		}
	}

	.card-buttons {
		margin: m("base") 0;

		.-compact & {
			margin: m("xs") 0;
		}

		button {
			@extend %secondary-button;
		}
	}
}
