#sidebar .sidebar-tab {
	.directory-footer .browser-group {
		width: 100%;

		.spell-browser-btn {
			flex: 1 1 auto;
			margin: 0;
			margin-block-end: m("xs");

			&:last-child {
				margin-block-end: 0;
			}
		}
	}
}
