#sidebar,
.sidebar-popout {
	.sidebar-tab {
		.directory-footer .browser-group {
			@include layout {
				flex-direction: row;
				width: 100%;
			}

			.spell-browser-btn {
				@include layout {
					flex: 1 1 auto;
				}
			}
		}
	}
}
