@import "../base";

body#{$emu}.system-alienrpg {
	.window-app[id*="actor-"],
	.window-app[id*="item-"] {
		.window-content {
			color: RGB($emu-color-white);
		}
	}

	.alienrpg {
		.window-content {
			@include layout {
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}

	.alien-Push-button {
		@include layout {
			width: 100%;
		}
	}
}
