@import "../base";
body#{$emu}.system-CoC7 {
	.coc7.chat-card {
		@include layout {
			display: flex;
			flex-direction: column;
			font-size: $global-font-size-sm;
			gap: $global-space-base;
		}

		.card-header {
			border-block-end: none;
			border-block-start: b(border);

			@include layout {
				gap: $global-space-base;
				padding: $global-space-base 0;
			}

			h3:hover {
				color: color("primary");
				text-shadow: none;
			}
		}
	}

	.coc7 {
		.panel-switch,
		.radio-switch,
		.toggle-switch,
		.weapon-property {
			@include layout {
				border-radius: $global-border-radius-default;
				display: inline-flex;
				font-size: $global-font-size-xs;
				font-style: italic;
				line-height: 1;
				margin: 0;
				padding: $global-space-base;
			}

			background: transparent;
			border: b("border");
			color: color("text");

			&.switched-on {
				background-color: color("primary");
				box-shadow: none;
				color: color("text-lightest");
			}
		}

		.radio-switch,
		.toggle-switch {
			@include layout {
				cursor: pointer;
			}
		}

		.tag {
			@include layout {
				border-radius: $global-border-radius-default;
				display: inline-flex;
				font-size: $global-font-size-xs;
				font-style: italic;
				line-height: 1;
				margin: 0;
				margin-inline-end: $global-space-xs;
				padding: $global-space-base;
			}

			background: color("background-light");
			border: b("border");
			color: color("text-lightest");
		}
	}

	.chat-card-v2.roll-card ol li.actor-roll .roll-details .header {
		height: auto;
	}

	.chat-card-v2.roll-card ol li.actor-roll.won {
		border: b("primary");
	}

	.chat-card-v2.roll-card h4.card-result {
		background-color: color("background", 0.1);
		box-shadow: none;
		border: b("border");
		border-radius: $global-border-radius-default;
		color: inherit;

		@include layout {
			line-height: initial;
			font-size: inherit;
			font-weight: normal;
			margin: 0;
		}
	}
}
