@import "../base";

body#{$emu}.system-sfrpg {
	#sidebar,
	.sidebar-popout {
		.sidebar-tab {
			.directory-footer .browser-group {
				@include layout {
					gap: $global-space-base;
					width: 100%;
				}
			}
		}
	}

	#sidebar,
	.sidebar-popout {
		.sfrpg {
			&.chat-card {
				@include layout {
					font-size: $global-font-size-sm;
				}

				.card-buttons button,
				.card-header h3 {
					color: color("text");
					text-shadow: none;

					@include layout {
						font-family: inherit;
						line-height: initial;
						margin: 0;
					}

					> span {
						border: 0;

						@include layout {
							padding: 0 $global-space-base;
						}
					}
				}

				.card-header h3 {
					@include layout {
						align-items: center;
						display: inline-flex;
					}
				}

				.card-buttons button + button {
					@include layout {
						margin-block-start: $global-space-base;
					}
				}

				.card-header {
					border-block-start: b("border-lighter");
					border-block-end: b("border-lighter");
					margin-block-end: $global-space-base;

					@include layout {
						padding: $global-space-base 0;
					}
				}

				.card-content {
					@include layout {
						margin: $global-space-base 0;
					}
				}

				.card-footer {
					border-block-start: b("border-lighter");

					@include layout {
						display: flex;
						flex-wrap: wrap;
						gap: $global-space-base;
						margin-block-start: $global-space-base;
						padding-block-start: $global-space-base;
					}

					span {
						border-inline-end: b("border");

						@include layout {
							font-size: $global-font-size-xs;
							padding: 0;
							padding-inline-end: $global-space-base;
						}

						&:last-child {
							border-inline-end: none;
						}
					}
				}

				.card-buttons {
					@include layout {
						margin: $global-space-base 0;
					}

					button {
						border: b("border");
						color: color("text-lightest");

						@include layout {
							font-weight: normal;
						}
					}
				}
			}
		}
	}

	.app.chat-popout {
		.chat-message {
			color: color("text");
			text-shadow: none;
			background-color: transparent; }
		}
	}

	.window-app {
		@include layout {
			font-family: inherit;
		}

		.window-header {
			background: none;
		}

		.window-content {
			@include layout {
				font-family: inherit;
			}
		}
	}

	.sfrpg.sheet .sheet-header img.profile {
		object-fit: contain;
	}

	.item-browser {
		.control-area {
			@include layout {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding-inline-end: $global-space-sm;
				position: relative;
			}
		}

		.sortcontainer {
			border: none;
			border-radius: 0;

			@include layout {
				margin: 0;
				margin-block-end: $global-space-base;
				padding: 0;

				&#tagfilter input[type="text"] {
					height: $global-space-button;
				}

				dl dt {
					padding-inline-start: 0;
				}
			}
		}

		.hint {
			background-color: color("blue-500");
			border: none;
			border-radius: 0;
			color: color("white");

			@include layout {
				margin: $global-space-xs 0;
				padding: $global-space-base;
			}
		}

		.item-browser-filters {
			margin-block-start: $global-space-base;

			.filtercontainer {
				border: none;
				border-radius: 0;

				@include layout {
					margin: 0;
					margin-block-end: $global-space-base;
					padding: 0;

					&:last-child {
						margin-block-end: 0;
					}
				}

				h3 {
					background-color: color("background-light");
					border-block-end: b("border");
					color: color("text-lightest");

					@include layout {
						padding: $global-space-base $global-space-sm;
					}
				}

				dl {
					@include layout {
						display: flex;
						flex-wrap: wrap;
						gap: $global-space-base;

						dt {
							display: inline-flex;
							flex: 0 0 auto;
							padding: 0;
							width: auto;
						}

						dd {
							align-items: center;
							display: inline-flex;
							flex: 1 1 auto;
							margin: 0;
							padding: 0;
						}
					}
				}
			}
		}

		.header {
			@include layout {
				flex: 0 0 auto;
				padding: $global-space-xs $global-space-md;

				.item-image {
					height: auto;
					width: $global-space-button;
				}

				.item-sort-link {
					height: auto;
					margin: 0;
					padding-inline-start: $global-space-base;
				}
			}

			.item-sort-link:hover {
				color: color("primary");
				text-shadow: none;
			}
		}

		.item-list {
			background-color: transparent;

			@include layout {
				border-radius: 0;
				margin-block-start: $global-space-base;
				padding: $global-space-sm;
			}

			li {
				border-block-end: b("border-lighter");

				@include layout {
					line-height: initial;
					margin: 0;
					padding: $global-space-xs $global-space-base;

					.item-image {
						height: $global-space-button;
						max-width: $global-space-button;
					}

					.item-name,
					.item-tags {
						align-items: center;
						display: inline-flex;
						height: auto;
						margin: 0;
						padding-inline-start: $global-space-base;
					}

					.item-tags {
						justify-content: flex-end;
					}
				}

				&:hover {
					background-color: color("primary");
					color: color("text-lightest");

					a:hover {
						color: color("text-lightest");
					}
				}
			}
		}
	}
}
