@import "../node_modules/teq-tonic/core/_teq-tonic.scss";

@include settings(
	"animation-time" (
		"x-slow": 0.8s
	)
	"color" (
		"background-lightest": #e6e9eb, // c50
		"background-light": #7d8a8c, // c300
		"background": #293e40, // c500
		"background-darkest": #090e10, // c900
		"background-button": #7d7d7d, // g500
		"background-chat-message": #e6e9eb, // c50,
		"background-chat-message-whisper": #ecf1fc, //b50
		"background-chat-message-blind": #ffecf0, // r50
		"border-lighter": #a7b0b2, // c200
		"border": #213234, // c600
		"folder-header": #a7b0b2, // c200
		"folder-directory":  #536466, // c400
		"folder-subdirectory": #d1d6d8, // c100
		"primary": #e57509, // o500
		"text-lightest": #ffffff,
		"text": #090e10, // c900
		"text-darker": #293e40, // c500
		"warning": #edb950 // y500
	)
	"font-sizes" (
		"xxl": var(--emu-font-size-xxl),
		"xl": var(--emu-font-size-xl),
		"lg": var(--emu-font-size-lg),
		"md": var(--emu-font-size-md),
		"sm": var(--emu-font-size-sm),
		"xs": var(--emu-font-size-xs),
		"chat-roll": var(--emu-font-size-chat-roll)
	)
	"space" (
		"button-lg": var(--emu-space-button-lg),
		"button": var(--emu-space-button),
		"button-sm": var(--emu-space-button-sm),
		"button-xs": var(--emu-space-button-xs),
		"sidebar": var(--emu-space-sidebar),
		"icon": var(--emu-space-button),
		"pf": var(--emu-space-pf),
		"base": var(--emu-space-base),
		"xs": var(--emu-space-xs),
		"sm": var(--emu-space-sm),
		"md": var(--emu-space-md),
		"xl": var(--emu-space-xl)
	)
	"z-index" (
		"fixed": 10,
		"popover": 15
	)
);

// Shadows
$global-box-shadow: 0 2px 4px color("black");
$global-text-shadow: 1px 1px 2px color("black"), -1px -1px 2px color("black");

// Border Radius
$global-border-radius-default: var(--emu-border-radius-default, 0);
$global-border-radius-controls: var(--emu-border-radius-controls, 0);
$global-border-radius-forms: var(--emu-border-radius-forms, 0);
$global-border-radius-images: var(--emu-border-radius-images, 0);

// Image Background
$global-image-background: var(--emu-image-background, none);
$global-image-background-lightest: var(--emu-image-background-lightest, none);
$global-image-background-light: var(--emu-image-background-light, none);
$global-image-background-darkest: var(--emu-image-background-darkest, none);
$global-image-background-controls: var(--emu-image-background-controls, none);

// Background Opacity
$global-background-opacity-button-primary: var(--emu-background-opacity-button-primary, 1);
$global-background-opacity-hotbar: var(--emu-background-opacity-hotbar, 0.8);
$global-background-opacity-hud: var(--emu-background-opacity-hud, 0.8);
$global-background-opacity-players: var(--emu-background-opacity-players, 0.8);
$global-background-opacity-scene-control: var(--emu-background-opacity-scene-control, 0.8);
$global-background-opacity-scene-navigation: var(--emu-background-opacity-scene-navigation, 0.8);
$global-background-opacity-sidebar: var(--emu-background-opacity-sidebar, 0.8);
$global-background-opacity-window: var(--emu-background-opacity-window, 1);
$global-background-opacity-window-content: var(--emu-background-opacity-window-content, 1);

// Opacity
$global-subtle-opacity: var(--emu-subtle-opacity, 0.3);

// Mixins
@mixin layout($compact: null) {
	@if not $compact {
		.-emu-layout & {
			@content;
		}
	} @else {
		.-emu-layout.-emu-compact & {
			@content;
		}
	}
}

@mixin layout-logo($compact: null) {
	@if not $compact {
		.-emu-layout.-emu-logo & {
			@content;
		}
	} @else {
		.-emu-layout.-emu-logo.-emu-compact & {
			@content;
		}
	}
}

@mixin layout-subtle($compact: null) {
	@if not $compact {
		.-emu-layout.-emu-subtle-layout & {
			@content;
		}
	} @else {
		.-emu-layout.-emu--subtle-layout.-emu-compact & {
			@content;
		}
	}
}

@mixin layout-control-align-top($compact: null) {
	@if not $compact {
		.-emu-layout.-emu-control-align-top & {
			@content;
		}
	} @else {
		.-emu-layout.-emu-control-align-top.-emu-compact & {
			@content;
		}
	}
}

@mixin layout-scene-thumbs($compact: null) {
	@if not $compact {
		.-emu-layout.-emu-scene-thumbs & {
			@content;
		}
	} @else {
		.-emu-layout.-emu-scene-thumbs.-emu-compact & {
			@content;
		}
	}
}

@mixin layout-players($compact: null) {
	@if not $compact {
		.-emu-layout.-emu-players & {
			@content;
		}
	} @else {
		.-emu-layout.-emu-players.-emu-compact & {
			@content;
		}
	}
}

@mixin system($system, $compact: null) {
	@if not $compact {
		@at-root .-emu-layout body.-emu.system-#{$system} {
			@content;
		}
	}
}

// Animations
@keyframes emu-notification-flash {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

// Shared
@import "./shared/buttons";
@import "./shared/clean-elements";
@import "./shared/form-elements";
@import "./shared/panel";
@import "./shared/states";
@import "./shared/table";
@import "./shared/tabs";
@import "./shared/utils";
@import "./shared/window";
