:root {
	@include css-vars($_palette-default);
	--emu-background-opacity-button-primary: 1;
	--emu-background-opacity-hotbar: 0.8;
	--emu-background-opacity-hud: 0.8;
	--emu-background-opacity-players: 0.8;
	--emu-background-opacity-scene-control: 0.8;
	--emu-background-opacity-scene-navigation: 0.8;
	--emu-background-opacity-sidebar: 0.8;
	--emu-background-opacity-window: 1;
	--emu-background-opacity-window-content: 1;
	--emu-border-radius-default: 0;
	--emu-border-radius-controls: 0;
	--emu-border-radius-forms: 0;
	--emu-border-radius-images: 0;
	--emu-image-background: none;
	--emu-image-background-lightest: none;
	--emu-image-background-light: none;
	--emu-image-background-darkest: none;
	--emu-image-background-controls: none;
	--emu-font-size-xxl: #{to-rem(24px)};
	--emu-font-size-xl: #{to-rem(20)};
	--emu-font-size-lg: #{to-rem(16px)};
	--emu-font-size-md: #{to-rem(14px)};
	--emu-font-size-sm: #{to-rem(12px)};
	--emu-font-size-xs: #{to-rem(10px)};
	--emu-font-size-chat-roll: #{to-rem(18px)};
	--emu-subtle-opacity: 0.3;
	--emu-space-pf: #{to-rem(1px)};
	--emu-space-xs: #{to-rem(2px)};
	--emu-space-base: #{to-rem(4px)};
	--emu-space-sm: #{to-rem(8px)};
	--emu-space-md: #{to-rem(16px)};
	--emu-space-lg: #{to-rem(24px)};
	--emu-space-xl: #{to-rem(32px)};
	--emu-space-button-lg: #{to-rem(40px)};
	--emu-space-button: #{to-rem(32px)};
	--emu-space-button-sm: #{to-rem(24px)};
	--emu-space-button-xs: #{to-rem(20px)};
	--emu-space-sidebar: #{to-rem(320px)};
	scrollbar-color: color("charcoal-300") color("black", 0.5);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: #{space("sm")};
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 1px color("background-darkest", 0.5);
	border: none;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background-color: color("background-light");
	border: none;
	border-radius: $global-border-radius-default;
	outline: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

@keyframes emu-notification-flash {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

html.-emu-layout.-emu-compact {
	--emu-space-base: #{to-rem(2px)};
	--emu-space-sm: #{to-rem(4px)};
	--emu-space-md: #{to-rem(8px)};
	--emu-space-lg: #{to-rem(12px)};
	--emu-space-xl: #{to-rem(16px)};
	--emu-space-button-lg: #{to-rem(32px)};
	--emu-space-button: #{to-rem(24px)};
	--emu-space-button-sm: #{to-rem(20px)};
	--emu-space-button-xs: #{to-rem(18px)};
	--emu-space-sidebar: #{to-rem(286px)};
}

body {
	background-color: color("background-darkest");
	background-image: $global-image-background-darkest;
	box-shadow: none;

	@include layout {
		font-size: fs("md");
	}

	::selection {
		background-color: color("gray-200");
	}
}
