:root {
	@include css-color-variable-creation($global-palette-default);
	--emu-background-opacity-button-primary: 1;
	--emu-background-opacity-hotbar: 0.8;
	--emu-background-opacity-hud: 0.8;
	--emu-background-opacity-players: 0.8;
	--emu-background-opacity-scene-control: 0.8;
	--emu-background-opacity-scene-navigation: 0.8;
	--emu-background-opacity-sidebar: 0.8;
	--emu-background-opacity-window: 1;
	--emu-background-opacity-window-content: 1;
	--emu-border-radius-default: 0;
	--emu-border-radius-controls: 0;
	--emu-border-radius-forms: 0;
	--emu-border-radius-images: 0;
	--emu-image-background: none;
	--emu-image-background-lightest: none;
	--emu-image-background-light: none;
	--emu-image-background-darkest: none;
	--emu-image-background-controls: none;
	--emu-font-size-xxl: 24px;
	--emu-font-size-xl: 20px;
	--emu-font-size-lg: 16px;
	--emu-font-size-md: 14px;
	--emu-font-size-sm: 12px;
	--emu-font-size-xs: 10px;
	--emu-font-size-chat-roll: 18px;
	--emu-subtle-opacity: 0.3;
	--emu-space-pf: 1px;
	--emu-space-xs: 2px;
	--emu-space-base: 4px;
	--emu-space-sm: 8px;
	--emu-space-md: 16px;
	--emu-space-lg: 24px;
	--emu-space-xl: 32px;
	--emu-space-button-lg: 40px;
	--emu-space-button: 32px;
	--emu-space-button-sm: 24px;
	--emu-space-button-xs: 20px;
	--emu-space-sidebar: 320px;
	scrollbar-color: RGB($emu-color-charcoal) RGBA($emu-color-black, 0.5);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: #{$global-space-sm};
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 1px RGBA($emu-color-background-darkest, 0.5);
	border: none;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background-color: RGB($emu-color-background-light);
	border: none;
	border-radius: $global-border-radius-default;
	outline: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

@keyframes emu-notification-flash {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

html.-emu-layout.-emu-compact {
	--emu-space-base: 2px;
	--emu-space-sm: 4px;
	--emu-space-md: 8px;
	--emu-space-lg: 12px;
	--emu-space-xl: 16px;
	--emu-space-button-lg: 32px;
	--emu-space-button: 24px;
	--emu-space-button-sm: 20px;
	--emu-space-button-xs: 18px;
	--emu-space-sidebar: 286px;
}

html.-emu-layout {
	font-size: $global-font-size-lg !important;
}

body {
	background-color: RGB($emu-color-background-darkest);
	background-image: $global-image-background-darkest;
	background-repeat: repeat;
	background-size: auto;
	box-shadow: none;

	@include layout {
		font-size: $global-font-size-md;
		height: 100vh;
		margin: 0;
		overflow: hidden;
		width: 100vw;

		&.game {
			display: flex;
			justify-content: flex-start;
		}

		&:not(.background) {
			bottom: 0;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
		}
	}

	::selection {
		background-color: color("gray-200");
	}
}
