@import "base";

:root {
	@include css-vars($_palette-default);
	scrollbar-color: color("charcoal-300") color("black", 0.5);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: to-rem(8px);

	.-compact & {
		width: to-rem(4px);
	}
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px 0 color("charcoal-900", 0.5);
	border: none;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	background: color("charcoal-300");
	border: none;
	border-radius: 0;
	outline: none;
}

*::before,
*::after {
	box-sizing: border-box;
}

body.emu.e-body#emu {
	::selection {
		background: color("gray-200");
	}

	// Components
	@import "./components/context-menu";
	@import "./components/dialog";
	@import "./components/hotbar";
	@import "./components/loading-bar";
	@import "./components/logo";
	@import "./components/menu";
	@import "./components/notes-hints";
	@import "./components/notifications";
	@import "./components/pause";
	@import "./components/players-connected";
	@import "./components/scene-controls";
	@import "./components/scene-navigation";
	@import "./components/window-app";

	// Sidebar
	@import "./components/sidebar";
	@import "./components/sidebar-chat"; // 1
	.-emu-sidebar-combat & { @import "./components/sidebar-combat"; } // 2
	@import "./components/sidebar-scenes"; // 3
	@import "./components/sidebar-actors"; // 4
	@import "./components/sidebar-items"; // 5
	@import "./components/sidebar-journal"; // 6
	@import "./components/sidebar-tables"; // 7
	@import "./components/sidebar-playlists"; // 8
	@import "./components/sidebar-compendium"; // 9
	@import "./components/sidebar-settings"; // 10

	// Sheets Bulk
	@import "./components/sheet-actor-flags";
	@import "./components/sheet-client-settings";
	@import "./components/sheet-combat-config";
	@import "./components/sheet-drawing-config";
	@import "./components/sheet-filepicker";
	@import "./components/sheet-folder-edit";
	@import "./components/sheet-grid-config";
	@import "./components/sheet-light-config";
	@import "./components/sheet-macro";
	@import "./components/sheet-note-config";
	@import "./components/sheet-permission";
	@import "./components/sheet-player-config";
	@import "./components/sheet-scene";
	@import "./components/sheet-sheet-config";
	@import "./components/sheet-short-rest-hd";
	@import "./components/sheet-sound-config";
	@import "./components/sheet-template-config";
	@import "./components/sheet-tile-config";
	@import "./components/sheet-token";
	@import "./components/sheet-track-config";
	@import "./components/sheet-trait-selector";
	@import "./components/sheet-wall-config";

	// Module Compatibility
	@import "./module-compatibility/batch-folder-permissions";
	@import "./module-compatibility/calendar-weather";
	@import "./module-compatibility/combat-utility-belt";
	@import "./module-compatibility/custom-hotbar";
	@import "./module-compatibility/dancing-lights";
	@import "./module-compatibility/dice-tray";
	@import "./module-compatibility/dungeondraft-importer";
	@import "./module-compatibility/foriens-quest-log";
	@import "./module-compatibility/furnace";
	@import "./module-compatibility/fx-master";
	@import "./module-compatibility/lmrtfy";
	@import "./module-compatibility/permission-viewer";
	@import "./module-compatibility/plutonium";
	@import "./module-compatibility/rolltable-button";
	@import "./module-compatibility/response-time";
	@import "./module-compatibility/tidy-ui-game-settings";
	@import "./module-compatibility/token-action-hud";
	@import "./module-compatibility/token-mold";
	@import "./module-compatibility/tweak-playlist";
}
