@import "base";

// Foundry Resets
@import "./reset/base";
@import "./reset/chat";
@import "./reset/context-menu";
@import "./reset/hotbar";
@import "./reset/loading-bar";
@import "./reset/pause";
@import "./reset/players-connected";
@import "./reset/scene-controls";
@import "./reset/scene-navigation";
@import "./reset/sidebar";
@import "./reset/window-app";

*::before,1
*::after {
	box-sizing: border-box;
}

// start vtt wrapper
body.eml.e-body#eml {
	// Scroll Bars
	::-webkit-scrollbar {
		width: to-rem(8px);

		.-compact & {
			width: to-rem(4px);
		}
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 2px 0 color("black", 0.3);
		border-radius: 0;
	}

	::-webkit-scrollbar-thumb {
		background: color("charcoal-300");
		border-radius: 0;
		outline: none;
	}

	// Selection
	::selection {
		background: color("gray-200");
	}

	// Window App
	@import "./components/window-app";

	// Logo
	@import "./components/logo";

	// Scene Navigation
	@import "./components/scene-navigation";

	// Loading Bar
	@import "./components/loading-bar";

	// Scene Controls
	@import "./components/scene-controls";

	// Sidebar
	@import "./components/sidebar";

	// Chat
	@import "./components/chat";

	// Players Connected
	@import "./components/players-connected";

	// Hotbar
	@import "./components/hotbar";

	// Pause
	@import "./components/pause";

	// Context Menu
	@import "./components/context-menu";

	// Garbage - fix once I move to globals
	// Window App Compendium
	@import "./components/window-app-compendium";

	// Module Compatibility
	@import "./module-compatibility/tidy-ui-game-settings";
	@import "./module-compatibility/combat-utility-belt";
	@import "./module-compatibility/dungeondraft-importer";
	@import "./module-compatibility/foriens-quest-log";
	@import "./module-compatibility/furnace";
	@import "./module-compatibility/fx-master";
	@import "./module-compatibility/permission-viewer";
	@import "./module-compatibility/rolltable-button";
	@import "./module-compatibility/response-time";
	@import "./module-compatibility/token-mold";
	@import "./module-compatibility/tweak-playlist";

	// Plutonium Weirdness
	@import "./module-compatibility/plutonium";
}
