@import "base";
@import "init";

body#{$emu} {
	// Base
	.dialog,
	#sidebar,
	.window-app:not([id*="Actor-"]):not([id*="Item-"]) {
		@import "./base/base-button";
		@import "./base/base-directory";
		@import "./base/base-form-elements";
		@import "./base/base-forms";
		@import "./base/base-image";
		@import "./base/base-table";
		@import "./base/base-tabs";
		@import "./base/base-text";
		@import "./base/base-tox-editor";
	}

	// Components
	@import "./components/context-menu";
	@import "./components/dialog";
	@import "./components/fps";
	@import "./components/hotbar";
	@import "./components/hud";
	@import "./components/loading-bar";
	@import "./components/logo";
	@import "./components/menu";
	@import "./components/notifications";
	@import "./components/pause";
	@import "./components/players-connected";
	@import "./components/scene-controls";
	@import "./components/scene-navigation";
	@import "./components/tooltip";
	@import "./components/ui-layout";
	@import "./components/window-app";

	// Sidebar
	@import "./components/sidebar";
	@import "./components/sidebar-chat";
	@import "./components/sidebar-combat";
	@import "./components/sidebar-scenes";
	@import "./components/sidebar-actors";
	@import "./components/sidebar-tables";
	@import "./components/sidebar-playlists";
	@import "./components/sidebar-compendium";
	@import "./components/sidebar-settings";

	// Sheets
	@import "./sheets/activeeffect-sheet";
	@import "./sheets/av-config";
	@import "./sheets/cards-sheet";
	@import "./sheets/chat-popout";
	@import "./sheets/client-settings";
	@import "./sheets/filepicker";
	@import "./sheets/journal-show";
	@import "./sheets/journalentry-sheet";
	@import "./sheets/journalentrypage-sheet";
	@import "./sheets/macro-config";
	@import "./sheets/module-management";
	@import "./sheets/package-configuration";
	@import "./sheets/rolltable-sheet";
	@import "./sheets/template-config";
	@import "./sheets/trait-selector";
	@import "./sheets/user-config";
	@import "./sheets/user-sheet"; // depricated

	// Module Compatibility
	@import "./module-compatibility/always-hp";
	@import "./module-compatibility/better-roll-5e";
	@import "./module-compatibility/better-roofs";
	@import "./module-compatibility/cautious-gamemaster-pack";
	@import "./module-compatibility/chat-portrait";
	@import "./module-compatibility/combat-enhancements";
	@import "./module-compatibility/combat-focus";
	@import "./module-compatibility/combat-ready";
	@import "./module-compatibility/combat-utility-belt";
	@import "./module-compatibility/compendium-browser";
	@import "./module-compatibility/compendium-folders";
	@import "./module-compatibility/custom-hotbar";
	@import "./module-compatibility/df-chat-enhancements";
	@import "./module-compatibility/df-curvy-walls";
	@import "./module-compatibility/dfreds-droppables";
	@import "./module-compatibility/dice-so-nice";
	@import "./module-compatibility/dice-tray";
	@import "./module-compatibility/dnd5e-helpers";
	@import "./module-compatibility/ernies-modern-ui";
	@import "./module-compatibility/fx-master";
	@import "./module-compatibility/gm-notes";
	@import "./module-compatibility/gm-screen";
	@import "./module-compatibility/hey-listen";
	@import "./module-compatibility/illandrils-chat-enhancements";
	@import "./module-compatibility/lib-wrapper";
	@import "./module-compatibility/lmrtfy";
	@import "./module-compatibility/macro-editor";
	@import "./module-compatibility/maestro";
	@import "./module-compatibility/midi-qol";
	@import "./module-compatibility/monster-block";
	@import "./module-compatibility/narrator-tools";
	@import "./module-compatibility/party-resources";
	@import "./module-compatibility/pdf-foundry";
	@import "./module-compatibility/permission-viewer";
	@import "./module-compatibility/plutonium";
	@import "./module-compatibility/polyglot";
	@import "./module-compatibility/search-anywhere";
	@import "./module-compatibility/simple-calendar";
	@import "./module-compatibility/simple-dice-roller";
	@import "./module-compatibility/small-time";
	@import "./module-compatibility/tabbed-chat-log";
	@import "./module-compatibility/tidy-game-settings";
	@import "./module-compatibility/tidy-sheet";
	@import "./module-compatibility/token-action-hud";
	@import "./module-compatibility/token-attacher";
	@import "./module-compatibility/token-hud-wildcard";
	@import "./module-compatibility/token-info-icon";
	@import "./module-compatibility/token-magic-fx";
	@import "./module-compatibility/token-mold";
	@import "./module-compatibility/universal-battlemap-importer";
	@import "./module-compatibility/world-anvil";
}
