%default-button {
	background-image: $global-image-background-controls;
	border: none;
	border-radius: $global-border-radius-controls;
	box-shadow: none;
	color: color("text-lightest");
	text-shadow: none;
	transition: t(background box-shadow color, "link");

	@include layout {
		align-items: center;
		cursor: pointer;
		display: inline-flex;
		font-size: $global-font-size-lg;
		font-family: inherit;
		height: initial;
		justify-content: center;
		line-height: 1;
		margin: 0;
		padding: $global-space-sm;
		position: relative;

		> i {
			margin-inline-end: $global-space-sm;
		}
	}

	&:hover {
		@extend %global-hover;
		background-color: color("primary");
		background-image: none;
		color: color("text-lightest");
	}

	&:focus {
		@extend %global-focus;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.active {
		@extend %global-active;
	}
}

%primary-button {
	@extend %default-button;
	background-color: color("background-button", $global-background-opacity-button-primary);
}

%primary-button-simple-reset {
	background-color: color("background-button", $global-background-opacity-button-primary);
	background-image: $global-image-background-controls;
	border: none;

	@include layout {
		margin: 0;
	}

	&:hover {
		background-color: color("primary");
		background-image: none;
		color: color("text-lightest");
	}
}

%secondary-button {
	@extend %default-button;
}

%control-button {
	@extend %default-button;

	@include layout {
		@include size($global-space-button-sm);
		flex: 0 0 auto;
		font-size: $global-font-size-sm;
		padding: 0;

		> i {
			margin: 0;
		}
	}
}

%link-button {
	text-shadow: none;

	&:hover {
		color: color("primary");
	}
}
