%default-button {
	background-image: $global-image-background-controls;
	border-color: transparent;
	box-shadow: none;
	color: RGB($emu-color-text-lightest);
	text-shadow: none;

	@include layout {
		align-items: center;
		border-radius: $global-border-radius-controls;
		border-style: solid;
		border-width: 0;
		cursor: pointer;
		display: inline-flex;
		font-size: $global-font-size-lg;
		font-family: inherit;
		gap: $global-space-sm;
		height: initial;
		justify-content: center;
		line-height: unset;
		margin: 0;
		min-height: $global-space-button;
		padding: $global-space-base $global-space-sm;
		position: relative;
		transition:
			background $global-transition-time-base $global-transition-type-link,
			box-shadow $global-transition-time-base $global-transition-type-link,
			color $global-transition-time-base $global-transition-type-link;

		> i {
			margin: 0;
		}
	}

	&:hover {
		@extend %global-hover;
		background-color: RGB($emu-color-primary);
		background-image: none;
		color: RGB($emu-color-text-lightest);
	}

	&:active {
		background-color: RGB($emu-color-primary-darker);
	}

	&:focus {
		@extend %global-focus;
	}

	&:disabled {
		@include layout {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&.active {
		@extend %global-active;
	}

	> label {
		color: inherit !important; // because inline

		@include layout {
			font-size: inherit !important; // because inline
		}
	}
}

%primary-button {
	@extend %default-button;
	background-color: RGBA($emu-color-background-button, $global-background-opacity-button-primary);
}

%primary-button-simple-reset {
	background-color: RGBA($emu-color-background-button, $global-background-opacity-button-primary);
	background-image: $global-image-background-controls;
	border-color: transparent;

	@include layout {
		border-style: solid;
		border-width: 0;
		margin: 0;
	}

	&:hover {
		background-color: RGB($emu-color-primary);
		background-image: none;
		color: RGB($emu-color-text-lightest);
	}

	&:active {
		background-color: RGB($emu-color-primary-darker);
	}
}

%secondary-button {
	@extend %default-button;
}

%control-button {
	@extend %default-button;

	@include layout {
		flex: 0 0 auto;
		font-size: $global-font-size-sm;
		height: $global-space-button-sm;
		min-height: $global-space-button-sm;
		padding: 0;
		width: $global-space-button-sm;

		> i {
			margin: 0;
		}
	}
}

%link-button {
	text-shadow: none;

	&:hover {
		color: RGB($emu-color-primary);
	}

	&:active {
		color: RGB($emu-color-primary-darker);
	}
}
