%clean-elements {
	button {
		background-color: RGBA($emu-color-background-button, $global-background-opacity-button-primary);
		background-image: $global-image-background-controls;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		color: RGB($emu-color-text-lightest);
		text-shadow: none;
		transition:
			background $global-transition-time-base $global-transition-type-link,
			box-shadow $global-transition-time-base $global-transition-type-link,
			color $global-transition-time-base $global-transition-type-link;

		&:hover {
			@extend %global-hover;
			background-color: RGB($emu-color-primary);
			background-image: none;
			color: RGB($emu-color-text-lightest);
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&.active {
			@extend %global-active;
		}
	}

	input[type="text"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="password"],
	input[type="datetime-local"] {
		background: transparent;
		border-radius: $global-border-radius-forms;
		box-shadow: none;
		color: RGB($emu-color-text);
		transition: box-shadow $global-transition-time-base $global-transition-type-link;

		&::placeholder {
			color: RGBA($emu-color-text, 0.5);
		}

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	input[type="checkbox"] {
		background: transparent;
		border: 1px solid RGB($emu-color-border-lighter);
		border-radius: $global-border-radius-forms;
		box-shadow: none;
		color: RGB($emu-color-text);
		transition: box-shadow $global-transition-time-base $global-transition-type-link;

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:checked {
			background-color: RGB($emu-color-primary);
			color: RGB($emu-color-text-lightest);
		}
	}

	input[type="color"],
	input[type="color"][data-edit] {
		background: transparent;
		border-radius: $global-border-radius-forms;
		transition: box-shadow $global-transition-time-base $global-transition-type-link;

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	select {
		background: transparent;
		border-radius: $global-border-radius-forms;
		box-shadow: none;
		color: RGB($emu-color-text);
		transition: box-shadow $global-transition-time-base $global-transition-type-link;

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		optgroup,
		option {
			background-color: RGB($emu-color-background-lightest);
			color: RGB($emu-color-text);
		}
	}

	textarea {
		background: transparent;
		border-radius: $global-border-radius-forms;
		color: RGB($emu-color-text);
		transition: box-shadow $global-transition-time-base $global-transition-type-link;

		&::placeholder {
			color: RGB($emu-color-text, 0.5);
		}

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	fieldset {
		border: none;
	}

	table {
		background-color: RGBA($emu-color-black, 0.05);
		border: none;

		thead {
			background-color: RGBA($emu-color-black, 0.2);
			border-block-end: 1px solid RGB($emu-color-border);
			color: RGB($emu-color-text-lightest);
			text-shadow: none;
		}

		tr:nth-child(even) {
			background-color: RGBA($emu-color-white, 0.1);
		}
	}

	h1,
	h2,
	h3,
	h4 {
		font-weight: normal;
	}

	h1 {
		border-block-end: 2px solid RGB($emu-color-border);
	}

	h2 {
		border-block-end: 1px solid RGB($emu-color-border);
	}

	a {
		text-shadow: none;

		&:hover {
			color: RGB($emu-color-primary);
		}
	}

	a[href] {
		color: RGB($emu-color-primary);
		text-decoration: none;
		text-shadow: none;

		&:hover {
			text-decoration: underline;
			text-shadow: none;
		}

		&:focus {
			@extend %global-focus;
		}
	}

	a.entity-link,
	a.inline-roll {
		background-color: RGB($emu-color-background-lightest);
		box-shadow: 0 0 0 1px inset RGB($emu-color-border);
		border: none;
		border-radius: $global-border-radius-controls;

		> i {
			color: inherit;
		}
	}

	hr {
		border: none;
		border-block-start: 1px solid RGB($emu-color-border);
		border-block-end: none;
	}

	blockquote {
		border-inline-start: 3px solid RGB($emu-color-border);
	}

	section.secret {
		background-color: RGBA($emu-color-background-light, 0.2);
		border-block-start: 1px solid RGB($emu-color-border);
		border-block-end: 1px solid RGB($emu-color-border);
	}
}
