%directory-list {
	@extend %reset-list;
	flex: 1 1 auto;
	min-height: to-rem(1px);
	overflow-y: auto;
}

%directory-item {
	align-items: center;
	background: color("folder-directory");
	border: none;
	border-radius: var(--emu-border-radius-default);
	box-shadow: none;
	color: color("text-lightest");
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	height: auto;
	line-height: 1;
	margin: m("base") m("sm");
	min-height: to-rem(32px);
	padding: 0 p("sm");
	position: relative;
	transition: t(background box-shadow color, "link");
	width: auto;

	.-compact & {
		margin: m("base");
		min-height: to-rem(24px);
		padding: 0 p("base");
	}

	&:hover {
		@extend %global-hover;
		background: color("primary");
		color: color("text-lightest");
	}

	&:focus {
		@extend %global-focus;
	}

	&.folder,
	&.playlist {
		background: transparent;
		cursor: default;
		margin: 0;
		padding: p("base") p("sm");
		padding-block-end: 0;

		.-compact & {
			padding: p("base");
			padding-block-end: 0;
		}

		&:hover,
		&:focus {
			background: transparent;
			box-shadow: none;
		}
	}

	img {
		@extend %reset-image;
		@include size(space("icon"));
		border-radius: var(--emu-border-radius-images);
		cursor: move;
		flex: 0 0 auto;
		margin-block-start: m("base");
		margin-block-end: m("base");
		margin-inline-end: m("sm");

		.-compact & {
			@include size(to-rem(20px));
			margin-inline-end: m("base");
		}
	}

	h3,
	h4 {
		@extend %h-tag;
		@extend %button-icon;
		@include ellipsis;
		color: inherit;
		flex: 1 1 auto;
		font-size: fs("lg");
		line-height: 1;
		padding: 0;
		text-align: start;
		text-shadow: none;

		> a {
			@include ellipsis;
			color: inherit;
			cursor: pointer;
			display: block;
			flex: 1 1 auto;
			font-size: fs("lg");
			line-height: to-rem(32px); // figure out a better way
			position: relative;
			text-shadow: none;
			transition: t(color, "link");

			.-compact & {
				line-height: to-rem(24px); // figure out a better way
			}
		}
	}
}

%directory-subdirectory {
	padding-block-start: p("base");

	.subdirectory {
		display: flex;
		flex-direction: column;
		background: color("folder-subdirectory");
		border: none;
		border-inline-start: b("primary", 4px);
		width: 100%;

		.directory-item.folder {
			padding-block-end: p("base");
			padding-inline-end: 0;

			.-compact & {
				padding-block-end: p("base");
				padding-inline-end: 0;
			}

			+ .directory-item.folder {
				padding-block-start: 0;

				.-compact & {
					padding-block-start: 0;
				}
			}

			+ .directory-item:not(.folder) {
				margin-block-start: 0;

				.-compact & {
					margin-block-start: 0;
				}
			}
		}

		.directory-item:not(.folder) {
			+ .directory-item:not(.folder) {
				margin-block-start: 0;

				.-compact & {
					margin-block-start: 0;
				}
			}
		}

		.subdirectory {
			border-inline-start: b("orange-700", 4px);

			.subdirectory {
				border-inline-start: b("orange-900", 4px);
			}
		}
	}
}
