%form-group {
	align-items: center;
	color: color("text");
	display: flex;
	flex-wrap: wrap;
	font-size: fs("lg");
	justify-content: space-between;
	margin: 0;
	padding: p("sm");

	.-compact & {
		padding: p("base");
	}

	&:nth-of-type(even) {
		background: color("background-light", 0.1);
	}

	&.initial-position {
		.form-fields {
			align-items: center;
			display: inline-flex;
			width: 1px; // hacky hack hack

			input {
				flex: 1 1 auto;

				&[type="text"] {
					width: 1px; // hack hack
				}
			}

			label {
				flex: 0 0 auto;
				padding-inline-start: p("sm");
				padding-inline-end: p("base");

				.-compact & {
					padding-inline-start: p("base");
				}
			}
		}
	}

	&.stacked {
		padding: 0;
		padding-block-start: p("sm");

		.-compact & {
			padding-block-start: p("base");
		}
	}

	&.hidden {
		display: none;
	}

	input,
	select {
		flex: 1 1 auto;
		width: 1px; // hack

		&[type="checkbox"] {
			-webkit-filter: initial;
			flex: 0 0 auto;
			width: to-rem(20px);

			.-compact & {
				width: to-rem(16px);
			}
		}

		&[type="radio"] {
			flex: 0 0 auto;
			margin-inline-end: m("sm");
			width: auto;

			.-compact & {
				margin-inline-end: m("xs");
			}
		}

		+ .notes {
			margin-block-start: m("sm");

			.-compact & {
				margin-block-start: m("base");
			}
		}

		+ input {
			flex: 1 1 25%;
			margin-inline-start: m("base");

			&[type="checkbox"],
			&[type="radio"] {
				flex: 0 0 auto;
			}
		}
	}

	label {
		align-items: center;
		display: inline-flex;
		flex: 0 0 40%;
		font-size: fs("md");
		line-height: initial;
		padding-inline-end: p("base");

		.units {
			@include ellipsis;
			color: color("text");
			display: block;
			font-size: fs("sm");
			line-height: initial;
			margin: 0 m("base");
		}

		> i {
			margin-inline-end: m("base");
		}
	}

	.form-fields {
		display: flex;
		flex: 1 1 auto;

		input,
		select {
			flex: 1 1 100%;

			&[type="checkbox"] {
				-webkit-filter: initial;
				flex: 0 0 auto;
				width: to-rem(20px);

				.-compact & {
					width: to-rem(16px);
				}
			}

			&[type="radio"] {
				flex: 0 0 auto;
				margin-inline-end: m("sm");
				width: auto;

				.-compact & {
					margin-inline-end: m("xs");
				}
			}

			+ input,
			+ select {
				flex: 1 1 25%;
				margin-inline-start: m("base");
			}
		}

		button {
			margin-inline-start: m("base");
			width: auto;

			&.file-picker,
			&.grid-config,
			&.capture-position {
				> i {
					margin-inline-end: 0;
				}
			}

			+ input {
				order: -1;
			}

			// :(
			&.file-picker + input[type="text"] {
				margin-right: 0 !important;
			}
		}
	}

	.form-fields,
	.range-value,
	input[type="checkbox"] {
		+ .notes,
		+ .hint {
			margin-block-start: m("sm");

			.-compact & {
				margin-block-start: m("base");
			}
		}
	}
}
