%panel-block {
	background-color: color("background", $global-background-opacity-sidebar);
	background-image: $global-image-background;
	border: none;
	color: color("text-lightest");

	@include layout {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		gap: $global-space-base;
		line-height: initial;
		margin: 0;
		padding: $global-space-sm;
		position: relative;
		text-align: start;

		&:empty {
			display: none;
		}
	}
}
