%panel-block {
	background-color: color("background", 0.5);
	background-image: $global-image-background;
	border: none;
	color: color("text-lightest");

	@include layout {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		line-height: initial;
		margin: 0;
		padding: p("sm");
		position: relative;
		text-align: start;

		&:empty {
			display: none;
		}
	}
}
