%global-hover {
	box-shadow:
		inset 0 0 0 2px RGB($emu-color-white);
	text-shadow: none;
}

%global-hover-alt {
	box-shadow:
		inset 0 0 0 2px RGB($emu-color-primary);
	text-shadow: none;
}

%global-focus {
	box-shadow:
		inset 0 0 0 2px RGB($emu-color-primary),
		inset 0 0 0 3px RGB($emu-color-white),
		0 1px 2px 0 RGBA($emu-color-black, 0.3);
	text-shadow: none;
	outline: none;
}

%global-active {
	background-color: RGB($emu-color-primary);
	color: RGB($emu-color-text-lightest);
	text-shadow: none;

	&:hover {
		background-color: RGB($emu-color-primary);
		color: RGB($emu-color-text-lightest);
		text-shadow: none;
	}

	&:focus {
		@extend %global-focus;
	}
}
