%modal-tabs {
	border-block-start: none;
	border-block-end: b("primary", 2px);

	@include layout {
		display: flex;
		flex: 0 0 auto;
		height: initial;
		line-height: initial;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}

	a {
		@extend %primary-button;
		background-color: transparent;
		background-image: none;
		border-radius: $global-border-radius-default $global-border-radius-default 0 0;
		color: color("text");

		@include layout {
			flex: 1;
			font-size: $global-font-size-md;
			font-weight: normal;
			text-shadow: none;
		}

		&.active {
			@extend %global-active;

			@include layout {
				text-decoration: none;
			}
		}
	}
}
