%modal-tabs {
	border-block-start: none;
	border-block-end: b("orange-700", 2px);
	display: flex;
	flex: 0 0 auto;
	height: initial;
	line-height: initial;
	margin: 0;
	position: relative;

	a {
		@extend %primary-button;
		@extend %button-icon;
		background: transparent;
		color: color("text");
		flex: 1 1 auto;
		font-size: fs("md");
		text-shadow: none;
	}
}
