%table-header {
	align-items: center;
	background: color("background", 0.1);
	border: none;
	border-block-end: b("border");

	@include layout {
		height: auto;
		margin-block-start: m("base");
		padding: p("sm");

		> div {
			height: auto;
			line-height: initial;
			margin: 0;
			padding: 0;
			padding-inline-start: p("base");

			&:first-of-type {
				padding-inline-start: 0;
			}
		}
	}

	@include layout(compact) {
		margin-block-start: m("xs");
		padding: p("base");
	}

	a {
		@extend %link-button;
		color: color("text");

		@include layout {
			@extend %control-button;
			color: color("text");
		}
	}
}

%table-row {
	align-items: center;
	border: none;

	@include layout {
		height: auto;
		padding: p("sm");

		> div {
			align-items: center;
			display: flex;
			height: auto;
			line-height: initial;
			margin: 0;
			padding: 0;
			padding-inline-start: p("base");

			&:first-of-type {
				padding-inline-start: 0;
			}
		}
	}

	@include layout(compact) {
		padding: p("base");
	}

	a {
		@extend %link-button;
		color: color("text");

		@include layout {
			@extend %control-button;
			color: color("text");
		}
	}
}
