%table-header {
	align-items: center;
	background: RGBA($emu-color-background, 0.1);
	border: none;
	border-block-end: 1px solid RGB($emu-color-border);

	@include layout {
		height: auto;
		padding: $global-space-sm;
		width: 100%;

		> div {
			height: auto;
			line-height: initial;
			margin: 0;
			padding: 0;
			padding-inline-start: $global-space-base;

			&:first-of-type {
				padding-inline-start: 0;
			}
		}
	}

	a {
		@extend %link-button;
		color: RGB($emu-color-text);

		@include layout {
			@extend %control-button;
			color: RGB($emu-color-text);
		}
	}
}

%table-row {
	align-items: center;
	border: none;

	@include layout {
		height: auto;
		padding: $global-space-sm;

		> div {
			align-items: center;
			display: flex;
			height: auto;
			line-height: initial;
			margin: 0;
			padding: 0;
			padding-inline-start: $global-space-base;

			&:first-of-type {
				padding-inline-start: 0;
			}
		}
	}

	a {
		@extend %link-button;
		color: RGB($emu-color-text);

		@include layout {
			@extend %control-button;
			color: RGB($emu-color-text);
		}
	}
}
