%h-tag {
	font-weight: normal;
	margin: 0;
	position: relative;
}

%h1 {
	@extend %h-tag;
	column-span: all;
	font-size: fs("xxxl");
}

%h2 {
	@extend %h-tag;
	font-size: fs("xxl");
}

%h3 {
	@extend %h-tag;
	font-size: fs("xl");
}

%h4 {
	@extend %h-tag;
	font-size: fs("lg");
}

%h5 {
	@extend %h-tag;
	font-size: fs("md");
	text-transform: uppercase;
}
