%window-common {
	.window-content {
		@include layout {
			padding: 0;
		}
	}

	form {
		@include layout {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			gap: $global-space-base;
			height: 100%;
			padding: $global-space-sm;
			position: relative;
		}
	}
}
