// -----------------------------------------
//  Sheet Styles
// -----------------------------------------
// -----------------------------------------
//  Flexbox
// -----------------------------------------
.flexrow {
	display: initial;
	flex-direction: initial;
	flex-wrap: initial;
	justify-content: initial;
}
.flexrow > * {
	flex: initial;
}
.flexrow .flex1 {
	flex: initial;
}
.flexrow .flex2 {
	flex: initial;
}
.flexrow .flex3 {
	flex: initial;
}
.flexrow .flex4 {
	flex: initial;
}
.flexcol {
	display: initial;
	flex-direction: initial;
	flex-wrap: initial;
}
.flexcol > * {
	flex: initial;
}
.flexcol .flex1 {
	flex: initial;
}
.flexcol .flex2 {
	flex: initial;
}
.flexcol .flex3 {
	flex: initial;
}
.flexcol .flex4 {
	flex: initial;
}
// -----------------------------------------
//  All D&D5e Apps
// -----------------------------------------
.dnd5e {
	// -----------------------------------------
	//  Element Styles
	// -----------------------------------------
	// Form Groups
	// Tags
}
.dnd5e .window-content {
	background: initial;
	font-size: initial;
	color: initial;
}
.dnd5e input[type="text"],
.dnd5e select {
	height: initial;
	border: initial;
	background: initial;
	color: initial;
}
.dnd5e input[type="text"]:hover,
.dnd5e input[type="text"]:focus {
	border: initial;
	box-shadow: initial;
}
.dnd5e input:disabled,
.dnd5e select:disabled,
.dnd5e textarea:disabled {
	color: initial;
}
.dnd5e input:disabled:hover,
.dnd5e select:disabled:hover,
.dnd5e textarea:disabled:hover,
.dnd5e input:disabled:focus,
.dnd5e select:disabled:focus,
.dnd5e textarea:disabled:focus {
	box-shadow: initial;
	border: initial;
	outline: initial;
}
.dnd5e button {
	background: initial;
	border: initial;
}
.dnd5e label.checkbox {
	flex: initial;
	margin: initial;
	height: initial;
	line-height: initial;
	font-size: initial;
	text-align: initial;
}
.dnd5e label.checkbox input[type="checkbox"] {
	margin: initial;
	position: initial;
	top: initial;
}
.dnd5e .form-group label {
	flex: initial;
	color: initial;
	font-weight: initial;
}
.dnd5e .form-group .form-fields {
	display: initial;
	flex-direction: initial;
	flex-wrap: initial;
	justify-content: initial;
}
.dnd5e .form-group .form-fields > * {
	flex: initial;
}
.dnd5e .form-group .form-fields .flex1 {
	flex: initial;
}
.dnd5e .form-group .form-fields .flex2 {
	flex: initial;
}
.dnd5e .form-group .form-fields .flex3 {
	flex: initial;
}
.dnd5e .form-group .form-fields .flex4 {
	flex: initial;
}
.dnd5e .form-group .form-fields > * {
	margin: initial;
}
.dnd5e .form-group .form-fields > *:last-child {
	margin-right: initial;
}
.dnd5e .form-group.stacked label {
	flex: initial;
	margin: initial;
}
.dnd5e .form-group.stacked label.checkbox {
	flex: initial;
	text-align: initial;
}
.dnd5e .form-header {
	margin: initial;
	padding: initial;
	font-family: initial;
	font-size: initial;
	font-size: initial;
	border-top: initial;
	border-bottom: initial;
}
.dnd5e .tag {
	display: initial;
	margin: initial;
	padding: initial;
	font-size: initial;
	line-height: initial;
	border: initial;
	border-radius: initial;
	background: initial;
}
// -----------------------------------------
//  Entity Sheets Specifically
// -----------------------------------------
.dnd5e.sheet {
	// -----------------------------------------
	//  Element Styles
	// -----------------------------------------
	// -----------------------------------------
	//  TinyMCE
	// -----------------------------------------
	// -----------------------------------------
	//  Sheet Header
	// -----------------------------------------
	// -----------------------------------------
	//  Sheet Navigation
	// -----------------------------------------
	// -----------------------------------------
	//  Sheet Body
	// -----------------------------------------
	// -----------------------------------------
	//  List Filters
	// -----------------------------------------
	// -----------------------------------------
	//  Trait Lists
	// -----------------------------------------
}
.dnd5e.sheet .window-content {
	overflow-y: initial;
	padding: initial;
	background: initial;
	font-size: initial;
	color: initial;
}
.dnd5e.sheet .window-content form {
	height: initial;
	overflow: initial;
}
.dnd5e.sheet .window-content .tab {
	height: initial;
	overflow-y: initial;
	align-content: initial;
}
.dnd5e.sheet input[type="text"] {
	background: initial;
	border: initial;
}
.dnd5e.sheet input[type="text"]:hover,
.dnd5e.sheet input[type="text"]:focus {
	border: initial;
}
.dnd5e.sheet select {
	flex: initial;
	font-size: initial;
	height: initial;
	background: initial;
}
.dnd5e.sheet .editable .rollable:hover {
	color: initial;
	text-shadow: initial;
	cursor: initial;
}
.dnd5e.sheet span.sep {
	flex: initial;
	margin: initial;
	display: initial;
	position: initial;
	color: initial;
	font-weight: initial;
}
.dnd5e.sheet .editor {
	height: initial;
}
.dnd5e.sheet .editor .tox-toolbar-overlord,
.dnd5e.sheet .editor .tox-toolbar__primary {
	background: initial;
}
.dnd5e.sheet .sheet-header {
	flex: initial;
	border-bottom: initial;
	font-family: initial;
	font-size: initial;
	// Character Name
	// Profile Image
	// Header Summary Details
}
.dnd5e.sheet .sheet-header h1 {
	flex: initial;
	border-bottom: initial;
	height: initial;
	margin: initial;
	padding: initial;
}
.dnd5e.sheet .sheet-header h1 input {
	display: initial;
	height: initial;
	font-size: initial;
	margin: initial;
}
.dnd5e.sheet .sheet-header img.profile {
	flex: initial;
	max-width: initial;
	height: initial;
	object-fit: initial;
	border: initial;
	border-right: initial;
}
.dnd5e.sheet .sheet-header .summary {
	flex: initial;
	height: initial;
	margin: initial;
	padding: initial;
	list-style: initial;
	border-top: initial;
	border-bottom: initial;
}
.dnd5e.sheet .sheet-header .summary li {
	height: initial;
	float: initial;
	margin: initial;
	padding: initial;
	border-right: initial;
	line-height: initial;
	color: initial;
}
.dnd5e.sheet .sheet-header .summary li:last-child {
	border-right: initial;
}
.dnd5e.sheet .sheet-navigation {
	flex: initial;
	margin-bottom: initial;
	font-family: initial;
	font-size: initial;
}
.dnd5e.sheet .sheet-navigation .item {
	height: initial;
	line-height: initial;
	margin: initial;
	border-bottom: initial;
}
.dnd5e.sheet .sheet-navigation .item.active {
	border-bottom: initial;
}
.dnd5e.sheet .sheet-body {
	flex: initial;
	overflow: initial;
}
.dnd5e.sheet .filter-list {
	list-style: initial;
	margin: initial;
	padding: initial;
	line-height: initial;
	max-width: initial;
}
.dnd5e.sheet .filter-list .filter-icon {
	flex: initial;
	font-size: initial;
	color: initial;
}
.dnd5e.sheet .filter-list .filter-item {
	text-align: initial;
	font-size: initial;
	margin: initial;
	border-bottom: initial;
	white-space: initial;
}
.dnd5e.sheet .filter-list .filter-item:last-child {
	margin: initial;
}
.dnd5e.sheet .filter-list .filter-item:hover {
	text-shadow: initial;
	border-bottom: initial;
}
.dnd5e.sheet .filter-list .filter-item.active {
	border-bottom: initial;
}
.dnd5e.sheet .traits {
	margin: initial;
}
.dnd5e.sheet .traits .trait-selector {
	flex: initial;
	padding: initial;
	color: initial;
	font-size: initial;
}
.dnd5e.sheet .traits .traits-list {
	flex: initial;
	line-height: initial;
	list-style: initial;
	margin: initial;
	padding: initial;
}
// -----------------------------------------
// Trait Selector
// -----------------------------------------
#trait-selector .trait-list {
	list-style: initial;
	margin: initial;
	padding: initial;
}
#trait-selector input[type="text"] {
	height: initial;
	margin: initial;
}
.dnd5e.sheet.actor {
	// -----------------------------------------
	//  Sheet Header
	// -----------------------------------------
	// -----------------------------------------
	//  General Styles
	// -----------------------------------------
	// -----------------------------------------
	//  Attributes
	// -----------------------------------------
	// -----------------------------------------
	//  Ability Scores
	// -----------------------------------------
	// -----------------------------------------
	//  Skills
	// -----------------------------------------
	// -----------------------------------------
	//  Statuses
	// -----------------------------------------
	// -----------------------------------------
	//  Traits
	// -----------------------------------------
	// -----------------------------------------
	//  Inventory Lists
	// -----------------------------------------
	// Inventory List Filters
	// -----------------------------------------
	//  Spellbook
	// -----------------------------------------
	// -----------------------------------------
	//  TinyMCE
	// -----------------------------------------
}
.dnd5e.sheet.actor .sheet-header img.profile {
	flex: initial;
	max-width: initial;
	height: initial;
}
.dnd5e.sheet.actor .sheet-header h1.charname {
	flex: initial;
	height: initial;
	padding: initial;
}
.dnd5e.sheet.actor .sheet-header h1.charname input {
	height: initial;
	margin: initial;
}
.dnd5e.sheet.actor .sheet-header .header-exp {
	flex: initial;
	margin-right: initial;
	height: initial;
	justify-content: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .sheet-header .summary {
	height: initial;
	border-bottom: initial;
	font-size: initial;
}
.dnd5e.sheet.actor .sheet-header .summary input,
.dnd5e.sheet.actor .sheet-header .summary span {
	display: initial;
	height: initial;
	line-height: initial;
}
.dnd5e.sheet.actor .sheet-header .attributes {
	flex: initial;
	margin: initial;
}
.dnd5e.sheet.actor .sheet-header .attributes .attribute {
	height: initial;
	margin: initial;
	border: initial;
	border-right: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor .sheet-header .attributes .attribute:last-child {
	border-right: initial;
}
.dnd5e.sheet.actor .sheet-header .attributes .attribute .attribute-value {
	height: initial;
	line-height: initial;
}
.dnd5e.sheet.actor .attributes input.temphp {
	width: initial;
}
.dnd5e.sheet.actor h4.box-title {
	height: initial;
	line-height: initial;
	margin: initial;
	font-size: initial;
	color: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor .tab.attributes {
	overflow: initial;
}
.dnd5e.sheet.actor ul.attributes {
	flex: initial;
	list-style: initial;
	margin: initial;
	padding: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute {
	height: initial;
	margin: initial;
	border: initial;
	border-radius: initial;
	font-family: initial;
	font-size: initial;
	text-align: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute:last-child {
	margin: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
	display: initial;
	justify-content: initial;
	align-items: initial;
	height: initial;
	line-height: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value > * {
	font-size: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
	flex: initial;
}
.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
	flex: initial;
	margin-top: initial;
	line-height: initial;
	font-family: initial;
	font-size: initial;
}
.dnd5e.sheet.actor .ability-scores {
	flex: initial;
	height: initial;
	list-style: initial;
	margin: initial;
	padding: initial;
	font-family: initial;
	font-size: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor .ability-scores .ability {
	height: initial;
	text-align: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor .ability-scores .ability:last-child {
	border-bottom: initial;
	margin-bottom: initial;
}
.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
	height: initial;
	width: initial;
	margin: initial;
	line-height: initial;
	font-size: initial;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers {
	height: initial;
	margin: initial;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
	flex: initial;
	height: initial;
	line-height: initial;
	font-size: initial;
	border-top: initial;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
	border-right: initial;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
	line-height: initial;
}
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
	border-left: initial;
}
.dnd5e.sheet.actor .proficiency-toggle {
	color: initial;
	font-size: initial;
}
.dnd5e.sheet.actor .proficient .proficiency-toggle {
	color: initial;
}
.dnd5e.sheet.actor .locked .proficiency-toggle {
	color: initial;
	text-shadow: initial;
	cursor: initial;
}
.dnd5e.sheet.actor ul.skills-list {
	flex: initial;
	height: initial;
	list-style: initial;
	margin: initial;
	padding: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill {
	height: initial;
	padding: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill:nth-child(even) {
	background: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill h4 {
	flex: initial;
	margin: initial;
	font-size: initial;
	line-height: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
	flex: initial;
	line-height: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
	flex: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
	flex: initial;
}
.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
	flex: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.actor .counters {
	flex: initial;
	padding: initial;
	margin: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor .counters .counter {
	height: initial;
	line-height: initial;
}
.dnd5e.sheet.actor .counters .counter h4 {
	flex: initial;
	margin: initial;
	font-size: initial;
	font-weight: initial;
	color: initial;
}
.dnd5e.sheet.actor .counters .counter .counter-value {
	flex: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .counters .counter .counter-value > * {
	display: initial;
}
.dnd5e.sheet.actor .counters .counter input[type="text"] {
	height: initial;
	max-width: initial;
	margin: initial;
	padding: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .counters .counter input[type="checkbox"] {
	position: initial;
	width: initial;
	height: initial;
	margin: initial;
	top: initial;
}
.dnd5e.sheet.actor .counters .counter span.sep {
	font-size: initial;
}
.dnd5e.sheet.actor .center-pane {
	height: initial;
	padding: initial;
	overflow-y: initial;
	scrollbar-width: initial;
}
.dnd5e.sheet.actor .traits .form-group,
.dnd5e.sheet.actor .traits .form-group-stacked {
	margin: initial;
	justify-content: initial;
}
.dnd5e.sheet.actor .traits .configure-flags {
	flex: initial;
}
.dnd5e.sheet.actor .traits label {
	flex: initial;
	line-height: initial;
	font-weight: initial;
	margin: initial;
}
.dnd5e.sheet.actor .traits select {
	max-width: initial;
}
.dnd5e.sheet.actor .traits input {
	text-align: initial;
}
.dnd5e.sheet.actor .traits i.fas {
	float: initial;
	margin-right: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.actor .traits i.fas:hover {
	color: initial;
	text-shadow: initial;
}
.dnd5e.sheet.actor .traits .inactive {
	color: initial;
}
.dnd5e.sheet.actor .tab.features,
.dnd5e.sheet.actor .tab.inventory,
.dnd5e.sheet.actor .tab.spellbook {
	overflow-y: initial;
}
.dnd5e.sheet.actor .inventory-filters {
	margin: initial;
	flex: initial;
	justify-content: initial;
}
.dnd5e.sheet.actor .inventory-filters .currency {
	flex: initial;
	list-style: initial;
	margin: initial;
	padding: initial;
	font-size: initial;
}
.dnd5e.sheet.actor .inventory-filters .currency label {
	flex: initial;
	margin-left: initial;
	text-align: initial;
	line-height: initial;
	color: initial;
}
.dnd5e.sheet.actor .inventory-filters .currency input[type="text"] {
	flex: initial;
	text-align: initial;
	margin-left: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor .inventory-list {
	list-style: initial;
	margin: initial;
	padding: initial;
	overflow-y: initial;
	scrollbar-width: initial;
}
.dnd5e.sheet.actor .inventory-list .item {
	line-height: initial;
	padding: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor .inventory-list .item:last-child {
	border-bottom: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name {
	cursor: initial;
	max-height: initial;
	overflow: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
	flex: initial;
	background-size: initial;
	margin-right: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
	margin: initial;
	white-space: initial;
	overflow-x: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
	background-image: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
	background-image: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-name i.attuned {
	color: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-uses input {
	width: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-properties {
	margin-top: initial;
}
.dnd5e.sheet.actor .inventory-list .item .item-recharge {
	flex: initial;
	text-align: initial;
	font-size: initial;
	color: initial;
	white-space: initial;
}
.dnd5e.sheet.actor .inventory-list .inventory-header {
	margin: initial;
	padding: initial;
	background: initial;
	border: initial;
	font-weight: initial;
	line-height: initial;
}
.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
	margin: initial;
	padding-left: initial;
	font-size: initial;
	font-weight: initial;
}
.dnd5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-detail {
	flex: initial;
	font-size: initial;
	color: initial;
	text-align: initial;
	border-right: initial;
	word-break: initial;
	white-space: initial;
	overflow: initial;
}
.dnd5e.sheet.actor .inventory-list .item-detail:last-child {
	border-right: initial;
}
.dnd5e.sheet.actor .inventory-list .item-detail.item-action {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-weight {
	flex: initial;
	border-left: initial;
	border-right: initial;
}
.dnd5e.sheet.actor .inventory-list .item-list {
	list-style: initial;
	margin: initial;
	padding: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls {
	flex: initial;
	display: initial;
	flex-direction: initial;
	flex-wrap: initial;
	justify-content: initial;
	justify-content: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls > * {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls .flex1 {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls .flex2 {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls .flex3 {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls .flex4 {
	flex: initial;
}
.dnd5e.sheet.actor .inventory-list .item-controls a {
	flex: initial;
	font-size: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.actor .inventory-list .item-summary {
	flex: initial;
	font-size: initial;
	line-height: initial;
	padding: initial;
	border-top: initial;
}
.dnd5e.sheet.actor .spellcasting-ability {
	flex: initial;
	margin: initial;
}
.dnd5e.sheet.actor .spellcasting-ability input,
.dnd5e.sheet.actor .spellcasting-ability span {
	flex: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .spellcasting-ability select {
	margin: initial;
	flex: initial;
}
.dnd5e.sheet.actor .spellcasting-ability h3.spell-dc {
	flex: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .spell-slots,
.dnd5e.sheet.actor .spell-comps {
	flex: initial;
	padding-right: initial;
	text-align: initial;
	font-size: initial;
	color: initial;
	border-right: initial;
}
.dnd5e.sheet.actor .spell-slots input {
	display: initial;
	max-width: initial;
}
.dnd5e.sheet.actor .spell-slots .sep {
	font-size: initial;
	font-weight: initial;
}
.dnd5e.sheet.actor .spell-uses {
	padding-right: initial;
	text-align: initial;
}
.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action,
.dnd5e.sheet.actor .spell-target {
	flex: initial;
	font-size: initial;
	color: initial;
	text-align: initial;
	border-right: initial;
}
.dnd5e.sheet.actor .spell-component {
	line-height: initial;
}
.dnd5e.sheet.actor .spell-component.C,
.dnd5e.sheet.actor .spell-component.R {
	display: initial;
	text-align: initial;
	padding-top: initial;
	width: initial;
	color: initial;
	background: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor .spellbook-empty .item-controls {
	flex: initial;
}
.dnd5e.sheet.actor .editor {
	padding: initial;
}
.dnd5e.sheet.item {
	min-height: initial;
	// -----------------------------------------
	//  Sheet Header
	// -----------------------------------------
	// -----------------------------------------
	//  Item Details Form
	// -----------------------------------------
	// -----------------------------------------
	//  Item Actions
	// -----------------------------------------
	// -----------------------------------------
	//  Item Actions
	// -----------------------------------------
	// -----------------------------------------
	//  Loot Sheet (No Tabs)
	// -----------------------------------------
}
.dnd5e.sheet.item .sheet-header img.profile {
	border: initial;
}
.dnd5e.sheet.item .sheet-header .item-subtitle {
	flex: initial;
	height: initial;
	margin: initial;
	padding: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
	font-size: initial;
	line-height: initial;
	margin: initial;
}
.dnd5e.sheet.item .sheet-header .item-subtitle .item-status {
	font-size: initial;
	line-height: initial;
}
.dnd5e.sheet.item .sheet-navigation {
	margin-bottom: initial;
}
.dnd5e.sheet.item .sheet-navigation .item {
	font-size: initial;
}
.dnd5e.sheet.item .sheet-body {
	overflow: initial;
}
.dnd5e.sheet.item .sheet-body .tab {
	padding: initial;
	overflow: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties {
	flex: initial;
	margin: initial;
	padding-right: initial;
	border-right: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties .form-group {
	margin: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties .form-group label {
	line-height: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties .form-group input {
	text-align: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties .properties-list {
	list-style: initial;
	margin: initial;
	padding: initial;
}
.dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
	margin: initial;
	padding: initial;
	background: initial;
	border: initial;
	text-align: initial;
	font-size: initial;
	line-height: initial;
}
.dnd5e.sheet.item .details input[type="text"],
.dnd5e.sheet.item .details select {
	height: initial;
	border: initial;
	background: initial;
}
.dnd5e.sheet.item .details .form-group span {
	text-align: initial;
	line-height: initial;
}
.dnd5e.sheet.item .details .form-group.input-select select {
	flex: initial;
}
.dnd5e.sheet.item .details .form-group.input-select-select select {
	flex: initial;
}
.dnd5e.sheet.item .details .form-group.uses-per input {
	flex: initial;
}
.dnd5e.sheet.item .details .form-group.uses-per span {
	flex: initial;
}
.dnd5e.sheet.item .details .form-group.uses-per select {
	flex: initial;
}
.dnd5e.sheet.item .details span.sep {
	flex: initial;
}
.dnd5e.sheet.item .details .prepared {
	flex: initial;
	text-align: initial;
	padding-right: initial;
}
.dnd5e.sheet.item .details .spell-materials {
	flex: initial;
	margin: initial;
	justify-content: initial;
}
.dnd5e.sheet.item .details .spell-materials label {
	flex: initial;
	text-align: initial;
	margin-right: initial;
	font-size: initial;
	line-height: initial;
}
.dnd5e.sheet.item .details .spell-materials input[type="text"] {
	flex: initial;
	margin-right: initial;
}
.dnd5e.sheet.item h4.damage-header {
	margin: initial;
	padding: initial;
	font-weight: initial;
	line-height: initial;
	color: initial;
}
.dnd5e.sheet.item .damage-parts {
	list-style: initial;
	margin: initial;
	padding: initial;
}
.dnd5e.sheet.item .damage-parts .damage-part {
	flex: initial;
	padding: initial;
}
.dnd5e.sheet.item .damage-parts .damage-part input {
	flex: initial;
}
.dnd5e.sheet.item .damage-parts .damage-part select {
	margin-left: initial;
	flex: initial;
}
.dnd5e.sheet.item .damage-control {
	width: initial;
	flex: initial;
	line-height: initial;
	float: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.item .recharge.form-group span {
	text-align: initial;
	padding-right: initial;
}
.dnd5e.sheet.item .recharge.form-group input[type="text"] {
	flex: initial;
	text-align: initial;
}
.dnd5e.sheet.item .recharge.form-group label.checkbox {
	flex: initial;
}
.dnd5e.sheet.item .recharge.form-group label.checkbox input {
	width: initial;
	height: initial;
	top: initial;
}
.dnd5e.sheet.item .weapon-properties label.checkbox {
	flex: initial;
}
.dnd5e.sheet.item .loot-header {
	margin-bottom: initial;
}
// -----------------------------------------
//  Chat Cards
// -----------------------------------------
.dnd5e.chat-card {
	font-style: initial;
	font-size: initial;
}
.dnd5e.chat-card .card-header {
	padding: initial;
	border-top: initial;
	border-bottom: initial;
}
.dnd5e.chat-card .card-header img {
	flex: initial;
	margin-right: initial;
}
.dnd5e.chat-card .card-header h3 {
	flex: initial;
	margin: initial;
	line-height: initial;
	font-family: initial;
	font-size: initial;
	color: initial;
}
.dnd5e.chat-card .card-header h3:hover {
	color: initial;
	text-shadow: initial;
}
.dnd5e.chat-card .card-content {
	margin: initial;
}
.dnd5e.chat-card .card-content h3 {
	font-size: initial;
	margin: initial;
	font-weight: initial;
}
.dnd5e.chat-card .card-content > * {
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
.dnd5e.chat-card .card-buttons {
	margin: initial;
}
.dnd5e.chat-card .card-buttons span {
	display: initial;
	line-height: initial;
	text-align: initial;
	border: initial;
}
.dnd5e.chat-card .card-buttons button {
	font-size: initial;
	height: initial;
	line-height: initial;
	margin: initial;
}
.dnd5e.chat-card .card-footer {
	padding: initial;
	border-top: initial;
}
.dnd5e.chat-card .card-footer span {
	border-right: initial;
	padding: initial;
	font-size: initial;
}
.dnd5e.chat-card .card-footer span:last-child {
	border-right: initial;
	padding-right: initial;
}
.dice-roll .dice-total.success {
	color: initial;
	background: initial;
	border: initial;
}
.dice-roll .dice-total.failure {
	color: initial;
	background: initial;
	border: initial;
}
.dice-roll .dice-total.critical {
	color: initial;
}
.dice-roll .dice-total.fumble {
	color: initial;
}
// -----------------------------------------
//  Basic Structure
// -----------------------------------------
.dnd5e.sheet.actor.character {
	min-width: initial;
	min-height: initial;
	// -----------------------------------------
	//  Sheet Header
	// -----------------------------------------
	// -----------------------------------------
	//  Sheet Body
	// -----------------------------------------
	// -----------------------------------------
	//  Inventory
	// -----------------------------------------
	// Encumbrance Bar
	// -----------------------------------------
	//  Item Controls
	// -----------------------------------------
}
.dnd5e.sheet.actor.character .sheet-header img.profile {
	flex: initial;
	max-width: initial;
	height: initial;
}
.dnd5e.sheet.actor.character .sheet-header .charlevel {
	flex: initial;
	height: initial;
	font-size: initial;
	color: initial;
}
.dnd5e.sheet.actor.character .sheet-header .experience {
	flex: initial;
	margin-bottom: initial;
	align-items: initial;
	font-size: initial;
}
.dnd5e.sheet.actor.character .sheet-header .experience span.max {
	color: initial;
	flex: initial;
	margin-left: initial;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar {
	flex: initial;
	width: initial;
	margin-bottom: initial;
	background: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor.character .sheet-header .xpbar .bar {
	height: initial;
	margin: initial;
	display: initial;
	background: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
	border: initial;
	border-radius: initial;
	background: initial;
	padding: initial;
	margin: initial;
}
.dnd5e.sheet.actor.character .sheet-header .attributes .hit-dice {
	font-size: initial;
}
.dnd5e.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
	width: initial;
}
.dnd5e.sheet.actor.character .sheet-header .summary .proficiency {
	text-align: initial;
	padding-right: initial;
}
.dnd5e.sheet.actor.character .resource .attribute-value input {
	flex: initial;
}
.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
	height: initial;
	position: initial;
	font-size: initial;
	text-align: initial;
	color: initial;
}
.dnd5e.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
	height: initial;
	width: initial;
	margin: initial;
	top: initial;
}
.dnd5e.sheet.actor.character ul.skills-list {
	flex: initial;
}
.dnd5e.sheet.actor.character ul.skills-list li.skill {
	padding: initial;
}
.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
	flex: initial;
	margin: initial;
	font-size: initial;
}
.dnd5e.sheet.actor.character .item-detail.player-class {
	flex: initial;
	text-align: initial;
	padding-right: initial;
}
.dnd5e.sheet.actor.character .encumbrance {
	flex: initial;
	background: initial;
	margin: initial;
	border: initial;
	border-radius: initial;
	position: initial;
}
.dnd5e.sheet.actor.character .encumbrance .encumbrance-bar {
	position: initial;
	top: initial;
	left: initial;
	background: initial;
	height: initial;
	border: initial;
	border-radius: initial;
}
.dnd5e.sheet.actor.character .encumbrance .encumbrance-label {
	height: initial;
	padding: initial;
	position: initial;
	top: initial;
	right: initial;
	font-size: initial;
	line-height: initial;
	text-align: initial;
	color: initial;
	text-shadow: initial;
}
.dnd5e.sheet.actor.character .encumbrance .encumbrance-breakpoint {
	display: initial;
	position: initial;
}
.dnd5e.sheet.actor.character .encumbrance .encumbrance-breakpoint.encumbrance-33 {
	left: initial;
}
.dnd5e.sheet.actor.character .encumbrance .encumbrance-breakpoint.encumbrance-66 {
	left: initial;
}
.dnd5e.sheet.actor.character .encumbrance .arrow-up {
	bottom: initial;
	width: initial;
	height: initial;
	border-left: initial;
	border-right: initial;
	border-bottom: initial;
}
.dnd5e.sheet.actor.character .encumbrance .arrow-down {
	top: initial;
	width: initial;
	height: initial;
	border-left: initial;
	border-right: initial;
	border-top: initial;
}
.dnd5e.sheet.actor.character .encumbrance.encumbered .arrow-up {
	border-bottom: initial;
}
.dnd5e.sheet.actor.character .encumbrance.encumbered .arrow-down {
	border-top: initial;
}
.dnd5e.sheet.actor.character .inventory .item-controls,
.dnd5e.sheet.actor.character .spellbook .item-controls {
	flex: initial;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle,
.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle {
	color: initial;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.active,
.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.active {
	color: initial;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
	color: initial;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.fixed:hover {
	text-shadow: initial;
}
// -----------------------------------------
//  Basic Structure
// -----------------------------------------
.dnd5e.sheet.actor.npc {
	min-width: initial;
	min-height: initial;
}
.dnd5e.sheet.actor.npc .header-exp {
	flex: initial;
	justify-content: initial;
}
.dnd5e.sheet.actor.npc .header-exp .cr {
	flex: initial;
	line-height: initial;
	margin-bottom: initial;
	font-size: initial;
}
.dnd5e.sheet.actor.npc .header-exp .cr input {
	width: initial;
	padding: initial;
	text-align: initial;
}
.dnd5e.sheet.actor.npc .header-exp .experience {
	flex: initial;
	color: initial;
	font-size: initial;
}
.dnd5e.sheet.actor.npc .summary {
	font-size: initial;
}
.dnd5e.sheet.actor.npc .spellcasting-ability label {
	flex: initial;
}
