body.-emu.system-alienrpg .window-app[id*="actor-"] .window-content,
body.-emu.system-alienrpg .window-app[id*="item-"] .window-content {
  color: rgba(var(--color-white), 1); }

.-emu-layout body.-emu.system-alienrpg .alienrpg .window-content::before, .-emu-layout body.-emu.system-alienrpg .alienrpg .window-content::after {
  display: none; }

.-emu-layout body.-emu.system-alienrpg .alien-Push-button {
  width: 100%; }
