#chat-controls {
	flex: initial;
	margin: initial;
}
#chat-controls i.fas {
	font-size: initial;
	line-height: initial;
}
#chat-controls div.roll-type-select select {
	position: initial;
	width: initial;
	height: initial;
	background: initial;
	top: initial;
}
#chat-controls div.roll-type-select i.fas {
	margin-right: initial;
}
#chat-controls .control-buttons {
	flex: initial;
}
#chat-controls .control-buttons a {
	display: initial;
	width: initial;
	text-align: initial;
}
#chat-form {
	height: initial;
	flex: initial;
	margin: initial;
}
#chat-form textarea {
	width: initial;
	height: initial;
	resize: initial;
	background: initial;
}
