#loading {
	display: initial;
	position: initial;
	top: initial;
	left: initial;
	width: initial;
	height: initial;
	background: initial;
	border: initial;
	box-shadow: initial;
	border-radius: initial;
	z-index: initial;
}
#loading label {
	line-height: initial;
	position: initial;
	top: initial;
	padding: initial;
	font-size: initial;
	color: initial;
	background: initial;
	text-shadow: initial;
}
#loading #loading-bar {
	position: initial;
	margin: initial;
	height: initial;
	background: initial;
	border: initial;
	border-radius: initial;
}
#loading #context {
	left: initial;
}
#loading #progress {
	top: initial;
	right: initial;
	padding: initial;
}
