#players {
	position: initial;
	bottom: initial;
	left: initial;
	width: initial;
	margin: initial;
	padding: initial;
	border: initial;
}
#players.hidden {
	display: initial;
}
#players h3 {
	margin: initial;
	padding: initial;
	border-bottom: initial;
}
#players h3 i {
	margin: initial;
}
#players h3 .players-mode {
	font-size: initial;
	margin: initial;
	color: initial;
}
#players ol {
	list-style: initial;
	margin: initial;
	padding: initial;
}
#players ol li.player {
	line-height: initial;
	padding: initial;
}
#players ol .player-name {
	overflow: initial;
	white-space: initial;
	word-break: initial;
}
#players ol .player.context {
	margin: initial;
	border-top: initial;
	border-bottom: initial;
}
#players ol .player.context .player-name {
	text-shadow: initial;
}
#players ol .player-name.self {
	color: initial;
}
#players ol .player-active {
	flex: initial;
	height: initial;
	border: initial;
	border-radius: initial;
	margin: initial;
}
#players ol .player-active.active {
	box-shadow: initial;
}
