#controls {
	position: initial;
	top: initial;
	left: initial;
	padding: initial;
	list-style: initial;
	background: initial;
	box-shadow: initial;
	border: initial;
	// Toggle Type Tools
}
#controls .control-tools {
	list-style: initial;
	display: initial;
	position: initial;
	margin: initial;
	padding: initial;
	left: initial;
	top: initial;
}
#controls .active .control-tools {
	display: initial;
}
#controls .scene-control,
#controls .control-tool {
	width: initial;
	height: initial;
	box-sizing: initial;
	font-size: initial;
	line-height: initial;
	background: initial;
	box-shadow: initial;
	margin: initial;
	color: initial;
	text-align: initial;
	border: initial;
	border-radius: initial;
	cursor: initial;
}
#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
	color: initial;
	border: initial;
	border-bottom: initial;
	box-shadow: initial;
}
#controls .scene-control i.fas,
#controls .control-tool i.fas {
	margin: initial;
}
#controls .control-tool.toggle {
	background: initial;
	border: initial;
}
#controls .control-tool.toggle.active,
#controls .control-tool.toggle:hover {
	background: initial;
	box-shadow: initial;
}
