#navigation {
	position: initial;
	top: initial;
	left: initial;
	width: initial;
	margin: initial;
	padding: initial;
	background: initial;
	box-shadow: initial;
	border: initial;
}
#navigation .nav-item {
	line-height: initial;
	padding: initial;
	margin: initial;
	border: initial;
	border-radius: initial;
	cursor: initial;
	position: initial;
}
#navigation #nav-toggle {
	flex: initial;
	height: initial;
	background: initial;
	text-align: initial;
}
#navigation #nav-toggle:hover {
	text-shadow: initial;
}
#navigation #scene-list {
	list-style: initial;
	margin: initial;
	padding: initial;
}
#navigation #scene-list .scene {
	float: initial;
	background: initial;
}
#navigation #scene-list .scene:last-child {
	margin-right: initial;
}
#navigation #scene-list .scene.gm {
	background: initial;
	border: initial;
}
#navigation #scene-list .scene.view,
#navigation #scene-list .scene.context {
	cursor: initial;
	color: initial;
	border: initial;
	background: initial;
	border-bottom: initial;
	box-shadow: initial;
}
#navigation #scene-list .scene ul.scene-players {
	list-style: initial;
	margin: initial;
	padding: initial;
	position: initial;
	top: initial;
	left: initial;
}
#navigation #scene-list .scene li.scene-player {
	float: initial;
	height: initial;
	width: initial;
	margin: initial;
	line-height: initial;
	font-size: initial;
	text-align: initial;
	color: initial;
	font-weight: initial;
	background: initial;
	border: initial;
	border-radius: initial;
}
#navigation.collapsed {
	pointer-events: initial;
}
#navigation.collapsed #nav-toggle {
	pointer-events: initial;
}
#navigation.collapsed #scene-list {
	display: initial;
}
