::-webkit-scrollbar {
	width: initial;
}
::-webkit-scrollbar-track {
	box-shadow: initial;
	border-radius: initial;
}
::-webkit-scrollbar-thumb {
	outline: initial;
	border-radius: initial;
	background: initial;
	border: initial;
}
:root {
	scrollbar-width: initial;
	scrollbar-color: initial;
}
