#always-hp {
	@include layout {
		height: auto !important;
	}

	.window-content {
		border: none;

		@include layout {
			padding: $global-space-sm;
		}
	}

	.window-title {
		@include layout {
			align-items: center;
		}

		.token-stats {
			@include layout {
				flex-grow: 0;
				flex-wrap: nowrap;
				font-size: $global-font-size-sm;
				height: auto;
				padding: 0;
				text-align: right;
			}

			.stat {
				@include layout {
					border-radius: $global-border-radius-default;
					display: inline-block;
					font-weight: 700;
					line-height: 1;
					padding: $global-space-xs $global-space-base;
					text-align: center;
					vertical-align: baseline;
					white-space: nowrap;
				}
			}
		}
	}

	.resource {
		background-color: color("black", 0.5);
		border: 1px solid color("border");

		@include layout {
			border-radius: $global-border-radius-default;
			height: 10px;
			grid-area: resource;
			margin: 0;
			position: relative;
			top: auto;
			width: 100%;
			z-index: 2;
		}

		.bar {
			@include layout {
				border-radius: $global-border-radius-default;
			}
		}
	}
}

.alwayshp-content {
	@include layout {
		display: grid;
		grid-template-columns: min-content min-content 1fr min-content min-content;
		grid-template-rows: min-content min-content min-content;
		grid-template-areas:
			"resource resource resource resource resource"
			"death hurt input heal life"
			"deathfail deathfail . deathsave deathsave";
		gap: $global-space-base;
	}
}

.alwayshp-btn {
	@extend %primary-button;

	@include layout {
		flex: 0 0 auto;
		line-height: 1;

		i {
			margin: 0;
			padding: 0;
		}
	}
}

#alwayshp-btn-dead {
	@include layout {
		grid-area: death;
	}
}

#alwayshp-btn-hurt {
	@include layout {
		grid-area: hurt;
	}
}

#alwayshp-btn-heal {
	@include layout {
		grid-area: heal;
	}
}

#alwayshp-btn-fullheal {
	@include layout {
		grid-area: life;
	}

	i {
		@include layout {
			padding: 0;
		}
	}
}

#alwayshp-hp {
	background: color("background-lightest");

	@include layout {
		flex: 1 1 auto;
		font-size: $global-font-size-lg;
		font-weight: 700;
		grid-area: input;
		text-align: center;
		width: auto;
	}
}

.death-savingthrow.fail {
	@include layout {
		grid-area: deathfail;
	}
}

.death-savingthrow.save {
	@include layout {
		grid-area: deathsave;
	}
}
