.window-app[id*="chat-popout-"],
#chat-log {
	.chat-card {
		.die-result-overlay-br {
			@include layout {
				padding: 0;
			}

			button {
				@extend %control-button;

				@include layout {
					margin: 0 m("base");
				}
			}
		}

		.red-dual .dice-row .dice-row-item:not(.tooltip) {
			align-items: center;
			display: flex;
			justify-content: center;
			margin: 0;
			min-height: to-rem(32px);
		}
	}
}
