#calendar-time-container,
#calendar-weather-container {
	background-color: color("background", 0.8);
	background-image: $global-image-background;
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: none;

	@include layout {
		height: fit-content;
		padding: p("sm");
		z-index: z("fixed");
	}

	#calendar-header,
	.calendar--clock {
		background: transparent;

		@include layout {
			display: grid;
			height: auto;
			gap: space("base");
			grid-template-columns: to-rem(52px) 1fr to-rem(52px);
			padding: 0;
		}

		.header-navigation,
		.day-time-cues {
			@include layout {
				justify-content: initial;
				padding: 0;
				transition: t(opacity, "shift");

				&:last-child {
					justify-content: flex-end;

					.calendar-btn {
						margin-inline-start: m("base");
						margin-inline-end: 0;
					}
				}

				.calendar-btn {
					margin-inline-end: m("base");
				}
			}
		}

		#calendar--move-handle,
		#start-stop-clock {
			@include layout {
				font-size: fs("md");
			}
		}
	}

	.calendar--clock {
		@include layout {
			margin-block-start: m("base");
		}
	}

	#calendar--date-display {
		border: none;

		h2 {
			@include layout {
				font-size: fs("md");
				padding: p("base");
			}
		}
	}

	.calendar--time-controls {
		@include layout {
			margin-block-start: m("sm");
			transition: t(opacity, "shift");
		}

		.advance-btn {
			@extend %primary-button;

			@include layout {
				font-size: fs("md");
				margin-inline-end: m("xs");
				padding: p("base");

				&:last-of-type {
					margin-inline-end: 0;
				}
			}
		}
	}

	.calendar-btn,
	#season-indicator {
		color: color("white");
		transition: t(background box-shadow color, "link");

		@include layout {
			@include size(to-rem(18px));
			align-items: center;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			font-size: fs("md");
			justify-content: center;
			line-height: 1;
			margin: 0;
			opacity: 0.5;
			overflow: hidden;
			padding: p("xs");
		}

		&:hover {
			color: color("primary");
			opacity: 1;
		}
	}
}

#weather {
	transition: t(padding opacity width, "shift");
}

#calendar-weather--container {
	border: none;

	@include layout {
		width: to-rem(250px);
	}

	header {
		background: transparent;

		@include layout {
			flex: 0 0 auto;
			padding: 0;

			select {
				margin-inline-end: m("base");
			}
		}

		#calendar-weather--temp,
		#calendar-weather-regenerate {
			border: none;
		}
	}

	.calendar-weather--content {
		background-color: color("black", 0.1);
		border: none;
	}
}

.calendar--content {
	@include layout {
		padding: 0;
	}
}

.calendar-weather-ltd {
	.day-time-cues,
	.header-navigation {
		@include layout {
			display: flex;
			pointer-events: none;
			visibility: hidden;
		}
	}
}

#calendar-events-form {
	background: transparent;

	button {
		@include layout {
			margin-block-end: m("base");
		}

		&:hover {
			box-shadow: inset 0 0 0 2px color("white") !important; // you made me do this
		}
	}
}

.window-app.form .calendar-form-container {
	background: transparent;

	input#calendar-form-cDay-input,
	input#calendar-form-year-input,
	input#calendar-form-era-input,
	input#calendar-form-hour-input,
	input#calendar-form-minute-input,
	input#calendar-form-second-input {
		background: color("background-lightest");
		border: b("border-lighter");
		border-radius: $global-border-radius-forms;
	}

	input[type="radio"] {
		@include layout {
			margin-inline-start: m("md");
		}
	}

	.calendar-form-weekday-del > i,
	.calendar-form-month-del > i {
		@include layout {
			margin: 0;
		}
	}

	.calendar-form-weekday-container,
	.calendar-form-month-container {
		border-block-end: 0;

		@include layout {
			margin-block-end: m("sm");
		}
	}

	footer button {
		@include layout {
			margin-block-start: m("base");
		}
	}
}
