#calendar-time-container,
#calendar-weather-container {
	background-color: color("background", 0.8);
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: none;
	height: fit-content;
	padding: p("sm");
	z-index: z("fixed");

	.-compact & {
		padding: p("base");
	}

	#calendar-header,
	.calendar--clock {
		background: transparent;
		display: grid;
		height: auto;
		gap: space("base");
		grid-template-columns: to-rem(52px) 1fr to-rem(52px);
		padding: 0;

		.header-navigation,
		.day-time-cues {
			justify-content: initial;
			padding: 0;
			transition: t(opacity, "shift");

			&:last-child {
				justify-content: flex-end;

				.calendar-btn {
					margin-inline-start: m("base");
					margin-inline-end: 0;
				}
			}

			.calendar-btn {
				margin-inline-end: m("base");
			}
		}

		#calendar--move-handle,
		#start-stop-clock {
			font-size: fs("md");
		}
	}

	.calendar--clock {
		margin-block-start: m("base");
	}

	#calendar--date-display {
		border: none;

		h2 {
			font-size: fs("md");
			padding: p("base");
		}
	}

	.calendar--time-controls {
		margin-block-start: m("sm");
		transition: t(opacity, "shift");

		.advance-btn {
			@extend %primary-button;
			font-size: fs("md");
			margin-inline-end: m("xs");
			padding: p("base");

			&:last-of-type {
				margin-inline-end: 0;
			}
		}
	}

	.calendar-btn,
	#season-indicator {
		@extend %icon-button;
		@include size(to-rem(18px));
		color: color("white");
		margin: 0;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}
}

#weather {
	transition: t(padding opacity width, "shift");
}

#calendar-weather--container {
	border: none;
	width: to-rem(250px);

	header {
		background: transparent;
		flex: 0 0 auto;
		padding: 0;

		select {
			margin-inline-end: m("base");
		}

		#calendar-weather--temp,
		#calendar-weather-regenerate {
			border: none;
		}
	}

	.calendar-weather--content {
		background-color: color("black", 0.1);
		border: none;
	}
}

.calendar--content {
	padding: 0;
}

.calendar-weather-ltd {
	.day-time-cues,
	.header-navigation {
		display: flex;
		pointer-events: none;
		visibility: hidden;
	}
}
