.combatready-timebar,
.combatready-timebar-fill {
	border-radius: $global-border-radius-default;
	box-shadow: none;

	@include layout {
		bottom: 0;
		height: to-rem(7px);
		top: auto;
	}

	@include layout(compact) {
		height: to-rem(3px);
	}
}

.combatready-timebar {
	background: RGBA($emu-color-background-darkest, 0.2);
}

.combatready-timebar-fill {
	background-color: RGB($emu-color-primary);
	color: RGB($emu-color-text-lightest);

	.combatready-timebaricon {
		@include layout {
			display: none;
		}
	}
}
