#sidebar,
.sidebar-popout {
	#combat {
		#combat-tracker {
			.combatant {
				.ce-image-wrapper {
					@include layout {
						@include size(space("icon"));
						cursor: default;
						flex: 0 0 auto;
						margin-inline-end: m("sm");
						position: relative;
					}

					.token-image {
						@include layout {
							@include size(100%);
							margin: 0;
						}
					}

					svg {
						@include layout {
							box-shadow: none;
						}
					}
				}

				.ce-modify-hp-wrapper {
					color: color("text-lightest");

					@include layout {
						align-items: center;
						display: flex;
						flex: 0 0 auto;
						font-size: fs("sm");
						padding: p("xs");
					}

					input {
						background-color: color("background-lightest");
						background-image: $global-image-background-lightest;

						@include layout {
							height: auto;
							margin-inline-start: m("base");
							width: space("button-lg");
						}
					}
				}
			}
		}
	}
}
