// a ton of inline styles
#sidebar,
.sidebar-popout {
	#compendium {
		> ul.directory-list {
			@include layout {
				> .directory-item {
					margin: 0;
					margin-block-end: m("base");
					padding: 0;

					// holy fucking christ !importants - so gross
					.compendium-pack {
						cursor: pointer;
						line-height: 1 !important;
						margin: m("base") !important;
						padding: 0 p("sm") !important;

						&:hover {
							background-color: color("primary");

							.pack-title,
							.compendium-footer {
								color: color("text-lightest");
							}
						}

						.pack-title,
						.compendium-footer {
							color: color("text");
						}

						.pack-title {
							margin: 0 !important;
						}

						i.folder {
							border: none;
						}
					}
				}
			}
		}
	}
}
