#sidebar,
.sidebar-popout {
	#combat {
		#combat-tracker {
			.token-resource {
				input {
					border: none;
					color: color("text-lightest");

					@include layout {
						@include size(space("button-sm"));
						padding: 0;
						text-align: center;
					}
				}
			}
		}

		.add-temporary {
			@extend %primary-button;

			@include layout {
				margin: m("sm");
				text-shadow: none;
				width: 100%;
			}
		}
	}

	#settings {
		#combat-utility-belt {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: space("base");
				margin: 0;
			}

			h4 {
				border-block-end: b("border");
				color: color("text-lightest");

				@include layout {
					margin-block-start: m("sm");
				}
			}
		}
	}
}

#combat-utility-belt-about {
	a {
		text-shadow: none;
	}
}

#cub-puter {
	@include layout {
		&::before,
		&::after {
			display: none;
		}
	}

	.terminal {
		color: color("primary");
	}
}
