.compendium-browser-btn {
	@include layout {
		flex: 1 1 auto;
	}
}

.compendium-footer {
	flex: 1 1 auto;
}

.compendium-browser.window-app {
	@include layout {
		overflow: hidden;
	}

	.tabs {
		@include layout {
			max-height: 100%;
		}
	}

	.control-area,
	.list-area {
		@include layout {
			overflow-x: hidden;
			overflow-y: auto;
			padding: p("base");
		}
	}

	.filtercontainer {
		border: none;
		border-block-end: b("border");
		border-radius: 0;

		@include layout {
			margin-block-end: m("base");

			&:last-child {
				margin-block-end: 0;
			}

			> div {
				margin: m("base") 0;
			}
		}

		&:last-child {
			border: none;
		}

		.multiselect {
			background: color("background", 0.1);
			border: none;
			border-radius: 0;

			@include layout {
				line-height: 1;
				margin: 0;
				padding: p("base");
			}
		}

		dd {
			@include layout {
				display: inline-flex;

				select {
					flex: 1 1 auto;
					width: auto;

					+ input {
						border-inline-start: none;
						flex: 1 1 100%;
					}
				}
			}
		}
	}

	.settings-group {
		border: none;
		border-radius: 0;

		@include layout {
			margin: 0;
			padding: p("base");
		}

		label {
			@include layout {
				align-items: center;
				display: flex;
				padding: p("base");

				&:nth-of-type(even) {
					background-color: color("background-light", 0.1);
				}

				input[type="checkbox"] {
					margin-inline-end: m("sm");
				}

				h4 {
					margin: 0;
				}
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}
}
