#sidebar,
.sidebar-popout {
	#combat {
		#combat-tracker {
			.token-resource {
				input {
					@extend %input-text;
					@include size(space("button-sm"));
					border: none;
					color: color("text-lightest");
					padding: 0;
					text-align: center;

					.-compact & {
						@include size(to-rem(20px));
					}
				}
			}
		}

		.add-temporary {
			@extend %primary-button;
			@extend %button-icon;
			margin: m("sm");
			text-shadow: none;
			width: 100%;

			.-compact & {
				margin: m("base");
			}
		}
	}

	#settings {
		#combat-utility-belt {
			h4 {
				border-block-end: b("border");
				color: color("text-lightest");
				margin-block-start: m("md");

				.-compact & {
					margin-block-start: m("sm");
				}
			}
		}
	}
}
