#custom-hotbar {
	@include fixed(bottom to-rem(72px) left to-rem(224px));
	@include size(auto);
	display: flex;
	pointer-events: none;
	z-index: z("fixed") - 1;

	.-compact & {
		bottom: to-rem(48px);
		left: to-rem(176px);
	}

	.bar-controls {
		@include size(to-rem(40px), to-rem(56px));
		background: none;
		border: b("border");
		border-radius: 0;
		display: flex;
		flex-direction: column;
		margin: 0;
		position: relative;

		.-compact & {
			@include size(to-rem(32px), to-rem(40px));
		}

		&:first-child {
			flex: 0 0 auto;
			flex-direction: column-reverse;
			margin-inline-end: m("sm");

			// temp - maybe?
			height: to-rem(24px);

			.-compact & {
				margin-inline-end: m("base");
			}

			#custom-macro-directory,
			#custom-bar-toggle {
				flex: 1 1 auto;

				&:first-of-type {
					border: none;
					border-radius: 0;
				}

				&:last-of-type {
					border-block-start: none;
					border-block-end: b("border");
					border-radius: 0;
				}
			}
		}

		&:last-child {
			flex: 0 0 auto;
			float: left;
			margin-inline-start: m("sm");

			.-compact & {
				margin-inline-start: m("base");
			}
		}

		.page-control,
		#custom-macro-directory,
		#custom-bar-toggle {
			align-items: center;
			background: color("primary", 0.8);
			color: color("white");
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			font-size: fs("lg");
			justify-content: center;
			position: relative;
			transition: t(box-shadow, "link");

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}

			&:first-of-type {
				border-block-end: b("border");
			}

			&:last-of-type {
				border-block-start: b("border");
			}
		}

		#custom-macro-directory {
			display: none;
		}

		.page-number {
			align-items: center;
			background: color("primary", 0.5);
			color: color("white");
			display: flex;
			flex: 1 1 auto;
			justify-content: center;

			.-compact & {
				font-size: fs("sm");
			}
		}
	}

	#custom-action-bar {
		flex-wrap: nowrap;
	}

	#custom-hotbar-page-controls {
		display: none;
	}

	#custom-macro-list {
		background: none;
		border: none;
		border-radius: 0;
		flex: initial;
		margin: 0;
		padding: 0;
	}

	.macro {
		@include size(to-rem(56px));
		align-items: center;
		background: color("primary", 0.8);
		border: b("border");
		border-radius: 0;
		box-shadow: none;
		color: color("white");
		cursor: pointer;
		display: flex;
		flex: 0 0 auto;
		justify-content: center;
		margin-inline-start: -1px; // for the border and people messing with border color
		position: relative;
		transition: t(border box-shadow, "link");

		.-compact & {
			@include size(to-rem(40px));
		}

		&:first-child {
			margin-inline-start: 0;
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			background: color("primary", 0.8);
		}

		.custom-macro-key {
			@include absolute(top space("xs") right space("base"));
			background: transparent;
			color: color("white");
			font-size: fs("md");
			font-weight: 600;
			padding: 0;
			text-shadow: 2px 2px  2px color("charcoal-900");
			z-index: 1;
		}

		.macro-icon {
			@include size(to-rem(50px));
			border: none;
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			position: relative;

			.-compact & {
				@include size(to-rem(34px));
			}
		}

		.tooltip {
			@include absolute(bottom 100% left 0);
			background: color("charcoal-900", 0.5);
			border-radius: 0;
			color: color("white");
			font-size: fs("md");
			margin-block-end: m("base");
			padding: p("xs");
		}
	}
}
