#light-config {
	h2 {
		@extend %h-tag;
		@extend %h3;
		border-block-end: b("primary", 2px);
		color: color("primary");
		font-family: "Signika", sans-serif;
		margin-block-start: m("lg");
		margin-block-end: m("sm");
		padding: 0  p("sm");

		.-compact & {
			margin-block-start: m("md");
			margin-block-end: m("base");
			padding: 0  p("base");
		}
	}
}
