#dfcp-rt-buttons {
	@include layout {
		gap: $global-space-base;
		justify-content: flex-end;
		margin: 0 !important;
	}

	button {
		@extend %control-button;
		background: transparent;

		@include layout {
			font-size: $global-font-size-md;
			margin: 0;
			min-height: 0;
			max-height: 100%;
		}

		&.chat-archive {
			@include layout {
				margin-inline-start: 0 !important;
			}
		}

		> i {
			color: color("text-lightest");

			@include layout {
				font-size: $global-font-size-md;
				height: auto;
				line-height: 1;
				margin: 0;
				width: auto;
			}
		}
	}
}

#sidebar,
.sidebar-popout {
	#settings {
		#df-chat-enhance-settings {
			h4 {
				border-block-end: b("border-lighter");
				color: color("text-lightest");

				@include layout {
					margin-block-start: $global-space-md !important;
				}
			}
		}
	}
}

.app.window-app {
	.archive-new {
		table {
			background-color: transparent;
			border: none;

			tr {
				td {
					@include layout {
						padding: $global-space-base;

						button {
							margin-block-start: $global-space-sm;
						}
					}
				}
			}
		}
	}

	#dfca-delete-all {
		background-color: color("negative");
		border-color: color("red-800");

		@include layout {
			margin: 0;
			width: 100%;
		}
	}
}
