#df-curvy-walls-tools {
	@include layout {
		display: flex;
		gap: $global-space-base;
		left: to-rem(96px);
		top: to-rem(184px);
	}

	.control-tools {
		@include layout {
			@extend %reset-list;
			display: flex;
			flex-direction: column;
			flex: 0 0 auto;
			gap: $global-space-base;
			margin: 0;
			pointer-events: none;
			transition: t(opacity left, "link");
		}
	}

	.control-tool {
		background-color: color("background-lightest");
		background-image: $global-image-background-controls;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		color: color("text");
		transition: t(background box-shadow color opacity, "link");

		@include layout {
			@include size($global-space-button-lg);
			align-items: center;
			box-sizing: border-box;
			cursor: pointer;
			display: flex;
			justify-content: center;
			font-size: $global-font-size-lg;
			line-height: initial;
			margin: 0;
			pointer-events: all;
			position: relative;
		}

		&:hover {
			@extend %global-hover;
			background-color: color("primary");
			background-image: none;
			color: color("text-lightest");
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			@extend %global-focus;
			background-color: color("primary");
			background-image: none;
		}
	}
}
