#sidebar,
.sidebar-popout {
	.dnd5ehelpers {
		.dice-result {
			@include layout {
				margin-block-start: $global-space-base;
			}

			.desc {
				background-color: color("background-light", $global-background-opacity-window);
				border: b("border");
				border-radius: $global-border-radius-default;
				box-shadow: $global-box-shadow;
				color: color("text-lightest");

				@include layout {
					font-size: $global-font-size-sm;
					padding: $global-space-sm;
				}
			}
		}

		@include layout {
			.cover-button {
				flex-direction: row-reverse;
				margin: 0;
				margin-block-start: $global-space-base;

				img {
					margin: 0;
					margin-inline-start: $global-space-base;
					width: $global-space-button-xs;
				}
			}
		}
	}
}
