#emu-settings {
	@extend %window-common;
	@extend %window-hack;

	form {
		display: flex;
		flex-direction: column;
		height: 40vh;
		overflow: hidden;
	}

	.sheet-tabs {
		@extend %modal-tabs;
	}

	.content {
		flex: 1 1 auto;
		overflow: auto;
	}

	.sheet-footer {
		flex: 0 0 auto;
	}
}
