#emu-settings {
	form {
		@include layout {
			display: flex;
			flex-direction: column;
			max-height: 80vh;
			overflow: hidden;
		}

		h3 {
			border-block-end: b("border");

			@include layout {
				margin-block-start: m("sm");
			}
		}
	}

	.tab > .notes {
		@include layout {
			margin-block-start: m("sm");
		}
	}

	.content {
		@include layout {
			flex: 1 1 auto;
			overflow: auto;
		}
	}

	.sheet-footer {
		@include layout {
			flex: 0 0 auto;
			padding-block-start: p("sm");
		}
	}
}
