#sidebar,
.sidebar-popout {
	#playlists {
		.directory-list li.now-playing {
			border: 0;

			> .playlist-header {
				pointer-events: none;

				h4 {
					padding-inline-start: 0;
				}
			}

			> .playlist-sounds {
				> .now-playing-item {
					padding: 0;

					&:last-child {
						.playlist-sounds .sound {
							border-block-end: 0;
						}
					}
				}
			}
		}

		li.sound.sound-is-playing {
			background: transparent;
		}
	}

	.sound-control-hidden {
		display: flex;
	}
}

form .furnace-macro-run-as-gm.form-group {
	label.form-group {
		flex: 1 1 auto;
		margin: 0;
		padding: 0;
	}

	.tooltip {
		background: color("charcoal-900", 0.8);
		border-radius: 0;
		bottom: 100% !important;
		color: color("white");
		height: auto;
		max-width: 100%;
		right: 0 !important;
	}
}

.sheet.macro-sheet {
	.form-group.furnace-macro-command {
		border: none;
		flex: 1 1 auto;
		height: auto;
		margin-inline-start: m("sm");
		padding: 0;
		padding-block-end: p("sm");
		width: calc(100% - #{to-rem(16px)});

		.-compact & {
			margin-inline-start: m("base");
			padding-block-end: p("base");
			width: calc(100% - #{to-rem(8px)});
		}

		&.fullscreen {
			@include size(80vw, 80vh);
			background: transparent;
			margin-block-start: 10vh;
			margin-inline-start: 10vh;
			padding: 0;
			z-index: 10000;

			&::before {
				@include fixed(left -10vw top -10vh);
				@include size(110vw, 110vh);
				background: color("charcoal-900", 0.8);
				content: "";
				z-index: 1;
			}

			.-compact & {
				@include size(80vw, 80vh);
				margin-block-start: 10vh;
				margin-inline-start: 10vh;
				padding: 0;
			}

			textarea {
				background: color("charcoal-50");
				height: 100%;
				z-index: 2;
			}

			.furnace-macro-expand {
				z-index: 3;
			}
		}

		textarea {
			text-shadow: none;
			z-index: initial;
		}

		pre {
			pointer-events: none;
		}
	}

	.furnace-macro-expand {
		@extend %primary-button;
		position: absolute;
	}
}
