#sidebar,
.sidebar-popout {
	#playlists {
		.directory-list li.now-playing {
			border: 0;

			> .playlist-header {
				pointer-events: none;

				h4 {
					padding-inline-start: 0;
				}
			}

			> .playlist-sounds {
				> .now-playing-item {
					padding: 0;

					&:last-child {
						.playlist-sounds .sound {
							border-block-end: 0;
						}
					}
				}
			}
		}

		li.sound.sound-is-playing {
			background: transparent;
		}
	}

	.sound-control-hidden {
		display: flex;
	}

	#combat li.combatant.turn-done {
		color: color("text-lightest");
	}
}

form .furnace-macro-run-as-gm.form-group {
	label.form-group {
		flex: 1 1 auto;
		margin: 0;
		padding: 0;
	}

	.tooltip {
		background-color: color("background-darkest", 0.8);
		border-radius: $global-border-radius-default;
		border: none;
		bottom: 100% !important;
		color: color("text-lightest");
		height: auto;
		left: auto;
		max-width: 100%;
		padding: p("base");
		right: 0 !important;
		top: auto;
		white-space: initial;
		word-break: break-word;
	}
}

.sheet.macro-sheet {
	.form-group.furnace-macro-command {
		border: b("border");
		border-radius: 0;
		color: color("text");
		flex: 1 1 auto;
		height: auto;
		margin-inline-start: m("sm");
		padding: 0;
		width: calc(100% - #{to-rem(16px)});

		.-compact & {
			margin-inline-start: m("base");
			width: calc(100% - #{to-rem(8px)});
		}

		&.fullscreen {
			@include size(80vw, 80vh);
			background: transparent;
			margin-block-start: 10vh;
			margin-inline-start: 10vh;
			z-index: 10000;

			&::before {
				@include fixed(left -10vw top -10vh);
				@include size(110vw, 110vh);
				background-color: color("background-darkest", 0.8);
				content: "";
				z-index: 1;
			}

			.-compact & {
				@include size(80vw, 80vh);
				margin-block-start: 10vh;
				margin-inline-start: 10vh;
				padding: 0;
			}

			textarea {
				height: 100%;
				z-index: 10;
			}

			pre {
				background-color: color("background-lightest");
			}

			.furnace-macro-expand {
				z-index: 11;
			}
		}

		textarea {
			border: none;
			font-size: to-rem(14px);
			height: 100%;
			padding: to-rem(5px);
			text-shadow: none;
		}
	}

	.furnace-macro-expand {
		@extend %primary-button;
		position: absolute;
	}

	.sheet-footer,
	.window-resizable-handle {
		z-index: 11;
	}
}
