#specials-config {
	.fxmaster {
		.directory-header {
			@include layout {
				flex-direction: row;
			}

			> div {
				@include layout {
					flex: 1 1 auto;

					i {
						margin: 0;
					}
				}

				&.active {
					a {
						background-color: color("primary");
					}
				}
			}

			a {
				@extend %primary-button;

				@include layout {
					width: 100%;
				}
			}
		}

		.directory-list {
			@include layout {
				padding-block-start: p("base");
			}
		}

		.special-effects {
			.preview {
				background-color: color("black", 0.1);
				border: none;

				@include layout {
					@include size(space("button"));
					flex: 0 0 auto;
					margin: m("base");
					margin-inline-start: 0;
					overflow: hidden;

					> video {
						height: 100%;
						width: 100%;
					}
				}
			}

			.description {
				@include layout {
					align-items: center;
					display: flex;
					padding: p("base");

					h4 {
						color: color("text-lightest");
						font-size: fs("lg");
						height: auto;
						text-indent: 0;
					}
				}

				.author {
					color: color("text-lightest");

					@include layout {
						font-size: fs("sm");
						line-height: 1.2;
						text-align: left;
					}
				}
			}

			.controls {
				@include layout {
					flex: 0 0 auto;
					line-height: 1;
					padding: 0;
				}

				a {
					@extend %control-button;
				}
			}
		}
	}
}

#effects-config {
	.directory-list {
		background: transparent;

		@include layout {
			height: auto;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	.directory-item {
		border-block-end: b("border");

		@include layout {
			padding: p("base");
		}

		header {
			@include layout {
				align-items: center;
				gap: space("base");
			}

			label {
				color: color("text-lightest");
				text-shadow: none;

				@include layout {
					text-indent: 0;
				}

				&:hover {
					color: color("primary");
				}
			}
		}

		ol.config {
			border: none;

			li {
				color: color("text-lightest");

				@include layout {
					display: flex;
					gap: space("base");
				}

				.range-value {
					color: color("text-lightest");
				}
			}
		}
	}

	.form-footer {
		background-color: transparent;
	}
}

#filters-config {
	.directory-header {
		@include layout {
			align-items: center;
			font-size: fs("sm");
			line-height: 1.2;
			gap: space("base");
			justify-content: center;
			margin: 0;
			padding: p("base");
		}

		.layer-toggle {
			color: color("text-lightest");

			@include layout {
				align-items: center;
				display: flex;
				gap: space("base");
			}
		}
	}

	.directory-list {
		background: transparent;

		@include layout {
			height: auto;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	.directory-item {
		border-block-end: b("border");

		@include layout {
			padding: p("base");
		}

		header {
			color: color("text-lightest");
			text-shadow: none;

			label {
				&:hover {
					color: color("primary");
				}
			}
		}

		ol.config {
			border: none;

			li {
				color: color("text-lightest");

				@include layout {
					display: flex;
					gap: space("base");
				}

				.range-value {
					color: color("text-lightest");
				}
			}
		}
	}

	.form-footer {
		background-color: transparent;
	}
}
