#specials-config {
	.fxmaster {
		background-color: color("background-lightest");
		background-image: $global-image-background-lightest;

		.directory-header {
			box-shadow: none;

			@include layout {
				flex-direction: row;

				> div {
					flex: 1 1 auto;

					&:first-child {
						padding-inline-end: p("base");

						a {
							i {
								margin: 0;
							}
						}
					}
				}
			}

			a {
				@extend %primary-button;
				width: 100%;

				> i {
					margin-inline-start: m("sm");
				}
			}
		}

		.special-effects {
			background-color: color("folder-directory");

			.preview {
				background-color: color("black", 0.1);
				border: none;

				@include layout {
					@include size(space("button"));
					flex: 0 0 auto;
					margin: m("base");
					overflow: hidden;

					> video {
						height: 100%;
						width: 100%;
					}
				}
			}

			.description {
				@include layout {
					align-items: center;
					display: flex;
					padding: p("sm");

					h4 {
						color: color("text-lightest");
						font-size: fs("lg");
						height: auto;
						text-indent: 0;
					}
				}

				.author {
					color: color("text-lightest");

					@include layout {
						font-size: fs("sm");
						line-height: 1.2;
						text-align: left;
					}
				}
			}

			.controls {
				@include layout {
					flex: 0 0 auto;
					line-height: 1;
					padding: 0;
				}

				a {
					@extend %control-button;
				}
			}
		}

		.directory-item {
			&:last-of-type {
				@include layout {
					margin-block-end: m("sm");
				}
			}
		}

		.directory-footer {
			@include layout {
				display: none;
			}
		}
	}
}

#effects-config {
	.directory-list {
		background-color: color("background-lightest");
		background-image: $global-image-background-lightest;

		@include layout {
			height: auto;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	.directory-item {
		border-block-end: b("border");

		@include layout {
			padding: p("base");
		}

		header {
			@include layout {
				align-items: center;
			}

			label {
				color: color("text");
				text-shadow: none;

				@include layout {
					padding-inline-start: p("sm");
					text-indent: 0;
				}

				&:hover {
					color: color("primary");
				}
			}
		}
	}

	.form-footer {
		background-color: color("background-lightest");
		background-image: $global-image-background-lightest;

		@include layout {
			bottom: 0;
			padding: p("sm");
			position: sticky;
		}
	}

	input[type="checkbox"] + input[type="color"] {
		@include layout {
			margin-inline-start: m("base");
		}
	}
}

#filter-config {
	.window-content form {
		@include layout {
			height: auto;
		}
	}

	.directory-list {
		@include layout {
			height: auto;
			overflow-x: hidden;
			overflow-y: auto;
			padding-block-end: p("sm");
		}
	}

	.form-footer {
		background-color: color("background-lightest");
		background-image: $global-image-background-lightest;
		border-block-start: b("border");

		@include layout {
			bottom: 0;
			padding-block-start: p("sm");
			position: sticky;
		}
	}

	input[type="checkbox"] + input[type="color"] {
		@include layout {
			margin-inline-start: m("base");
		}
	}
}
