.app.window-app .open-gm-note {
	> i {
		@include layout {
			margin: 0 $global-space-base;
		}
	}
}

.gm-notes.window-app {
	.controlls {
		@include layout {
			display: flex;
			gap: $global-space-base;

			button {
				flex: 1 1 auto;
			}
		}
	}
}
