.illandril-chat-enhancements--currentSpeaker {
	align-items: center;
	background-color: color("background", 0.5);
	background-image: $global-image-background;

	@include layout {
		display: flex;
		flex: 0 0 auto;
		margin: 0;
		padding: p("base") p("sm");
	}
}
