#lmrtfy.lmrtfy-parchment {
	.window-content {
		@include layout {
			padding-block-end: 0;
		}
	}

	.lmrtfy-actor {
		@include layout {
			flex: 0 0 auto;
		}
	}

	.lmrtfy-actor-avatars {
		input:checked + label img {
			@extend %global-active;
			box-shadow: none;
		}
	}

	.lmrtfy-submit {
		background-color: color("background-lightest");
		border-block-start: b("border");

		@include layout {
			bottom: 0;
			display: flex;
			flex-wrap: nowrap;
			padding: p("sm");
			position: sticky;
		}
	}

	input[type=checkbox] + label {
		@include layout {
			cursor: pointer;
		}
	}

	input[type=checkbox]:checked + label {
		color: color("primary");
		font-weight: normal;
	}

	select + select {
		@include layout {
			margin-inline-start: m("base");
		}
	}
}
