// a ton of inline styles
#macro-popout.window-app {
	.folder-header.macro-folder-header h3 {
		margin: 0 !important; // because inilne
	}
}

.select-folder.window-app.form {
	.form-folder-list {
		background-color: transparent;
		border: none;
	}
}

#macro-folder-edit {
	.form-macro-list {
		background-color: transparent;
		border: none;
		border-radius: 0;

		@include layout {
			font-size: fs("md");
			padding: 0;
		}
	}
}
