.monsterblock {
	&.compact-window .window-content {
		box-shadow: none;
	}

	.window-header a.close {
		@include layout {
			height: $global-space-button-sm !important; // because other important
			right: auto;
		}
	}

	.window-content form.flexcol {
		@include layout {
			display: block;
			gap: unset;
		}
	}

	&.sheet.actor {
		nav.switches {
			@include layout {
				height: $global-space-button-xs;
				left: 0;
				padding-inline-start: 0;
				position: absolute;
				top: -2px;
			}

			.fa-cog {
				background-color: RGB($emu-color-background-button);
				border: none;
				border-block-start: RGB($emu-color-background-lightest) 2px solid;
				border-inline-end: RGB($emu-color-background-lightest) 2px solid;
				border-radius: 0 0 $global-border-radius-default 0;
				color: RGB($emu-color-text-lightest);
				transition:
					background $global-transition-time-base $global-transition-type-link,
					box-shadow $global-transition-time-base $global-transition-type-link,
					color $global-transition-time-base $global-transition-type-link;

				@include layout {
					align-items: center;
					bottom: 0;
					cursor: pointer;
					display: inline-flex;
					font-size: $global-font-size-md;
					height: $global-space-button-xs;
					justify-content: center;
					left: 0;
					margin: 0;
					padding: 0;
					position: absolute;
					width: $global-space-button-xs;
					z-index: $global-z-index-fixed;
				}

				&:hover {
					@extend %global-hover;
				}

				&:focus {
					@extend %global-focus;
				}
			}

			ul {
				background-color: RGB($emu-color-background-lightest);
				background-image: $global-image-background-lightest;
				border-radius: $global-border-radius-default;
				border: 1px solid RGB($emu-color-border);
				box-shadow: 0 2px 4px RGB($emu-color-black);
				color: RGB($emu-color-text);

				li {
					border-inline-start: 0;
					border-block-end: 1px solid RGB($emu-color-border);

					@include layout {
						margin: 0;
						position: relative;
						display: inline-block;
						padding: 0;
					}

					.switch-input {
						@extend %input-text;

						@include layout {
							width: 100%;
						}
					}

					a {
						&:hover {
							color: RGB($emu-color-primary);
							text-shadow: none;
						}

						@include layout {
							padding: $global-space-xs;

							&:not(:only-child)::after {
								right: $global-space-base;
								top: $global-space-xs;
							}
						}
					}
				}
			}
		}
	}

	.tweak-menu {
		ul {
			background-color: RGB($emu-color-background-lightest);
			background-image: $global-image-background-lightest;
			border-radius: $global-border-radius-default;
			border: 1px solid RGB($emu-color-border);
			box-shadow: 0 2px 4px RGB($emu-color-black);
			color: RGB($emu-color-text);

			li {
				border-inline-start: 0;
				border-block-end: 1px solid RGB($emu-color-border);

				@include layout {
					margin: 0;
					position: relative;
					display: inline-block;
					padding: 0;
				}

				labal, // wtf hahahaha
				a,
				label {
					&:hover {
						color: RGB($emu-color-primary);
						text-shadow: none;
					}

					@include layout {
						padding: $global-space-xs;

						&.menu-toggle {
							padding-inline-start: $global-space-md;
						}

						&:not(:only-child)::before {
							left: $global-space-base;
							top: $global-space-xs;
						}
					}
				}

				labal {
					display: block;
				}
			}
		}
	}
}
