#navigation .monks-scene-navigation {
	@include layout {
		height: auto;
		margin-block-end: m("base");
		padding: 0;
	}

	.scene-list {
		background-color: transparent;
		border: none;
		border-radius: $global-border-radius-default;

		@include layout {
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
		}

		> .nav-item {
			background-color: transparent;
			background-image: none;
			border: none;
			border-radius: $global-border-radius-default;

			@include layout {
				flex: 0 0 auto;
				height: auto;
				line-height: initial;
				margin-block-end: space("base");
				margin-inline-end: space("base");
				max-width: initial;
				min-width: initial;
				padding: 0;
			}

			&:hover {
				background-color: transparent;
			}

			&.active {
				background-color: transparent;

				> .scene-name {
					@extend %global-active;
					background-image: none;
				}
			}

			> .scene-name {
				background-color: color("background-darkest", 0.8);
				background-image: $global-image-background-controls;
				border: none;
				border-radius: $global-border-radius-default;
				box-shadow: none;
				color: color("text-lightest");
				outline: none;
				text-shadow: none;
				transition: t(box-shadow color opacity, "link");

				@include layout {
					@include size(auto, to-rem(36px));
					cursor: pointer;
					display: block;
					line-height: to-rem(36px);
					margin: 0;
					max-width: to-rem(240px);
					min-width: to-rem(112px);
					padding: 0 p("md");
					position: relative;
					text-align: center;
				}

				@include layout(compact) {
					height: to-rem(28px);
					line-height: to-rem(28px);
					min-width: to-rem(88px);
				}

				&:hover {
					@extend %global-hover;
					background-image: none;
				}
			}

			.active-indicator {
				color: color("text-lightest");

				@include layout {
					float: initial;
					height: auto;
					line-height: 1;
					margin: 0;
					margin-inline-end: m("xs");
					width: auto;
				}
			}

			.scene-player {
				@include layout {
					flex: 0 0 auto;
					max-width: 100%;
				}

				&:last-child {
					@include layout {
						min-width: 0;
					}
				}

				> div {
					background-color: transparent;
					border: none;
					border-radius: 0;
					box-shadow:
						inset 0 0 0 1px color("primary"),
						inset 0 0 0 2px color("white"), 0 1px 2px 0 color("black", 0.3);
					color: transparent;

					@include layout {
						@include size(100%);
						line-height: 1;
						position: relative;
					}
				}
			}
		}

		> .folder-header {
			@include layout {
				align-items: center;
				display: flex;
				margin-inline-end: m("md");
				padding: 0 p("md");

				> i {
					margin-inline-end: m("base");
				}
			}
		}
	}
}

#sidebar,
.sidebar-popout {
	#scenes .directory-item.scene h3 {
		a {
			@include layout {
				max-width: 80%;

				i {
					margin-inline-end: m("base");
				}
			}
		}

		.permissions {
			background-color: transparent;
			color: color("text-lightest");

			@include layout {
				align-items: center;
				display: inline-flex;
				height: space("button-sm");
				left: auto;
				padding: 0 p("base");
				position: absolute;
				right: 0;
				top: space("base");
				width: auto;

				> i {
					font-size: inherit;
				}
			}

			> i {
				text-shadow: none;
			}
		}
	}
}
