#OneJournalShell.window-app {
	&.maximized {
		> .window-header {
			@include layout {
				position: relative;
			}
		}
	}

	.window-header .one-journal-header {
		background-color: transparent;
		border: none;

		@include layout {
			margin: 0;
			padding: 0 p("sm");
		}

		a {
			@include layout {
				position: relative;
			}
		}
	}

	.window-content {
		background-color: color("background-lightest");
		background-image: $global-image-background-lightest;
	}

	.one-journal-attached {
		@include layout {
			.window-header {
				display: none;
			}

			form > input {
				flex: 0 0 calc(100% - #{to-rem(98px))});
			}
		}
	}

	.shell-content {
		border: none;

		@include layout {
			.window-resizable-handle {
				display: none;
			}

			.editor-edit {
				right: to-rem(64px);
			}
		}
	}

	.history-navigation {
		@include layout {
			right: space("sm");
			top: space("sm");
		}

		a {
			@extend %primary-button;

			@include layout {
				opacity: 1;

				> i {
					margin: 0;
				}
			}
		}
	}

	.sidebar-toggle {
		background-color: color("background-button");
		border: none;
		border-block-end: color("background-lightest") 2px solid;
		border-inline-start: color("background-lightest") 2px solid;
		border-radius: $global-border-radius-default 0 0 0;
		color: color("text-lightest");
		transition: t(background box-shadow color, "link");

		@include layout {
			@include absolute(top 0 right 0);
			@include size(to-rem(20px));
			align-items: center;
			cursor: pointer;
			display: inline-flex;
			font-size: fs("sm");
			justify-content: center;
			margin: 0;
			padding: 0;
			z-index: z("fixed");
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}
	}

	.one-journal-attached,
	.shell-sidebar {
		border: none;
	}
}

#OneJournalDirectory {
	#journal.sidebar-tab {
		.directory-header {
			@include layout {
				margin: 0;
				padding: p("sm");

				button {
					height: auto;
				}
			}

			.header-actions {
				border: none;

				@include layout {
					margin-block-end: m("base");

					#world-anvil {
						display: none;
					}
				}
			}
		}

		.subdirectory {
			border-block-end: none;
		}

		.directory-item {
			&.selected {
				background-color: color("primary");
			}
		}
	}
}

#sidebar,
.sidebar-popout {
	.sidebar-tab .directory-footer {
		button + button + button.one-journal-open {
			@include layout {
				margin: 0;
				margin-block-start: m("base");
			}
		}

		button.one-journal-open {
			@include layout {
				flex: 1 1 auto;
			}
		}
	}
}
