div.permission-viewer {
	@include layout {
		flex: 0 0 auto;
		gap: $global-space-base;
		margin: 0;
	}

	a {
		@extend %control-button;
		text-shadow: none;

		@include layout {
			padding: 0 $global-space-base;
			width: auto;
		}
	}
}
