#polyglot {
	align-items: center;
	background-color: color("background", 0.5);
	display: flex;
	flex: 0 0 auto;
	margin: 0;
	padding: 0 p("sm");
	padding-block-end: p("base");

	label {
		flex: 0 0 auto;
		margin-inline-end: m("base");
	}

	select {
		@extend %input-select;
		background-color: color("background", 0.5);
		color: color("text-lightest");
	}
}
