#polyglot {
	background-color: color("background", 0.5);
	background-image: $global-image-background;

	@include layout {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		flex-wrap: nowrap;
		margin: 0;
		padding: 0 p("sm");
		padding-block-end: p("base");
	}

	label {
		@include layout {
			flex: 0 0 auto;
			margin-inline-end: m("base");
		}
	}

	select {
		background-color: color("background", 0.5);
		color: color("text-lightest");

		@include layout {
			flex: 1 1 auto;
			width: 1px; // flex hack
		}
	}
}

#client-settings.window-app form {
	.polyglot-group-header {
		background-color: transparent;
		border-block-end: b("border");

		@include layout {
			margin-block-start: m("base");
		}
	}
}

#polyglot-death-form.window-app {
	.window-content form {
		@include layout {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			padding: 0 !important;

			> div:not(.sheet-footer) {
				flex: 1 1 auto;
				overflow: auto;
				margin-block-end: m("base");
				padding-inline-end: p("sm");
				padding-block-end: p("sm");

				ul {
					padding: 0;
				}

				li {
					margin-block-end: m("base");

					&:last-child {
						margin-block-end: 0;
					}
				}
			}

			.sheet-footer {
				flex: 0 0 auto;
				margin: 0;
				margin-block-start: m("sm") !important;
			}
		}
	}
}

#sidebar,
.sidebar-popout {
	#chat {
		#chat-log {
			.message {
				.button.polyglot-message-language {
					@extend %link-button;
					color: color("text");

					@include layout {
						@extend %control-button;
						color: color("text");
					}
				}
			}
		}
	}
}
