// Revisit This

#polyglot {
	background-color: color("background", 0.5);
	background-image: $global-image-background;

	@include layout {
		align-items: center;
		display: flex;
		flex: 0 0 auto;
		flex-wrap: nowrap;
		margin: 0;
		padding: 0 $global-space-sm;
	}

	label {
		color: color("text-lightest");

		@include layout {
			flex: 0 0 auto;
			margin-inline-end: $global-space-base;
		}
	}

	select {
		background-color: color("background", 0.5);
		color: color("text-lightest");

		@include layout {
			flex: 1 1 auto;
			width: 1px; // flex hack
		}
	}
}

#client-settings.window-app form {
	.polyglot-group-header {
		background-color: transparent;
		border-block-end: b("border");

		@include layout {
			margin-block-start: $global-space-base;
		}
	}
}

#polyglot-death-form.window-app {
	.window-content form {
		@include layout {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			padding: 0 !important;

			> div:not(.sheet-footer) {
				flex: 1 1 auto;
				overflow: auto;
				margin-block-end: $global-space-base;
				padding-inline-end: $global-space-sm;
				padding-block-end: $global-space-sm;

				ul {
					padding: 0;
				}

				li {
					margin-block-end: $global-space-base;

					&:last-child {
						margin-block-end: 0;
					}
				}
			}

			.sheet-footer {
				flex: 0 0 auto;
				margin: 0;
				margin-block-start: $global-space-sm !important;
			}
		}
	}
}
