#players {
	#player-list {
		#userPing {
			cursor: pointer;
			margin-inline-end: 0 !important; // because inline
			text-shadow: none;

			&:hover {
				color: color("primary");
			}
		}
	}
}

// because inline
#pingPop {
	background: color("background-darkest", 0.8) !important;
	border-radius: var(--emu-border-radius-default) !important;
	opacity: 1 !important;
	padding: p("sm") !important;

	.-compact & {
		padding: p("base") !important;
	}
}
