#controls {
	.sdr-sub-controls {
		@include layout {
			bottom: 0;
			left: $global-space-sm;
			position: absolute;
		}
	}

	#SDRpopup.simple-dice-roller-popup {
		background-color: color("background");
		background-image: $global-image-background;
		border: b("border") !important;
		border-radius: $global-border-radius-default;
		box-shadow: none !important; // because MOD inline
		color: color("text-lightest");

		@include layout {
			flex-direction: column;
			line-height: initial;
			margin: 0;
			pointer-events: all;
		}

		ul {
			border-block-end: b("border");
		}

		li {
			border: none;
			border-inline-end: b("border");

			@include layout {
				@include size(to-rem(48px));
				align-items: center;
				display: inline-flex;
				height: auto;
				justify-content: center;
			}

			&:hover {
				@extend %global-hover-alt;
			}

			&:first-child {
				@include layout {
					width: to-rem(112px);
				}
			}

			&:last-child {
				border-inline-end: none;
			}

			> i {
				margin-inline-end: $global-space-base;
			}
		}
	}
}
