[data-tool="thandulTogglables"] i {
	@include layout {
		@include size(70%);
		filter: initial;
	}
}

.thandulTogglables {
	background-color: color("background");
	border: b("border");
	border-radius: br("sm");
	box-shadow: none;
	color: color("text-lightest");


	@include layout {
		@extend %reset-list;
		@include absolute(left to-rem(48px));
		display: none;
		padding: p("base");
		top: 0 !important;
	}

	@include layout(compact) {
		padding: p("xs");
	}

	ul {
		@include layout {
			@include size(100%);
			display: flex;
			min-width: to-rem(400px);
			padding: 0;
		}
	}

	li {
		@include layout {
			@include size(25%, 100%);
			border: none;
			display: flex;
			justify-content: center;
			padding: p("sm");
		}

		@include layout(compact) {
			padding: p("base");
		}

		&:hover {
			background-color: color("primary");
			box-shadow: none;
		}

		img {
			border: b("border");
			border-radius: 0;

			@include layout {
				margin: 0;
				max-width: to-rem(56px);
			}
		}

		p {
			@include layout {
				margin: 0;
				margin-block-start: m("sm");
			}

			@include layout(compact) {
				margin-block-start: m("base");
			}
		}
	}
}

#controls li.active[data-tool="thandulTogglables"] div.thandulTogglables {
	@include layout {
		display: grid;
	}
}
