.tidy5e.settings.window-app {
	background-color: color("background-lightest");
	background-image: $global-image-background-light;
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: 0 2px 4px color("black");

	.window-content {
		@include layout {
			padding: p("sm");
		}
	}

	.sheet-tabs {
		@include layout {
			padding: 0;
		}
	}

	section.tab {
		@include layout {
			margin-block-start: m("base");
		}
	}

	.setting {
		background-color: transparent;
		border-radius: 0;

		@include layout {
			margin: 0;
			padding: p("sm");
		}

		&:nth-of-type(even) {
			background-color: color("background-light", 0.1);
		}

		+ h3 {
			@include layout {
				margin-block-start: m("sm");
			}
		}

		.description {
			@include layout {
				margin-inline-start: m("sm");
			}
		}
	}
}

.tidy5e.sheet.actor.npc .spellcasting-ability {
	background-color: color("background-lightest");
	background-image: $global-image-background-lightest;
}

.tidy5e.sheet.actor {
	.window-content {
		@include layout {
			padding: 0;
			position: initial;
		}
	}

	#item-info-container {
		background-color: color("background-lightest", $global-background-opacity-window-content);
		background-image: $global-image-background-lightest;
		border-radius: $global-border-radius-default 0 0 $global-border-radius-default;
		border: b("border");
		border-inline-end: 0;
		box-shadow: $global-box-shadow;
		color: color("text");

		@include layout {
			transition: t(width, "shift");
			transition-delay: 0s;
		}

		.info-wrap {
			border-inline-end: b("border-lighter")
		}

		.info-card {
			border-radius: 0;

			@include layout {
				padding: p("sm");
			}
		}
	}
}
