.tidy5e.settings.window-app {
	background-color: color("background-lightest");
	background-image: $global-image-background-light;
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: 0 2px 4px color("black");

	.window-content {
		@include layout {
			padding: p("sm");
		}

		@include layout(compact) {
			padding: p("base");
		}
	}

	.sheet-tabs {
		@include layout {
			padding: 0;
		}
	}

	section.tab {
		@include layout {
			margin-block-start: m("base");
		}
	}

	.setting {
		background-color: transparent;
		border-radius: 0;

		@include layout {
			margin: 0;
			padding: p("sm");
		}

		@include layout(compact) {
			padding: p("base");
		}

		&:nth-of-type(even) {
			background-color: color("background-light", 0.1);
		}

		+ h3 {
			@include layout {
				margin-block-start: m("sm");
			}

			@include layout(compact) {
				margin-block-start: m("base");
			}
		}

		.description {
			@include layout {
				margin-inline-start: m("sm");
			}
		}
	}
}
