.tidy5e.settings.window-app {
	border: 1px solid RGB($emu-color-border);
	border-radius: $global-border-radius-default;
	box-shadow: 0 2px 4px RGB($emu-color-black);

	.window-content {
		@include layout {
			padding: $global-space-sm;
		}
	}

	.sheet-tabs {
		@include layout {
			padding: 0;
		}
	}

	section.tab {
		@include layout {
			margin-block-start: 0;
		}
	}

	.setting {
		background-color: transparent;
		border-radius: 0;

		@include layout {
			margin: 0;
			padding: $global-space-sm;
		}

		&:nth-of-type(even) {
			background-color: RGBA($emu-color-background-light, 0.1);
		}
	}
}

.tidy5e.sheet.actor.npc .spellcasting-ability {
	background-color: RGB($emu-color-background-lightest);
	background-image: $global-image-background-lightest;
}

.tidy5e.sheet.actor {
	.window-content {
		@include layout {
			padding: 0;
			position: initial;
		}
	}

	#item-info-container {
		background-color: RGBA($emu-color-background-lightest, $global-background-opacity-window-content);
		background-image: $global-image-background-lightest;
		border-radius: $global-border-radius-default 0 0 $global-border-radius-default;
		border: 1px solid RGB($emu-color-border);
		border-inline-end: 0;
		box-shadow: $global-box-shadow;
		color: RGB($emu-color-text);

		@include layout {
			transition: t(width, "shift");
			transition-delay: 0s;
		}

		.info-wrap {
			border-inline-end: 1px solid RGB($emu-color-border-lighter)
		}

		.info-card {
			border-radius: 0;

			@include layout {
				padding: $global-space-sm;
			}
		}
	}
}
