.window-app {
	&#client-settings,
	&#module-management {
		min-height: to-rem(500px);

		.package-list,
		section.content .settings-list {
			max-height: 100%;
		}
	}
}

#client-settings.app.window-app.form #config-tabs {
	.module-settings-wrapper {
		div.form-group {
			flex-direction: row;
			margin: 0;

			label,
			button,
			.form-fields {
				margin: 0;
				order: initial;
				width: auto;
			}

			button label {
				flex-basis: initial !important;
			}

			.form-fields {
				justify-content: flex-end;
				width: 1px; // hacky hack

				input,
				select {
					flex-basis: 100%;
					width: 100%;
				}

				input[type="checkbox"] {
					@extend %input-checkbox;
					-webkit-appearance: checkbox;
					-moz-appearance: checkbox;
					appearance: checkbox;
					left: initial;
					position: relative;
					top: initial;
					transform-origin: initial;

					&::after {
						display: none;
					}

					&:hover {
						@extend %global-hover-alt;
						border: b("border");
					}

					&:focus {
						@extend %global-focus;
						border: b("border");
					}

					&:disabled {
						pointer-events: none;
					}
				}
			}
		}
	}

	.module-wrapper {
		h2.module-header {
			@extend %default-button;
			@extend %button-icon;
			background-color: color("background-button");
			font-weight: normal;
			justify-content: flex-start;
			margin-block-end: m("base");
			width: 100%;

			&.open {
				background-color: color("primary");
			}

			> span {
				color: color("text-lightest");
				margin-inline-end: m("sm");

				.-compact & {
					margin-inline-end: 0;
				}
			}
		}

		// dude...
		div.form-group {
			align-items: center !important;
			justify-content: flex-start !important;

			> label {
				flex-basis: 40% !important;
			}
		}
	}
}

#client-settings #config-tabs div.tab[data-tab="modules"],
#module-management .enhanced-module-management {
	#searchField {
		border: none;
		border-radius: $global-border-radius-controls;
		height: auto;
		margin: 0;
		margin-block-end: m("sm");

		.compact & {
			margin-block-end: m("base");
		}

		#searchInput {
			@extend %input-text;
		}

		#clear {
			@extend %control-button;
			display: none;
			position: absolute;

			&.show {
				display: flex;
			}
		}
	}

	div.form-group .picker_wrapper {
		margin: 0;
	}
}

#settings .game-system {
	margin: 0;
}

#module-management {
	.package-title {
		input {
			-webkit-appearance: auto;
			-moz-appearance: auto;
			appearance: auto;

			&::after {
				display: none;
			}
		}
	}

	form {
		> .enhanced-module-management {
			margin: 0;
			padding: 0;
			padding-block-end: p("sm");

			.-compact & {
				padding-block-end: p("base");
			}

			button {
				margin-inline-end: m("base");

				.-compact & {
					padding-block-end: p("xs");
				}

				&:last-of-type {
					margin-inline-end: 0;

					.-compact & {
						padding-block-end: 0;
					}
				}
			}
		}
	}
}
