#token-variants-side-button {
	@include layout {
		height: $global-space-button-sm;
		width: $global-space-button-sm;
	}
}

#tile-hud .token-variants-wrap,
#token-hud .token-variants-wrap {
	.control-icon {
		@include layout {
			display: inline-flex;
			height: auto;
			width: auto;

			> i {
				position: absolute;
			}
		}
	}
}

.tva-setting-nav {
	@include layout {
		height: auto !important;
		margin: 0 !important;

		.item {
			white-space: nowrap;
		}
	}
}
