.token-attacher-gm-menu.window-app.settings .window-content {
	form {
		button {
			@include layout {
				margin: 0;
			}
		}
	}
}

#tokenAttacherQuickEdit {
	background: transparent;

	h3 {
		color: color("primary");
		text-shadow: 1px 1px 4px color("black");

		@include layout {
			font-size: $global-font-size-xl;
			line-height: initial;
		}
	}
}

#tokenAttacher {
	@include layout {
		display: flex;
		gap: $global-space-base;
		left: to-rem(96px);
		top: to-rem(52px);
	}

	@include layout(compact) {
		left: to-rem(72px);
		top: to-rem(38px);
	}

	.image {
		background-color: color("background-darkest", 0.8);
		background-image: $global-image-background-darkest;
		border-radius: $global-border-radius-images $global-border-radius-images 0 0;
		border: b("primary");

		@include layout {
			@include size(to-rem(104px));
			flex: 0 0 auto;
			margin: 0;
			min-width: 0;
		}

		.token-name {
			background-color: color("background-darkest");
			background-image: $global-image-background-darkest;
			border: b("primary");
			border-radius: 0 0 $global-border-radius-images $global-border-radius-images;
			color: color("text-lightest");

			@include layout {
				align-items: center;
				bottom: auto;
				box-sizing: border-box;
				display: flex;
				font-size: $global-font-size-lg;
				justify-content: center;
				overflow: hidden;
				padding: $global-space-base;
				margin: 0;
				max-width: 100%;
				top: 100%;

				span {
					height: auto;
					margin: 0;
					width: auto;
				}
			}
		}
	}

	.control-tools {
		@include layout {
			@extend %reset-list;
			box-sizing: border-box;
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			gap: $global-space-base;
			pointer-events: none;
			opacity: 1;
			transition: t(opacity left, "link");
		}
	}

	.control-tool {
		background-color: color("background", 0.8);
		background-image: $global-image-background-controls;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		color: color("text-lightest");
		font-size: $global-font-size-lg;
		transition: t(background box-shadow color opacity, "link");

		@include layout {
			@include size($global-space-button-lg);
			align-items: center;
			box-sizing: border-box;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			line-height: initial;
			margin: 0;
			pointer-events: all;
			position: relative;

			> i {
				font-size: inherit;
				height: auto;
				line-height: 1;
				margin: 0;
				position: relative;
				width: auto;
			}
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.close {
			@include absolute(top $global-space-pf left $global-space-pf);
			margin: 0;
		}
	}
}
