.tokenmagic.window-app.settings {
	section.content {
		border: none;

		@include layout {
			overflow-y: auto;
		}

		div.override-entry {
			border-block-start: b("border");

			@include layout {
				padding: $global-space-sm 0;

				.remove-override-wrapper {
					margin-inline-start: $global-space-base;

					i {
						margin: 0;
					}
				}
			}
		}

		.settings-list {
			@include layout {
				max-height: 100%;
				overflow: hidden;
				padding: 0;

				h2 {
					margin-block-start: $global-space-sm;
				}
			}
		}
	}

	.sheet-footer {
		@include layout {
			flex: 0 0 auto;
			padding-block-start: $global-space-sm;
		}
	}
}
