#token-action-hud {
	@include layout {
		margin: 0;
	}

	&:hover {
		#tah-reposition,
		#tah-categories {
			@include layout {
				visibility: visible;
			}
		}
	}

	#tah-hudTitle {
		color: color("white");
		text-shadow: 2px 2px 2px color("black");

		@include layout {
			font-size: fs("sm");
			margin: 0;
			margin-inline-start: to-rem(28px);
			padding: 0;
		}
	}

	#tah-reposition,
	#tah-categories {
		@extend %control-button;

		@include layout {
			left: initial;
			margin: 0;
			visibility: hidden;
		}

		i {
			color: inherit;
			text-shadow: 2px 2px 2px color("black");

			@include layout {
				font-size: fs("sm");
				padding: initial;
				margin: initial;
				text-align: initial;
			}
		}
	}

	#tah-categories {
		@include layout {
			margin-inline-start: m("base");
		}
	}

	button.tah-title-button,
	.tah-action button {
		@extend %primary-button;

		@include layout {
			margin-inline-start: m("base");

			> .fa {
				display: none;
			}
		}
	}

	.tah-subtitle {
		color: color("white");
		text-shadow: 2px 2px 2px color("black");

		@include layout {
			font-size: fs("sm");
			line-height: initial;
			padding: 0;
			padding-block-start: p("sm");
		}

		@include layout(compact) {
			padding-block-start: p("base");
		}
	}

	.tah-action {
		@include layout {
			margin: 0;
			margin-block-end: m("base");
			margin-inline-start: m("base");
			padding: 0;
		}

		button {
			background-color: color("background");

			> div {
				text-shadow: none;

				@include layout {
					margin-inline-start: m("base");
				}
			}

			> .tah-img {
				border: none;

				@include layout {
					@include size(to-rem(16px));
					border-radius: 0;
					display: inline-block;
					margin: 0;
					margin-inline-end: m("sm");
					padding: 0;
				}
			}
		}
	}

	.tah-content {
		@include layout {
			left: to-rem(-154px);
			padding: p("sm") 0;
		}

		@include layout(compact) {
			padding: p("base") 0;
		}
	}
}

.token-action-hud-taginput {
	@include layout {
		margin: m("sm") 0;
	}
}

#token-action-hud-index {
	@include layout {
		margin-inline-end: m("base");
	}
}
