#sidebar,
.sidebar-popout {
	.token-mold {
		@extend %panel-block;
		border-block-end: b("border");
		flex-wrap: wrap;
		padding-block-end: 0;

		h3 {
			@extend %h-tag;
			font-size: fs("lg");
			margin: 0;
			margin-block-end: m("base");
			width: 100%;
		}

		> label {
			flex: 1 1 auto;
			padding: p("xs");

			> span {
				@extend %primary-button;
				@include size(100%, space("button-sm"));
				font-size: fs("sm");
				padding: p("base");

				> span {
					margin-inline-end: m("base");
				}
			}

			&:first-of-type {
				padding-inline-start: 0;
			}
		}

		> a {
			@extend %control-button;
		}
	}
}
