// for the love of god, don't use !important people
#sidebar,
.sidebar-popout {
	.import-dd {
		@include layout {
			display: flex  !important;
			flex: 1 1 100% !important;
			margin: 0 !important;
			margin-block-start: m("base") !important;

			&:only-child {
				margin-block-start: 0 !important;
			}
		}
	}
}

#dd-importer {
	.window-content {
		overflow: auto;
	}

	.form-group {
		@include layout {
			align-items: center;
			display: flex;
			margin: 0;
			padding: p("sm");

			&#dd-upload-files {
				align-items: flex-start;
				flex-direction: column;

				.file-input {
					margin-block-start: m("sm");
				}
			}

			> label {
				flex: 0 0 auto;
				padding-inline-end: p("base");
			}
		}
	}
}
