@import "../base";

@include module {
	// this has to be the worst markup and css i have seen out of all the mods
	.active-effect-sheet[id*="ActiveEffectsConfig-"] {
		.tab {
			> div:last-of-type:not(.form-group) {
				border-color: transparent !important;

				@include layout {
					border-style: solid !important;
					border-width: 0 !important;
					padding: 0 !important;
					text-align: initial !important;
				}
			}

			.effect-change {
				// so confused
				textarea {
					@include layout {
						min-height: $global-space-button;
						padding-block-start: calc(#{$global-space-base} + #{$global-space-xs});
						padding-block-end: calc(#{$global-space-base} + #{$global-space-xs});
					}
				}
			}
		}

		.effect-special-duration {
			background-color: RGBA($emu-color-background, 0.05);
			background-image: $global-image-background;

			@include layout {
				align-items: center;
				padding: $global-space-base $global-space-sm;

				> div {
					align-content: initial !important;
					width: auto !important;
				}

				> div:not(.effect-controls) {
					text-align: initial !important;
					width: auto !important;
				}
			}

			.effect-control {
				@extend %control-button;
				color: RGB($emu-color-text);
			}
		}

		.special-duration-list {
			@include layout {
				@extend %reset-list;
			}

			.effect-special-duration {
				background-color: transparent;
			}
		}

		.changes-list .effect-change {
			.keylist {
				@include layout {
					margin-inline-start: $global-space-base;
				}
			}
		}
	}

	.window-app[id*="ActiveEffects-"] {
		.window-content > form {
			@include layout {
				display: flex;
				flex-direction: column;

				> section {
					flex: 1 1 auto;
					overflow-y: auto;

					&:first-child {
						flex: 0 0 auto;

						> div > div {
							border: none !important;
						}
					}
				}
			}

			ul.filter-list {
				border-color: RGB($emu-color-primary);

				@include layout {
					border-style: solid;
					border-width: 0;
					border-block-end-width: 2px;
					display: flex;
					flex: 0 0 auto;
					height: initial;
					line-height: initial;
					margin: 0;
					max-width: 100%;
					position: relative;
				}
			}

			li.filter-item {
				@extend %primary-button;
				background-color: transparent;
				color: RGB($emu-color-text);

				@include layout {
					border-radius: $global-border-radius-default $global-border-radius-default 0 0;
					flex: 1;
					font-size: $global-font-size-md;
					text-shadow: none;
				}

				&.active {
					@extend %global-active;
				}
			}

			.dnd5e.sheet.item {
				@include layout {
					max-height: 100%;
					min-height: 0;
					min-width: 0;
				}

				.effect-header {
					@extend %table-header;

					@include layout {
						display: grid;
						grid-auto-flow: column;
						grid-auto-columns: 1fr;
						flex-wrap: nowrap;
						line-height: 1;
						margin-block-end: 0;
					}

					> div {
						border-color: transparent;

						@include layout {
							align-items: center;
							border-style: solid;
							border-width: 0;
							flex-wrap: nowrap;
						}
					}
				}
			}
		}
	}
}
