@import "../base";

@include module {
	#sidebar,
	.sidebar-popout[id="chat-popout"] .window-content {
		nav.damage-log-nav.tabs {
			box-shadow: none;

			@include layout {
				border-radius: 0;
			}

			a {
				color: RGB($emu-color-text-lightest);
			}
		}
	}
}
