@import "../base";

@include module {
	// for the love of god, don't use !important people
	#sidebar,
	.sidebar-popout {
		.import-dd {
			@include layout {
				display: flex  !important;
				flex: 1 1 100% !important;
				margin: 0 !important;
			}
		}
	}

	#dd-importer {
		.window-content {
			@include layout {
				overflow: auto;
			}
		}

		.form-group {
			@include layout {
				align-items: center;
				display: flex;
				margin: 0;
				padding: $global-space-sm;

				&#dd-upload-files {
					align-items: flex-start;
					flex-direction: column;

					.file-input {
						margin-block-start: $global-space-sm;
						width: 100%;
					}
				}

				> label {
					flex: 0 0 auto;
					gap: $global-space-base;
					padding-inline-end: $global-space-base;

					+ div {
						gap: $global-space-base;
					}
				}
			}
		}
	}
}
