@import "../base";

@include module {
	#sidebar,
	.sidebar-popout {
		[data-tab="chat"] {
			section.dice-tray {
				@extend %panel-block;
				border-block-start: 1px solid RGB($emu-color-border);

				@include layout {
					flex-direction: column;
				}

				> .flexrow {
					@include layout {
						gap: $global-space-base;
						margin: 0;
						width: 100%;
					}
				}

				button.dice-tray__button,
				button.dice-tray__ad,
				button.dice-tray__math,
				button.dice-tray__roll {
					box-shadow: none;

					@include layout {
						flex: 1 1 auto;
						font-weight: normal;
						margin: 0;
					}
				}

				button.dice-tray__button {
					@include layout {
						padding: $global-space-base $global-space-sm;
					}

					&:hover svg * {
						fill: RGB($emu-color-white);
					}

					svg {
						transition: initial;
					}
				}

				.dice-tray__flag {
					background-color: RGB($emu-color-primary);
					color: RGB($emu-color-text-lightest);
					transition: max-height $global-transition-time-fast $global-transition-type-shift;

					@include layout {
						align-items: center;
						border-radius: 0;
						bottom: 100%;
						display: flex;
						font-size: $global-font-size-md;
						height: $global-space-button-xs;
						justify-content: center;
						left: 0;
						line-height: 1;
						max-height: $global-space-button-xs;
						overflow: hidden;
						position: absolute;
						width: 100%;

						&.hide {
							max-height: 0;
						}
					}
				}

				button.dice-tray__math,
				button.dice-tray__roll {
					@include layout {
						flex: 0 0 auto;
						height: $global-space-button;
						width: auto;
					}
				}

				button.dice-tray__math--add,
				button.dice-tray__math--sub {
					@include layout {
						min-width: $global-space-button;
					}
				}

				button.dice-tray__advantage,
				button.dice-tray__math--add {
					&:hover {
						background-color: RGB($emu-color-positive);
					}
				}

				button.dice-tray__disadvantage,
				button.dice-tray__math--sub {
					&:hover {
						background-color: RGB($emu-color-negative);
					}
				}

				input.dice-tray__input {
					@extend %input-text;
					background-color: RGB($emu-color-background-lightest);

					@include layout {
						width: 100%;
					}
				}

				.dice-tray__stacked {
					@include layout {
						gap: $global-space-pf;
						height: $global-space-button;
						margin: 0;
					}
				}

				button.dice-tray__ad {
					@include layout {
						font-size: $global-font-size-xs;
						margin: 0;
						min-height: 0;
						padding: 0;
					}
				}
			}
		}
	}

	.dialog--dice-calculator.window-app {
		.dice-calculator {
			@include layout {
				margin: 0;

				.dice-calculator__input > label {
					font-size: $global-font-size-lg;
					padding-inline-end: $global-space-sm;
				}
			}

			> button,
			.dice-calculator--button {
				color: RGB($emu-color-text-lightest);

				@include layout {
					font-weight: normal;

					+ button {
						margin: 0;
					}
				}
			}
		}
	}
}
