@import "../base";

@include module {
	#emu-settings {
		form {
			@include layout {
				display: flex;
				flex-direction: column;
				height: 100%;
				max-height: 80vh;
				overflow: hidden;
			}

			h3 {
				border-block-end: 1px solid RGB($emu-color-border);
			}
		}

		.content {
			@include layout {
				flex: 1 1 auto;
				overflow: auto;
			}
		}

		.sheet-footer {
			@include layout {
				flex: 0 0 auto;
			}
		}
	}
}
