@import "../base";

@include module {
	#fvtt-party-resources-dashboard.fvtt-party-resources.window-app {
		.version {
			color: RGBA($emu-color-text, 0.5);

			@include layout {
				display: none;

				+ p {
					margin: 0;
				}
			}
		}
	}

	#edit-resource-form.fvtt-party-resources.window-app,
	#add-resource-form.fvtt-party-resources.window-app {
		form .form-group {
			label.checkbox {
				@include layout {
					flex: 1 1 auto;
					font-size: $global-font-size-md !important;
					margin: 0;

					input[type="checkbox"] {
						margin: 0;
					}
				}
			}
		}
	}
}
