@import "../base";

@include module {
	#search-anywhere-modal {
		.modal-content {
			background-color: transparent;
			border: none;

			@include layout {
				border-radius: 0;
			}
		}

		#search-anywhere-autocomplete {
			@extend %global-focus;
			background: RGB($emu-color-background-lightest);
			color: RGB($emu-color-text);

			@include layout {
				font-size: $global-font-size-xl;
				height: auto;
				padding: $global-space-md;
			}
		}
	}

	ul.command-menu {
		background-color: RGBA($emu-color-background-darkest, 0.8);
		background-image: $global-image-background-darkest;
		box-shadow: 0 2px 4px RGB($emu-color-black);

		@include layout {
			@extend %reset-list;
			border-radius: $global-border-radius-default;
			display: flex;
			flex-direction: column;
			padding: $global-space-sm;
			z-index: $global-z-index-tooltip;
		}

		li {
			@extend %primary-button;

			@include layout {
				font-size: $global-font-size-xl;
				margin-block-end: $global-space-sm;
			}

			&:last-child {
				@include layout {
					margin-block-end: 0;
				}
			}

			h2 {
				color: inherit;

				@include layout {
					flex: initial;
					font-size: inherit;
					line-height: 1;
					padding: 0;
				}
			}
		}
	}

	.window-app {
		.window-draggable-handle {
			background-color: RGB($emu-color-background-button);
			border: none;
			border-block-start: RGB($emu-color-background-lightest) 2px solid;
			border-inline-end: RGB($emu-color-background-lightest) 2px solid;
			color: RGB($emu-color-text-lightest);
			transition:
				background $global-transition-time-base $global-transition-type-link,
				box-shadow $global-transition-time-base $global-transition-type-link,
				color $global-transition-time-base $global-transition-type-link;

			@include layout {
				align-items: center;
				border-radius: 0 $global-border-radius-default 0 0;
				bottom: 0;
				cursor: pointer;
				display: inline-flex;
				font-size: $global-font-size-md;
				height: $global-space-button-xs;
				justify-content: center;
				left: 0;
				margin: 0;
				padding: 0;
				position: absolute;
				width: $global-space-button-xs;
				z-index: $global-z-index-fixed;

				> i {
					transform: rotate(45deg);
				}
			}

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}
		}
	}
}
