@import "../base";

@include module {
	#client-settings.window-app.form {
		.window-content {
			@include layout {
				padding: $global-space-sm;
			}

			.sheet-footer {
				@include layout {
					padding: 0;

					button {
						margin: 0;
					}
				}
			}

			.sheet-tabs.tabs {
				.item {
					@include layout {
						padding: $global-space-sm;
					}
				}
			}

			#config-tabs {
				.module-settings-wrapper {
					div.form-group {
						border: none;
						color: RGB($emu-color-text);

						@include layout {
							align-items: center !important; // because MOD other important
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							font-size: $global-font-size-lg;
							gap: $global-space-base;
							height: auto;
							justify-content: space-between !important; // because MOD other important
							margin: 0;
							padding: $global-space-sm;
							transition: none;
							width: 100%;

							&:nth-of-type(even) {
								background-color: RGBA($emu-color-background-light, 0.1);
							}
						}

						.form-fields {
							@include layout {
								align-items: center;
								display: flex;
								gap: $global-space-base;
								flex: 1 1 auto;
								justify-content: flex-end;
								margin: 0;
							}
						}

						input[type="checkbox"] {
							@extend %input-checkbox;

							@include layout {
								appearance: auto;
								left: auto;

								&::after {
									display: none;
								}
							}
						}

						label {
							@include layout {
								align-items: center;
								display: inline-flex;
								font-size: $global-font-size-md;
								font-weight: normal;
								line-height: initial;
								margin: 0;
								order: initial;
								padding: 0;
							}
						}

						> button {
							@include layout {
								flex: 1 1 auto !important;
								margin: 0;
								width: auto;

								> label {
									justify-content: center;
									padding: 0;
								}
							}
						}
					}

					.notes {
						@include layout {
							margin: 0;
						}
					}
				}

				div.tab[data-tab="modules"] {
					#searchField {
						border: none;

						@include layout {
							border-radius: 0;
							flex: 0 0 auto;
							height: auto;
							margin: 0;
							margin-block-end: $global-space-base;
						}

						#searchInput {
							@extend %input-text;

							@include layout {
								width: 100%;
							}
						}
					}

					.module-wrapper {
						h2.module-header {
							border-block-end: 1px solid RGB($emu-color-border);

							@include layout {
								align-items: center;
								display: flex;
								font-size: $global-font-size-lg;
								font-weight: normal;
								gap: $global-space-sm;
								margin: 0;
								padding: $global-space-sm;
							}

							&:hover {
								background-color: RGB($emu-color-primary);
								color: RGB($emu-color-text-lightest);
							}

							> span {
								color: inherit;

								@include layout {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	#module-management {
		.enhanced-module-management {
			@include layout {
				gap: $global-space-base;
				justify-content: center;
				margin-block-end: 0;
			}

			button {
				@include layout {
					flex: 0 0 auto;
					margin: 0;
					width: auto;

					> i {
						margin: 0;
					}
				}

				&.disable-all-modules {
					background-color: RGB($emu-color-negative);
					color: RGB($emu-color-white);

					@include layout {
						flex: 1 1 auto;
					}
				}

				&.enable-all-modules {
					background-color: RGB($emu-color-positive);
					color: RGB($emu-color-white);

					@include layout {
						flex: 1 1 auto;
					}
				}
			}


			~ .package-list {
				@include layout {
					height: auto;
					overflow-y: auto;
				}
			}
		}

		.package-title input[type="checkbox"] {
			@extend %input-checkbox;

			@include layout {
				appearance: auto;
				margin-inline-end: $global-space-sm;

				&::after {
					display: none;
				}
			}
		}
	}
}
