body.-emu.-google #interface::before{background-color:RGB(var(--emu-color-background-darkest,9,14,16))}
.-emu-layout body.-emu.-google #interface::before{content:"";height:66px;left:0;position:absolute;right:0;top:0;width:100%;z-index:1}
.-emu-layout body.-emu.-kumu #navigation{padding-inline-start:366px}
.-emu-layout body.-emu #navigation{transition:opacity .3s cubic-bezier(.075, .82, .165, 1),padding .3s cubic-bezier(.77, 0, .175, 1)}