#context-menu {
	background-color: color("background-lightest");
	background-image: $global-image-background-lightest;
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: 0 2px 4px color("black");
	color: color("text");

	@include layout {
		@include absolute(left 0);
		max-width: to-rem(320px);
		min-width: to-rem(152px);
		width: 100%;
		z-index: z("tooltip");

		&.expand-down {
			top: 100%;
		}

		&.expand-up {
			bottom: 100%;
		}
	}

	ol.context-items {
		@include layout {
			@extend %reset-list;
		}

		.context-item {
			@extend %button-icon-spacing;
			text-shadow: none;

			@include layout {
				cursor: pointer;
				line-height: initial;
				padding: p("base");
				text-align: left;
			}

			&:first-child {
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
			}

			&:last-child {
				border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
			}

			&:hover {
				background-color: color("primary");
				color: color("text-lightest");
			}

			&:focus {
				@extend %global-focus;
			}
		}
	}

	// legacy - keep in case
	.window-app & {
		z-index: 101;
	}
}
