#context-menu {
	background-color: RGB($emu-color-background-lightest);
	background-image: $global-image-background-lightest;
	border-radius: $global-border-radius-default;
	border: 1px solid RGB($emu-color-border);
	box-shadow: 0 2px 4px RGB($emu-color-black);
	color: RGB($emu-color-text);

	@include layout {
		left: 0;
		max-width: 320px;
		min-width: 152px;
		position: absolute;
		width: 100%;
		z-index: $global-z-index-tooltip;

		&.expand-down {
			top: 100%;
		}

		&.expand-up {
			bottom: 100%;
		}
	}

	ol.context-items {
		@include layout {
			@extend %reset-list;
		}

		.context-item {
			@extend %button-icon-spacing;
			text-shadow: none;

			@include layout {
				cursor: pointer;
				line-height: initial;
				padding: $global-space-base;
				text-align: left;
			}

			&:first-child {
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
			}

			&:last-child {
				border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
			}

			&:hover {
				background-color: RGB($emu-color-primary);
				color: RGB($emu-color-text-lightest);
			}

			&:focus {
				@extend %global-focus;
			}
		}
	}

	// legacy - keep in case
	.window-app & {
		z-index: 101;
	}
}
