#context-menu {
	@include absolute(left 0);
	background: color("charcoal-50");
	border: b("border");
	border-radius: 0;
	box-shadow: 0 2px 4px color("black");
	color: color("default-text");
	max-width: to-rem(320px);
	min-width: to-rem(152px);
	width: 100%;
	z-index: z("popover");

	ol.context-items {
		@extend %reset-list;

		.context-item {
			cursor: pointer;
			line-height: initial;
			padding: p("base");
			text-shadow: none;

			.-compact & {
				padding: p("xs");
			}

			&:hover {
				background: color("primary");
				color: color("white");
			}

			> i {
				margin-inline-end: m("base");

				.-compact & {
					margin-inline-end: m("xs");
				}
			}
		}
	}

	.window-app & {
		z-index: 101; // hmm
	}
}
