.dialog {
	&.window-app > .window-content {
		@include layout {
			padding: 0;
		}
	}

	div.dialog-content {
		@include layout {
			padding: 0 p("sm");
			padding-block-start: p("sm");
		}

		h4:first-child,
		p:first-child {
			@include layout {
				margin-block-start: m("base");
			}
		}

		> p {
			@include layout {
				margin: 0;
				margin-block-end: m("sm");
			}
		}
	}

	form.dialog-content {
		@include layout {
			padding-block-start: p("md");
		}
	}

	.dialog-content {
		color: color("text");

		@include layout {
			font-size: fs("lg");
			padding: p("sm");
		}

		> p + .form-group {
			@include layout {
				margin-block-start: m("md");
			}
		}

		> .form-group {
			@include layout {
				padding: 0;
			}

			+ .dialog-buttons {
				@include layout {
					padding: 0;
					padding-block-start: p("sm");
				}
			}
		}

		> h3 {
			@include layout {
				margin-block-start: 0;
			}

			&:first-child {
				@include layout {
					margin-block-start: m("md");
				}
			}
		}

		> p {
			&:first-child {
				@include layout {
					margin-block-start: m("sm");
				}
			}
		}
	}

	.dialog-buttons {
		@include layout {
			display: flex;
			flex: 0 0 auto;
			padding: p("sm");
		}

		&:empty {
			display: none;
		}

		.dialog-button {
			@extend %primary-button-simple-reset;
		}
	}
}
