.dialog {
	&.window-app > .window-content {
		@include layout {
			padding: 0;
		}
	}

	div.dialog-content {
		@include layout {
			padding: 0 $global-space-sm;
			padding-block-start: $global-space-sm;
		}

		h4:first-child,
		p:first-child {
			@include layout {
				margin-block-start: $global-space-base;
			}
		}

		> p {
			@include layout {
				margin: 0;
				margin-block-end: $global-space-sm;
			}
		}
	}

	form.dialog-content {
		@include layout {
			padding-block-start: $global-space-md;
		}
	}

	.dialog-content {
		color: RGB($emu-color-text);

		@include layout {
			font-size: $global-font-size-lg;
			padding: $global-space-sm;
		}

		> p + .form-group {
			@include layout {
				margin-block-start: $global-space-md;
			}
		}

		> .form-group {
			@include layout {
				padding: 0;
			}

			+ .dialog-buttons {
				@include layout {
					padding: 0;
					padding-block-start: $global-space-sm;
				}
			}
		}

		> h3 {
			@include layout {
				margin-block-start: 0;
			}

			&:first-child {
				@include layout {
					margin-block-start: $global-space-md;
				}
			}
		}

		> p {
			&:first-child {
				@include layout {
					margin-block-start: $global-space-sm;
				}
			}
		}
	}

	.dialog-buttons {
		@include layout {
			display: flex;
			flex: 0 0 auto;
			gap: $global-space-base;
			padding: $global-space-sm;
		}

		&:empty {
			display: none;
		}

		.dialog-button {
			@extend %primary-button-simple-reset;

			@include layout {
				@extend %ellipsis;
				flex: 1 1 49%;
			}
		}
	}

	#entity-create {
		label {
			@include layout {
				flex: 0 0 30%;
			}
		}
	}
}
