#fps {
	background-color: RGBA($emu-color-background-darkest, $global-background-opacity-sidebar);
	background-image: $global-image-background-darkest;
	border: 1px solid RGB($emu-color-border);
	box-shadow: none;
	transition: opacity $global-transition-time-base $global-transition-type-link;

	@include layout {
		border-radius: $global-border-radius-default;
		display: none;
		line-height: initial;
		margin: 0;
		margin-block-end: $global-space-sm;
		margin-inline-end: $global-space-sm;
		padding: $global-space-base;
		width: auto;
	}
}
