#hotbar {
	@include fixed(bottom space("sm") left to-rem(224px));
	@include size(auto);
	display: flex;
	pointer-events: none;
	z-index: z("fixed");

	.-compact & {
		bottom: space("base");
		left: to-rem(176px);
	}

	#action-bar {
		display: block;
		flex: 1 1 auto;
		height: auto;
		pointer-events: all;
		position: relative;
	}

	#macro-list {
		@extend %reset-list;
		border: none;
		border-radius: 0;
		display: flex;
		flex: 0 0 auto;
		float: left;
		position: relative;
		width: auto;
	}

	.bar-controls {
		@include size(to-rem(40px), to-rem(56px));
		background: transparent;
		border: b("border");
		border-radius: 0;
		box-shadow: none;
		display: flex;
		flex-direction: column;
		margin: 0;
		position: relative;

		.-compact & {
			@include size(to-rem(32px), to-rem(40px));
		}

		&:first-child {
			flex: 0 0 auto;
			flex-direction: column-reverse;
			margin-inline-end: m("sm");

			.-compact & {
				margin-inline-end: m("base");
			}

			#macro-directory,
			#bar-toggle {
				flex: 1 1 auto;

				&:first-of-type {
					border: none;
					border-radius: 0;
				}

				&:last-of-type {
					border-block-start: none;
					border-block-end: b("border");
					border-radius: 0;
				}
			}
		}

		&:last-child {
			float: left;
			margin-inline-start: m("sm");

			.-compact & {
				margin-inline-start: m("base");
			}
		}

		.page-control,
		#macro-directory,
		#bar-toggle {
			align-items: center;
			background: color("background", 0.8);
			color: color("text-lightest");
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			font-size: fs("lg");
			justify-content: center;
			line-height: initial;
			position: relative;
			transition: t(box-shadow, "link");

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}

			&:first-of-type {
				border-block-end: b("border");
			}

			&:last-of-type {
				border-block-start: b("border");
			}
		}

		.page-control {
			.-compact & {
				font-size: fs("xs");
			}
		}

		.page-number {
			background: color("background", 0.5);
			color: color("text-lightest");
			display: flex;
			flex: 1 1 auto;
			font-size: fs("md");
			justify-content: center;
			line-height: initial;

			.-compact & {
				font-size: fs("sm");
			}
		}
	}

	.macro {
		@include size(to-rem(56px));
		align-items: center;
		background: color("background", 0.8);
		border: b("border");
		border-radius: 0;
		box-shadow: none;
		color: color("text-lightest");
		cursor: pointer;
		display: flex;
		flex: 0 0 auto;
		justify-content: center;
		margin-inline-start: -1px; // for the border and people messing with border color
		position: relative;
		transition: t(border box-shadow, "link");

		.-compact & {
			@include size(to-rem(40px));
		}

		&:first-child {
			margin-inline-start: 0;
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			background: color("background", 0.8);
		}

		.macro-key {
			@include absolute(top space("xs") right space("base"));
			background: transparent;
			color: color("text-lightest");
			font-weight: 600;
			padding: 0;
			text-shadow: 2px 2px  2px color("charcoal-900");
			z-index: 1;
		}

		.macro-icon {
			@include size(to-rem(50px));
			border: none;
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			position: relative;

			.-compact & {
				@include size(to-rem(34px));
			}
		}

		.tooltip {
			background: color("background-darkest", 0.5);
			border: none;
			border-radius: 0;
			color: color("text-lightest");
			font-size: fs("md");
			height: auto;
			left: 0;
			line-height: auto;
			margin-block-end: m("base");
			min-width: to-rem(56px);
			padding: p("base") p("sm");

			.compact & {
				padding: p("xs") p("base");
			}
		}
	}
}
