#hotbar {
	@include layout {
		width: auto;
		height: auto;
		display: flex;
		flex-wrap: nowrap;
		margin-block-end: $global-space-sm;
		pointer-events: none;
		transition: opacity $global-transition-time-base $global-transition-type-link;
		z-index: $global-z-index-fixed;

		&:hover {
			z-index: $global-z-index-fixed + 1;
		}
	}

	@include layout-subtle {
		opacity: $global-subtle-opacity;

		&:hover {
			opacity: 1;

			#action-bar {
				opacity: 1;
			}
		}

		&::before {
			content: "";
			bottom: calc(-1 * #{$global-space-sm});
			left: calc(-1 * #{$global-space-sm});
			right: calc(-1 * #{$global-space-sm});
			top: calc(-1 * #{$global-space-sm});
			position: absolute;
		}
	}

	#action-bar {
		transition: opacity $global-transition-time-base $global-transition-type-link;

		@include layout {
			display: flex;
			flex: 1 1 auto;
			flex-wrap: nowrap;
			height: auto;
			margin: 0;
			pointer-events: all;
			position: relative;
		}

		@include layout-subtle {
			opacity: 0;
		}
	}

	#macro-list {
		border: none;
		border-radius: $global-border-radius-default;

		@include layout {
			@extend %reset-list;
			display: flex;
			flex: 0 0 auto;
			float: left;
			height: auto;
			position: relative;
			width: auto;
		}
	}

	.bar-controls {
		background: transparent;
		border: 1px solid RGB($emu-color-border);
		border-radius: $global-border-radius-default;
		box-shadow: none;

		@include layout {
			display: flex;
			flex-direction: column;
			height: $global-space-button-xl;
			margin: 0;
			pointer-events: all;
			position: relative;
			width: $global-space-button-lg;
		}

		@include layout(compact) {
			height: $global-space-button-xl;
			width: $global-space-button-lg;
		}

		&:first-child {
			@include layout {
				flex: 0 0 auto;
				flex-direction: column;
				margin-inline-end: $global-space-base;
			}

			#macro-directory,
			#bar-toggle {
				@include layout {
					flex: 1 1 auto;
				}

				&:first-of-type {
					border: none;
					border-block-end: 1px solid RGB($emu-color-border);
					border-radius: $global-border-radius-default $global-border-radius-default 0 0;
				}

				&:last-of-type {
					border: none;
					border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
				}
			}
		}

		&:last-child {
			@include layout {
				float: left;
				margin-inline-start: $global-space-base;
			}
		}

		.page-control {
			&:first-of-type {
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
			}

			&:last-of-type {
				border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
			}
		}

		.page-control,
		#macro-directory,
		#bar-toggle {
			background-color: RGBA($emu-color-background, $global-background-opacity-hotbar);
			background-image: $global-image-background-controls;
			color: RGB($emu-color-text-lightest);
			transition: box-shadow $global-transition-time-base $global-transition-type-link;

			@include layout {
				align-items: center;
				cursor: pointer;
				display: flex;
				flex: 0 0 auto;
				font-size: $global-font-size-lg;
				justify-content: center;
				line-height: initial;
				position: relative;
			}

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}

			&:first-of-type {
				border-block-end: 1px solid RGB($emu-color-border);
			}

			&:last-of-type {
				border-block-start: 1px solid RGB($emu-color-border);
			}
		}

		.page-control {
			@include layout(compact) {
				font-size: $global-font-size-xs;
			}
		}

		.page-number {
			background-color: RGBA($emu-color-background, $global-background-opacity-hotbar);
			background-image: $global-image-background-controls;
			color: RGB($emu-color-text-lightest);

			@include layout {
				align-items: center;
				display: flex;
				flex: 1 1 auto;
				font-size: $global-font-size-md;
				justify-content: center;
				line-height: initial;
			}
		}
	}

	.macro {
		background-color: RGBA($emu-color-background, $global-background-opacity-hotbar);
		background-image: $global-image-background-controls;
		border: 1px solid RGB($emu-color-border);
		border-radius: 0;
		box-shadow: none;
		color: RGB($emu-color-text-lightest);
		transition:
			border $global-transition-time-base $global-transition-type-link,
			box-shadow $global-transition-time-base $global-transition-type-link;

		@include layout {
			align-items: center;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			height: $global-space-button-xl;
			justify-content: center;
			margin-inline-start: -1px; // for the border and people messing with border color
			position: relative;
			width: $global-space-button-xl;
		}

		@include layout(compact) {
			height: $global-space-button-xl;
			width: $global-space-button-xl;
		}

		&:first-child {
			border-radius: $global-border-radius-default 0 0 $global-border-radius-default;

			@include layout {
				margin-inline-start: 0;
			}
		}

		&:last-child {
			border-radius: 0 $global-border-radius-default $global-border-radius-default 0;
		}

		&:hover {
			@extend %global-hover;
		}

		&:active {
			background-color: RGB($emu-color-primary-darker);
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			background-color: RGBA($emu-color-background, $global-background-opacity-hotbar);
		}

		.macro-key {
			background: transparent;
			color: RGB($emu-color-text-lightest);
			font-weight: 600;
			text-shadow: 2px 2px  2px RGB($emu-color-black);

			@include layout {
				position: absolute;
				top: $global-space-xs;
				right: $global-space-base;
				padding: 0;
				z-index: 1;
			}
		}

		.macro-icon {
			border: none;

			@include layout {
				height: calc(#{$global-space-button-xl} - #{$global-space-sm});
				max-height: 100%;
				max-width: 100%;
				object-fit: cover;
				object-position: 50% 50%;
				position: relative;
				width: calc(#{$global-space-button-xl} - #{$global-space-sm});
			}

			@include layout(compact) {
				height: calc(#{$global-space-button-xl} - #{$global-space-sm});
				width: calc(#{$global-space-button-xl} - #{$global-space-sm});
			}
		}

		.tooltip {
			background-color: RGB($emu-color-background-darkest);
			border: none;
			border-radius: $global-border-radius-default;
			color: RGB($emu-color-text-lightest);

			@include layout {
				font-size: $global-font-size-md;
				height: auto;
				left: 0;
				line-height: auto;
				margin-block-end: $global-space-base;
				min-width: $global-space-button-xl;
				padding: $global-space-base $global-space-sm;
			}
		}
	}
}
