#hotbar {
	@include fixed(bottom space("sm") left to-rem(224px));
	display: flex;
	pointer-events: none;
	z-index: z("fixed");

	.-compact & {
		bottom: space("base");
		left: to-rem(176px);
	}

	#action-bar {
		display: block;
		flex: 1 1 auto;
		pointer-events: all;
		position: relative;
	}

	#macro-list {
		display: flex;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}

	.bar-controls {
		@include size(to-rem(40px), to-rem(56px));
		border: b("charcoal-600");
		display: flex;
		flex-direction: column;
		position: relative;

		.-compact & {
			@include size(to-rem(32px), to-rem(40px));
		}

		&:first-child {
			flex: 0 0 auto;
			flex-direction: column-reverse;
			margin-inline-end: m("sm");

			.-compact & {
				margin-inline-end: m("base");
			}

			#macro-directory,
			#bar-toggle {
				flex: 1 1 auto;

				&:first-of-type {
					border: none;
					border-radius: 0;
				}

				&:last-of-type {
					border-block-start: none;
					border-block-end: b("charcoal-600");
					border-radius: 0;
				}
			}
		}

		&:last-child {
			float: left;
			margin-inline-start: m("sm");

			.-compact & {
				margin-inline-start: m("base");
			}
		}

		.page-control,
		#macro-directory,
		#bar-toggle {
			align-items: center;
			background: color("charcoal-500", 0.8);
			color: color("white");
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			position: relative;
			transition: t(box-shadow, "link");

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}

			&:first-of-type {
				border-block-end: b("charcoal-600");
			}

			&:last-of-type {
				border-block-start: b("charcoal-600");
			}
		}

		.page-control {
			.-compact & {
				font-size: fs("xs");
			}
		}

		.page-number {
			background: color("charcoal-500", 0.5);
			color: color("white");
			display: flex;
			flex: 1 1 auto;
			justify-content: center;

			.-compact & {
				font-size: fs("sm");
			}
		}
	}

	.macro {
		@include size(to-rem(56px));
		align-items: center;
		background: color("charcoal-500", 0.8);
		border: b("charcoal-600");
		border-inline-end: none;
		color: color("white");
		cursor: pointer;
		display: flex;
		justify-content: center;
		position: relative;
		transition: t(border box-shadow, "link");

		.-compact & {
			@include size(to-rem(40px));
		}

		&:last-of-type {
			border-inline-end: b("charcoal-600");
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			background: color("charcoal-500", 0.8);
		}

		.macro-key {
			@include absolute(top space("xs") right space("base"));
			color: color("white");
			font-weight: 600;
			text-shadow: 2px 2px  2px color("charcoal-900");
			z-index: 1;
		}

		.macro-icon {
			@include size(to-rem(50px));
			border: none;
			max-height: 100%;
			max-width: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			position: relative;

			.-compact & {
				@include size(to-rem(34px));
			}
		}

		.tooltip {
			@include absolute(bottom 100% left 0);
			background: color("charcoal-900", 0.5);
			color: color("white");
			font-size: fs("md");
			margin-block-end: m("base");
			padding: p("xs");
			max-width: 200%;
		}
	}
}
