#hotbar {
	@include layout {
		@include fixed(bottom space("sm") left to-rem(216px));
		@include size(auto);
		display: flex;
		pointer-events: none;
		transition: t(opacity, "link");
		z-index: z("fixed");
	}

	@include layout-players {
		left: space("sm");
	}

	@include layout-players(compact) {
		left: space("sm");
	}

	@include layout(compact) {
		left: to-rem(176px);
	}

	@include layout-subtle {
		opacity: $global-subtle-opacity;

		&:hover {
			opacity: 1;

			#action-bar {
				opacity: 1;
			}
		}

		&::before {
			content: "";
			bottom: calc(-1 * #{space("sm")});
			left: calc(-1 * #{space("sm")});
			right: calc(-1 * #{space("sm")});
			top: calc(-1 * #{space("sm")});
			position: absolute;
		}
	}

	#action-bar {
		transition: t(opacity, "link");

		@include layout {
			display: flex;
			flex: 1 1 auto;
			flex-wrap: nowrap;
			height: auto;
			margin: 0;
			pointer-events: all;
			position: relative;
		}

		@include layout-subtle {
			opacity: 0;
		}
	}

	#macro-list {
		border: none;
		border-radius: $global-border-radius-default;

		@include layout {
			@extend %reset-list;
			display: flex;
			flex: 0 0 auto;
			float: left;
			height: auto;
			position: relative;
			width: auto;
		}
	}

	.bar-controls {
		background: transparent;
		border: b("border");
		border-radius: $global-border-radius-default;
		box-shadow: none;

		@include layout {
			@include size(to-rem(40px), to-rem(56px));
			display: flex;
			flex-direction: column;
			margin: 0;
			position: relative;
		}

		@include layout(compact) {
			@include size(to-rem(32px), to-rem(40px));
		}

		&:first-child {
			@include layout {
				flex: 0 0 auto;
				flex-direction: column;
				margin-inline-end: m("base");
			}

			#macro-directory,
			#bar-toggle {
				@include layout {
					flex: 1 1 auto;
				}

				&:first-of-type {
					border: none;
					border-block-end: b("border");
					border-radius: $global-border-radius-default $global-border-radius-default 0 0;
				}

				&:last-of-type {
					border: none;
					border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
				}
			}
		}

		&:last-child {
			@include layout {
				float: left;
				margin-inline-start: m("base");
			}
		}

		.page-control {
			&:first-of-type {
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
			}

			&:last-of-type {
				border-radius: 0 0 $global-border-radius-default $global-border-radius-default;
			}
		}

		.page-control,
		#macro-directory,
		#bar-toggle {
			background-color: color("background", 0.8);
			background-image: $global-image-background-controls;
			color: color("text-lightest");
			transition: t(box-shadow, "link");

			@include layout {
				align-items: center;
				cursor: pointer;
				display: flex;
				flex: 0 0 auto;
				font-size: fs("lg");
				justify-content: center;
				line-height: initial;
				position: relative;
			}

			&:hover {
				@extend %global-hover;
			}

			&:focus {
				@extend %global-focus;
			}

			&:first-of-type {
				border-block-end: b("border");
			}

			&:last-of-type {
				border-block-start: b("border");
			}
		}

		.page-control {
			@include layout(compact) {
				font-size: fs("xs");
			}
		}

		.page-number {
			background-color: color("background", 0.5);
			background-image: $global-image-background-controls;
			color: color("text-lightest");

			@include layout {
				display: flex;
				flex: 1 1 auto;
				font-size: fs("md");
				justify-content: center;
				line-height: initial;
			}
		}
	}

	.macro {
		background-color: color("background", 0.8);
		background-image: $global-image-background-controls;
		border: b("border");
		border-radius: 0;
		box-shadow: none;
		color: color("text-lightest");
		transition: t(border box-shadow, "link");

		@include layout {
			@include size(to-rem(56px));
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			margin-inline-start: -1px; // for the border and people messing with border color
			position: relative;
		}

		@include layout(compact) {
			@include size(to-rem(40px));
		}

		&:first-child {
			border-radius: $global-border-radius-default 0 0 $global-border-radius-default;

			@include layout {
				margin-inline-start: 0;
			}
		}

		&:last-child {
			border-radius: 0 $global-border-radius-default $global-border-radius-default 0;
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}

		&.active {
			@extend %global-active;
			background-color: color("background", 0.8);
		}

		.macro-key {
			background: transparent;
			color: color("text-lightest");
			font-weight: 600;
			text-shadow: 2px 2px  2px color("black");

			@include layout {
				@include absolute(top space("xs") right space("base"));
				padding: 0;
				z-index: 1;
			}
		}

		.macro-icon {
			border: none;

			@include layout {
				@include size(to-rem(50px));
				max-height: 100%;
				max-width: 100%;
				object-fit: cover;
				object-position: 50% 50%;
				position: relative;
			}

			@include layout(compact) {
				@include size(to-rem(34px));
			}
		}

		.tooltip {
			background-color: color("background-darkest", 0.5);
			border: none;
			border-radius: $global-border-radius-default;
			color: color("text-lightest");

			@include layout {
				font-size: fs("md");
				height: auto;
				left: 0;
				line-height: auto;
				margin-block-end: m("base");
				min-width: to-rem(56px);
				padding: p("base") p("sm");
			}
		}
	}
}
