#hud {
	.placeable-hud .col {
		@include layout {
			gap: $global-space-base;
		}
	}

	input[type="text"] {
		@extend %input-text;
		background: color("background-lightest");
		border: b("border");

		@include layout {
			font-size: $global-font-size-xl;
			height: $global-space-button-lg;
		}
	}

	.attribute {
		@include layout {
			flex: 0 0 auto;
			margin: 0;
		}

		&.elevation {
			@include layout {
				@include size($global-space-button-lg);
				flex: 0 0 auto;
				padding: 0;

				> input {
					height: 100%;
				}
			}

			> i {
				color: color("primary");
				text-shadow: 2px 2px 2px color("black");

				@include layout {
					z-index: 1;
				}
			}
		}

		&.bar1 {
			input[type="text"] {
				border-color: color("positive");
			}
		}

		&.bar2 {
			input[type="text"] {
				border-color: color("neutral");
			}
		}
	}

	.control-icon {
		background-color: color("background-darkest", $global-background-opacity-hud);
		background-image: $global-image-background-controls;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		color: color("text-lightest");
		transition: t(background box-shadow color opacity, "link");

		@include layout {
			@include size($global-space-button-lg);
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			flex: 0 0 auto;
			font-size: $global-font-size-lg;
			line-height: initial;
			margin: 0;
			pointer-events: all;
			position: relative;

			> i {
				margin: 0;
				position: relative;
			}

			img {
				margin: 0;
				opacity: 1;
			}
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.active {
			@extend %global-active;
			@extend %global-hover;
			background-image: none;
		}
	}

	#token-hud {
		.status-effects {
			background-color: color("background-darkest");
			background-image: $global-image-background-darkest;
			border: b("border");
			border-radius: $global-border-radius-default;
			box-shadow: none;
			color: color("text-lightest");

			@include layout {
				padding: $global-space-base;
				left: to-rem(48px);

				.effect-control {
					opacity: 0.4;

					&:hover {
						opacity: 0.6;
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}
