#hud {
	.placeable-hud .col {
		@include layout {
			gap: $global-space-base;
		}
	}

	input[type="text"] {
		@extend %input-text;
		background: RGB($emu-color-background-lightest);
		border: 1px solid RGB($emu-color-border);

		@include layout {
			font-size: $global-font-size-xl;
			height: $global-space-button-lg;
		}
	}

	.attribute {
		@include layout {
			flex: 0 0 auto;
			margin: 0;
		}

		&.elevation {
			@include layout {
				flex: 0 0 auto;
				height: $global-space-button-lg;
				padding: 0;
				width: $global-space-button-lg;

				> input {
					height: 100%;
				}
			}

			> i {
				color: RGB($emu-color-primary);
				text-shadow: 2px 2px 2px RGB($emu-color-black);

				@include layout {
					z-index: 1;
				}
			}
		}

		&.bar1 {
			input[type="text"] {
				border-color: RGB($emu-color-positive);
			}
		}

		&.bar2 {
			input[type="text"] {
				border-color: RGB($emu-color-neutral);
			}
		}
	}

	.control-icon {
		background-color: RGBA($emu-color-background-darkest, $global-background-opacity-hud);
		background-image: $global-image-background-controls;
		border: none;
		box-shadow: none;
		color: RGB($emu-color-text-lightest);
		transition:
			background $global-transition-time-base $global-transition-type-link,
			box-shadow $global-transition-time-base $global-transition-type-link,
			color $global-transition-time-base $global-transition-type-link,
			opacity $global-transition-time-base $global-transition-type-link;

		@include layout {
			align-items: center;
			border-radius: $global-border-radius-controls;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			font-size: $global-font-size-lg;
			height: $global-space-button-lg;
			justify-content: center;
			line-height: initial;
			margin: 0;
			pointer-events: all;
			position: relative;
			width: $global-space-button-lg;

			> i {
				margin: 0;
				position: relative;
			}

			img {
				margin: 0;
				opacity: 1;
			}
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:active {
			background-color: RGB($emu-color-primary-darker);
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.active {
			@extend %global-active;
			@extend %global-hover;
			background-image: none;
		}
	}

	#token-hud {
		.status-effects {
			background-color: RGB($emu-color-background-darkest);
			background-image: $global-image-background-darkest;
			border: 1px solid RGB($emu-color-border);
			box-shadow: none;
			color: RGB($emu-color-text-lightest);

			@include layout {
				border-radius: $global-border-radius-default;
				padding: $global-space-base;
				left: 48px;

				.effect-control {
					opacity: 0.4;

					&:hover {
						opacity: 0.6;
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}
	}
}
