#hud {
	input[type="text"] {
		background-color: color("background-lightest");
		box-shadow: none;
		font-size: fs("lg");

		&:hover {
			@extend %global-hover-alt;
		}

		&:focus {
			@extend %global-focus;
		}
	}

	.attribute {
		margin: 0;
		margin-block-end: space("base");

		&.elevation {
			@include size(to-rem(40px));
			flex: 0 0 auto;
			padding: 0;

			input {
				height: 100%;
			}

			> i {
				color: color("text");
				z-index: 1;
			}
		}

		@include emu-compact {
			margin-block-end: space("xs");
		}

		&:last-child {
			margin-block-end: 0;

			@include emu-compact {
				margin-block-end: 0;
			}
		}
	}

	.control-icon {
		@include size(to-rem(40px));
		align-items: center;
		background-color: color("background-darkest", 0.8);
		background-image: $global-image-background-controls;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		box-sizing: border-box;
		color: color("text-lightest");
		cursor: pointer;
		display: flex;
		justify-content: center;
		font-size: fs("lg");
		line-height: initial;
		margin: 0;
		margin-block-end: space("base");
		pointer-events: all;
		position: relative;
		transition: t(background box-shadow color opacity, "link");

		@include emu-compact {
			@include size(to-rem(32px));
			margin-block-end: space("xs");
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&:last-child {
			margin-block-end: 0;

			@include emu-compact {
				margin-block-end: 0;
			}
		}

		&.active {
			@extend %global-active;
			@extend %global-hover;
			background-image: none;
		}

		> i {
			margin: 0;
			position: relative;
		}

		img {
			margin: 0;
			opacity: 1;
		}
	}

	#token-hud {
		.status-effects {
			background-color: color("background-darkest");
			background-image: $global-image-background-darkest;
			border: b("border");
			border-radius: $global-border-radius-default;
			box-shadow: none;
			color: color("text-lightest");
			padding: p("base");
			left: to-rem(48px);

			@include emu-compact {
				padding: p("xs");
			}

			.effect-control {
				opacity: 0.4;

				&.active {
					opacity: 1;
				}
			}
		}
	}
}
