#loading {
	background-color: color("background");
	border: none;
	border-radius: $global-border-radius-default;
	box-shadow: none;

	@include layout {
		@include absolute(top space("sm") left 0);
		@include size(calc(100% - #{space("sm")} - #{space("sidebar")}), to-rem(24px));
		display: none;
		pointer-events: none;
		z-index: z("fixed");

		&::after {
			@include absolute(zero);
			box-shadow: inset 0 0 0 1px color("white"), 0 1px 2px 0 color("black", 0.3);
			content: "";
		}
	}

	#loading-bar {
		background-color: color("primary");
		border: none;
		border-radius: $global-border-radius-default;

		@include layout {
			height: 100%;
			margin: 0;
			min-width: 25%;
			position: relative;
		}
	}

	#context,
	#progress {
		background: transparent;
		color: color("text-lightest");
		text-shadow: none;

		@include layout {
			@include absolute(top 0);
			align-items: center;
			display: flex;
			height: 100%;
			font-size: fs("md");
			line-height: initial;
			margin: 0 m("md");
			padding: 0;
		}
	}

	#context {
		@include layout {
			left: 0;
		}
	}

	#progress {
		@include layout {
			right: 0;
		}
	}
}
