#logo {
	@include layout {
		display: none !important; // fix for mods
		border: none;
		border-radius: 0;
		height: auto !important;
		margin-block-start: $global-space-sm;
		margin-inline-start: $global-space-sm;
		max-height: 44px;
		max-width: 88px;
		pointer-events: all;
		width: auto;
	}

	@include layout(compact) {
		max-height: 34px;
		max-width: 68px;
	}

	@include layout-ui-left(compact) {
		max-height: 34px;
		max-width: 68px;
	}

	@include layout-logo {
		display: block !important; // fix for mods
	}
}
