#logo {
	@include layout {
		@include absolute(top space("sm") left space("sm"));
		display: none;
		height: auto !important;
		max-width: to-rem(88px);
	}

	@include layout(compact) {
		left: space("base");
		max-width: to-rem(64px);
		top: space("base");
	}

	@include layout-logo {
		display: block;
	}
}
