#menu {
	background: transparent;
	box-shadow: none;

	@include layout {
		align-items: center;
		border-radius: $global-border-radius-default;
		display: flex;
		height: 100%;
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $global-z-index-tooltip;
	}

	#menu-items {
		background-color: RGB($emu-color-background-darkest);
		background-image: $global-image-background-darkest;
		box-shadow: 0 2px 4px RGB($emu-color-black);

		@include layout {
			@extend %reset-list;
			display: flex;
			flex-direction: column;
			gap: $global-space-sm;
			padding: $global-space-sm;
		}

		li {
			@extend %primary-button;

			@include layout {
				font-size: $global-font-size-xl;
			}

			i,
			h4 {
				@include layout {
					flex: initial;
					font-size: inherit;
					line-height: 1;
				}
			}
		}
	}
}
