#menu {
	background: transparent;
	border-radius: $global-border-radius-default;
	box-shadow: none;

	@include layout {
		@include fixed(top 0 left 0);
		@include size(100%);
		align-items: center;
		display: flex;
		justify-content: center;
		z-index: z("tooltip");
	}

	#menu-items {
		background-color: color("background-darkest");
		background-image: $global-image-background-darkest;
		box-shadow: 0 2px 4px color("black");

		@include layout {
			@extend %reset-list;
			display: flex;
			flex-direction: column;
			gap: space("sm");
			padding: p("sm");
		}

		li {
			@extend %primary-button;

			@include layout {
				font-size: fs("xl");
			}

			i,
			h4 {
				@include layout {
					flex: initial;
					font-size: inherit;
					line-height: 1;
				}
			}
		}
	}
}
