form {
	.notes,
	.hint {
		color: color("charcoal-500");
		flex: 0 0 auto;
		font-size: fs("md");
		font-style: italic;
		line-height: initial;
		margin: 0;
		width: 100%;

		&:empty {
			display: none;
		}

		&:first-child {
			margin-bottom: m("base");
		}

		+ .form-group {
			margin-block-start: m("sm");

			.-compact & {
				margin-block-start: m("base");
			}
		}
	}
}
