#notifications {
	border-radius: 0;

	@include layout {
		@extend %reset-list;
		left: 148px;
		position: fixed;
		top: 120px;
		width: calc(100% - 520px);
		z-index: $global-z-index-tooltip;
	}

	@include layout(compact) {
		left: 112px;
		top: 96px;
	}
}

.notification {
	background-color: RGB($emu-color-background-darkest);
	border: 1px solid RGB($emu-color-border);
	border-radius: $global-border-radius-default;
	box-shadow: $global-box-shadow;
	color: RGB($emu-color-white);
	text-shadow: none;

	@include layout {
		line-height: initial;
		margin-block-end: $global-space-sm;
		padding: $global-space-sm;
		padding-inline-end: $global-space-xl;
	}

	&::before {
		@include layout {
			margin-inline-end: $global-space-sm;
		}
	}

	&.info {
		background-color: RGB($emu-color-neutral);
		border-color: RGB($emu-color-neutral-darkest);
	}

	&.warning {
		background-color: RGB($emu-color-warning);
		border-color: RGB($emu-color-warning-darkest);
		color: RGB($emu-color-black);
	}

	&.error {
		background-color: RGB($emu-color-negative);
		border-color: RGB($emu-color-negative-darkest);
	}

	.close {
		@include layout {
			line-height: 1;
			margin: 0;
			margin-block-start: $global-space-xs;
			position: absolute;
			right: $global-space-sm;
			top: $global-space-sm;
		}
	}
}
