#notifications {
	@extend %reset-list;
	@include fixed(top to-rem(120px) left to-rem(148px));
	border-radius: 0;
	width: calc(100% - #{to-rem(520px)});
	z-index: z("tooltip");

	.-compact & {
		left: to-rem(112px);
		top: to-rem(96px);
	}

	.notification {
		@extend %notification;
	}
}
