#notifications {
	@extend %reset-list;
	@include fixed(top to-rem(120px) left to-rem(148px));
	border-radius: 0;
	width: calc(100% - #{to-rem(520px)});
	z-index: z("tooltip");

	.-compact & {
		left: to-rem(112px);
		top: to-rem(96px);
	}

	.notification {
		background: color("charcoal-900", 0.8);
		border: b("border");
		border-radius: 0;
		color: color("white");
		margin-block-end: m("sm");
		padding: p("sm");

		.-compact & {
			margin-block-end: m("base");
			padding: p("base");
		}

		&::before {
			margin-inline-end: m("sm");

			.-compact & {
				margin-inline-end: m("base");
			}
		}

		&.info {
			background: color("neutral");
			border-color: color("blue-800");
		}

		&.warning {
			background: color("warning");
			border-color: color("yellow-800");
			color: color("charcoal-900");
		}

		&.error {
			background: color("negative");
			border-color: color("red-800");
		}
	}
}
