#players {
	@include fixed(bottom space("sm") left space("sm"));
	background: color("background", 0.8);
	border: b("border");
	border-radius: 0;
	box-shadow: none;
	display: block;
	width: to-rem(200px);
	z-index: z("fixed");

	.-compact & {
		bottom: space("base");
		left: space("base");
		width: to-rem(168px);
	}

	.-emu-players & {
		display: none;
	}

	&.hidden {
		display: none;
	}

	h3 {
		@extend %h-tag;
		border-block-end: b("border");
		color: color("text-lightest");
		cursor: pointer;
		display: flex;
		font-size: fs("md");
		letter-spacing: to-rem(1.2px);
		padding: p("sm");
		text-transform: uppercase;
		transition: t(color, "link");

		.-compact & {
			letter-spacing: initial;
			padding: p("base");
		}

		&:hover,
		&:active {
			color: color("primary");
		}

		.players-mode {
			color: inherit;
			flex: 1 1 auto;
			font-size: fs("lg");
			text-align: right;
			position: relative;
		}

		> i {
			position: relative;

			&:first-of-type {
				margin-inline-end: m("sm");

				.-compact & {
					margin-inline-end: m("base");
				}
			}

			&:last-of-type {
				margin-inline-start: m("sm");

				.-compact & {
					margin-inline-start: m("base");
				}
			}
		}
	}

	ol {
		@extend %reset-list;
		padding: p("sm");

		.-compact & {
			padding: p("base");
		}

		.player {
			align-items: center;
			border: none;
			display: flex;
			flex-wrap: nowrap;
			line-height: initial;
			margin: 0;
			padding: p("xs") 0;
			position: relative;
			width: 100%;
		}

		.player-name {
			@include ellipsis;
			color: color("text-lightest");
			flex: 1 1 auto;
			position: relative;
			text-shadow: none;

			&.self {
				color: color("text-lightest");
			}
		}

		.player-active {
			@include size(to-rem(8px));
			border-radius: 50%;
			flex: 0 0 auto;
			margin: 0;
			margin-inline-end: m("sm");
			position: relative;

			.-compact & {
				margin-inline-end: m("base");
			}

			&.active {
				box-shadow: 0 1px 2px 0 color("black", 0.3);
			}
		}
	}
}
