#controls {
	@include layout {
		@extend %reset-list;
		@include fixed(top space("sm") left space("sm"));
		box-shadow: none;
		display: block;
		transition: t(opacity, "link");
		z-index: z("fixed");
	}

	@include layout-logo {
		top: to-rem(60px);
	}

	@include layout-logo(compact) {
		top: to-rem(40px);
	}

	@include layout-subtle {
		opacity: $global-subtle-opacity;

		&::before {
			content: "";
			bottom: calc(-1 * #{space("sm")});
			left: calc(-1 * #{space("sm")});
			right: to-rem(-54px);
			top: calc(-1 * #{space("sm")});
			position: absolute;
		}

		&:hover,
		&:active {
			opacity: 1;

			.scene-control {
				&.active .control-tools {
					opacity: 1;
				}
			}
		}
	}

	.scene-control,
	.control-tool {
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		color: color("text-lightest");
		font-size: fs("lg");
		transition: t(background box-shadow color opacity, "link");

		@include layout {
			@include size(space("button-lg"));
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			line-height: initial;
			margin: 0;
			margin-block-end: space("base");
			padding: 0;
			pointer-events: all;
			position: relative;

			&:last-of-type {
				margin-block-end: 0;
			}

			> i {
				margin: 0;
				position: relative;
			}
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.active {
			@extend %global-active;
			@extend %global-hover;
			background-image: none;
		}
	}

	.scene-control {
		background-color: color("background-darkest", $global-background-opacity-scene-control);
		background-image: $global-image-background-controls;

		&.active .control-tools {
			display: inline-flex;
			opacity: 1;

			@include layout-subtle {
				opacity: 0;
			}
		}

		@include layout-control-align-top {
			position: initial;
		}
	}

	.control-tool {
		background-color: color("background", $global-background-opacity-scene-control);
		background-image: $global-image-background-controls;

		@include layout {
			margin-inline-end: space("base");
		}

		&.toggle {
			background-color: color("background-lightest");
			background-image: $global-image-background-controls;
			color: color("text");

			&:hover {
				@extend %global-hover;
				background-color: color("primary");
				background-image: none;
				color: color("text-lightest");
			}

			&:focus {
				@extend %global-focus;
			}

			&.active {
				@extend %global-active;
				@extend %global-focus;
				background-color: color("primary");
				background-image: none;
			}
		}
	}

	.control-tools {
		@include layout {
			@extend %reset-list;
			@include absolute(top 0 left to-rem(44px));
			flex-direction: column;
			flex-wrap: wrap;
			pointer-events: none;
			max-height: 60vh;
			opacity: 0;
			transition: t(opacity left, "link");
		}

		@include layout(compact) {
			left: to-rem(34px);
		}

		@include layout-subtle {
			opacity: 0;
		}
	}
}
