#controls {
	@extend %reset-list;
	@include fixed(top space("sm") left space("sm"));
	box-shadow: none;
	display: block;
	z-index: z("fixed");

	.-emu-logo & {
		top: to-rem(60px);
	}

	.-emu-logo.-compact & {
		top: to-rem(40px);
	}

	.-compact & {
		left: space("base");
		top: space("base");
	}

	.scene-control,
	.control-tool {
		@include size(to-rem(40px));
		align-items: center;
		border: none;
		border-radius: $global-border-radius-controls;
		box-shadow: none;
		box-sizing: border-box;
		color: color("text-lightest");
		cursor: pointer;
		display: flex;
		justify-content: center;
		font-size: fs("lg");
		line-height: initial;
		margin-block-end: space("sm");
		pointer-events: all;
		position: relative;
		transition: t(background box-shadow color, "link");

		.-compact & {
			@include size(to-rem(32px));
			margin-block-end: space("base");
		}

		&:hover {
			@extend %global-hover;
			background-image: none;
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.active {
			@extend %global-active;
			@extend %global-hover;
			background-image: none;
		}

		&:last-of-type {
			margin-block-end: 0;

			.-compact & {
				margin-block-end: 0;
			}
		}

		> i {
			margin: 0;
			position: relative;
		}
	}

	.scene-control {
		background-color: color("background-darkest", 0.8);
		background-image: $global-image-background-controls;

		&.active .control-tools {
			display: flex;
		}

		.-control-align-tops & {
			position: initial;
		}
	}

	.control-tool {
		background-color: color("background", 0.8);
		background-image: $global-image-background-controls;

		&.toggle {
			background-color: color("background-lightest");
			background-image: $global-image-background-controls;
			color: color("text");

			&:hover {
				@extend %global-hover;
				background-color: color("primary");
				background-image: none;
				color: color("text-lightest");
			}

			&:focus {
				@extend %global-focus;
			}

			&.active {
				@extend %global-active;
				@extend %global-focus;
				background-color: color("primary");
				background-image: none;
			}
		}
	}

	.control-tools {
		@extend %reset-list;
		@include absolute(top 0 left to-rem(48px));
		display: none;
		flex-direction: column;
		pointer-events: none;

		.-compact & {
			left: to-rem(36px);
		}
	}
}
