#navigation {
	background: none;
	border: none;
	box-shadow: none;

	@include layout {
		margin: 0;
		margin-block-start: $global-space-sm;
		padding: 0;
		pointer-events: none;
		transition: opacity $global-transition-time-base $global-transition-type-link;
		width: calc(100% - #{$global-space-sm} - #{$global-space-sidebar});
		z-index: $global-z-index-fixed;
	}

	@include layout-subtle {
		opacity: $global-subtle-opacity;

		&:hover,
		&:active {
			opacity: 1;

			#scene-list .scene {
				display: inline-flex;
				opacity: 1;
			}
		}

		#scene-list::before {
			content: "";
			bottom: calc(-1 * #{$global-space-sm});
			left: calc(-1 * #{$global-space-sm});
			right: calc(-1 * #{$global-space-sm});
			top: calc(-1 * #{$global-space-sm});
			position: absolute;
		}
	}

	#nav-toggle {
		@extend %control-button;
		background-color: RGBA($emu-color-background, $global-background-opacity-scene-navigation);
		background-image: $global-image-background-controls;

		@include layout {
			margin: 0;
			margin-inline-end: $global-space-base;
			z-index: $global-z-index-fixed;
		}

		@include layout-subtle {
			display: none;
		}
	}

	#scene-list {
		@include layout {
			@extend %reset-list;
			display: flex;
			gap: $global-space-base;
			flex-wrap: wrap;
			margin-block-end: $global-space-sm;
			position: relative;
			pointer-events: all;
		}

		.scene {
			background-color: RGBA($emu-color-background-darkest, $global-background-opacity-scene-navigation);
			background-image: $global-image-background-controls;
			border: none;
			border-radius: $global-border-radius-controls;
			box-shadow: none;
			color: RGB($emu-color-text-lightest);
			outline: none;
			text-shadow: none;
			transition:
				box-shadow $global-transition-time-base $global-transition-type-link,
				color $global-transition-time-base $global-transition-type-link,
				opacity $global-transition-time-base $global-transition-type-link;

			@include layout {
				width: auto;
				height: $global-space-button;
				cursor: pointer;
				display: block;
				line-height: $global-space-button;
				margin: 0;
				max-width: 240px;
				min-width: 112px;
				padding: 0 $global-space-md;
				pointer-events: all;
				position: relative;
				text-align: center;

				&:last-of-type {
					margin-inline-end: 0;
				}
			}

			@include layout(compact) {
				min-width: 88px;
			}

			@include layout-ui-top(compact) {
				min-width: 88px;
			}

			@include layout-subtle {
				display: none;
				opacity: 0;

				&.active {
					display: inline-flex;
					opacity: 1;
				}
			}

			&:not(.gm) {
				background-color: RGBA($emu-color-background, $global-background-opacity-scene-navigation);
				background-image: $global-image-background;
			}

			&.active,
			&.view {
				@extend %global-active;
				background-image: none;

				&:not(.gm) {
					@extend %global-active;
					background-image: none;
				}
			}

			&.view {
				@extend %global-focus;
			}

			&:hover {
				@extend %global-hover;
				background-image: none;
			}

			&:active {
				background-color: RGB($emu-color-primary-darker);
			}

			&:focus {
				@extend %global-focus;
				background-image: none;
			}

			a {
				text-shadow: none;

				@include layout {
					@extend %ellipsis;
					border: none;
					display: block;
					width: 100%;

					> i {
						margin-inline-end: $global-space-base;
					}
				}
			}
		}

		.scene-players {
			@include layout {
				display: flex;
				flex-wrap: wrap;
				gap: $global-space-xs;
				left: 0;
				list-style: none;
				margin: calc(-1 * #{$global-space-base}) 0 0;
				padding: 0;
				padding-inline-start: $global-space-sm;
				pointer-events: none;
				position: absolute;
				top: 0;
			}
		}

		.scene-player {
			background-color: RGB($emu-color-white);
			border-radius: $global-border-radius-controls;
			border: none;
			box-shadow:
				inset 0 0 0 1px RGB($emu-color-primary),
				inset 0 0 0 2px RGB($emu-color-white), 0 1px 2px 0 RGBA($emu-color-black, 0.3);
			color: transparent;
			font-size: $global-font-size-xs;

			@include layout {
				align-items: center;
				display: flex;
				height: 12px;
				justify-content: center;
				margin: 0;
				position: relative;
				text-transform: uppercase;
				width: 12px;
			}

			@include layout(compact) {
				height: 8px;
				width: 8px;
			}

			@include layout-ui-top(compact) {
				height: 8px;
				width: 8px;
			}
		}
	}
}
