#navigation {
	@include fixed(top space("sm") left to-rem(148px));
	box-shadow: none;
	width: calc(100% - #{to-rem(520px)});
	z-index: z("fixed");

	.-compact & {
		top: space("base");
		left: to-rem(112px);
	}

	#nav-toggle {
		@extend %control-button;
		@include absolute(top 0 left to-rem(-32px));
		background-color: color("background", 0.8);

		.-compact & {
			left: to-rem(-24px);
		}
	}

	#scene-list {
		@extend %reset-list;
		display: flex;
		flex-wrap: wrap;
		position: relative;

		.scene {
			background: transparent;
			border: none;
			border-radius: $global-border-radius-controls;
			box-shadow: none;
			color: inherit;
			margin-block-end: space("sm");
			margin-inline-end: space("sm");
			padding: 0;
			position: relative;

			.-compact & {
				margin-block-end: space("base");
				margin-inline-end: space("base");
			}

			&:last-of-type {
				margin-inline-end: 0;

				.-compact & {
					margin-inline-end: 0;
				}
			}

			&.active,
			&.view {
				.scene-name {
					@extend %global-active;
				}
			}

			&.view {
				.scene-name {
					@extend %global-focus;
				}
			}
		}
	}

	.scene-players {
		@include absolute(top 0 left 0);
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		margin-block-start: -(m("base"));
		padding: 0;
		padding-inline-start: m("sm");
		pointer-events: none;

		.-compact & {
			margin-block-start: -(m("xs"));
			padding-inline-start: m("base");
		}
	}

	.scene-player {
		@include size(to-rem(12px));
		align-items: center;
		background-color: color("white");
		border-radius: $global-border-radius-controls;
		border: none;
		box-shadow:
			inset 0 0 0 1px color("primary"),
			inset 0 0 0 2px color("white"), 0 1px 2px 0 color("black", 0.3);
		color: transparent;
		display: flex;
		font-size: fs("xs");
		justify-content: center;
		margin-block-end: m("xs");
		margin-inline-end: m("xs");
		position: relative;
		text-transform: uppercase;

		.-compact & {
			@include size(to-rem(8px));
		}
	}

	.scene-name {
		@extend %button-icon;
		@include ellipsis;
		@include size(auto, to-rem(36px));
		background-color: color("background-darkest", 0.8);
		border-radius: $global-border-radius-default;
		color: color("text-lightest");
		cursor: pointer;
		display: block;
		line-height: to-rem(36px);
		max-width: to-rem(240px);
		min-width: to-rem(112px);
		padding: 0 p("md");
		position: relative;
		text-align: center;
		transition: t(box-shadow color, "link");

		.-compact & {
			height: to-rem(28px);
			line-height: to-rem(28px);
			min-width: to-rem(88px);
			padding: 0 p("base");
		}

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}
	}
}
