#module-management {
	@extend %window-common;
	min-height: 0;

	.list-filters {
		@extend %modal-tabs;

		.filter {
			font-weight: normal;
		}

		input {
			margin-inline-end: m("base");
			margin-block-end: m("base");

			.-compact & {
				margin-inline-start: m("xs");
				margin-block-end: m("xs");
			}
		}

		.expand {
			justify-content: center;
			margin-inline-start: m("base");
			margin-block-end: m("base");
			padding: 0;

			.-compact & {
				margin-inline-start: m("xs");
				margin-block-end: m("xs");
			}

			i {
				margin: 0;
			}
		}
	}

	.package-list {
		border: none;
		height: to-rem(600px);
		margin: 0;
		max-height: initial;
		padding: p("sm") 0;

		.-compact & {
			height: to-rem(400px);
			padding: p("base") 0;
		}
	}

	.package {
		border-block-end: b("border");
		padding: p("sm");

		&[data-module-name="ernies-modern-layout"] {
			background-color: color("primary", 0.8);

			.package-title {
				color: color("text-lightest");
			}
		}

		&:last-child {
			border-block-end: none;
		}

		.-compact & {
			padding: p("base");
		}

		.tag {
			align-items: center;
			border: none;
			border-radius: 0;
			color: color("white");
			display: inline-flex;
			font-size: fs("sm");
			height: auto;
			justify-content: center;
			line-height: initial;
			margin: 0;
			margin-inline-start: m("xs");
			padding: p("base");

			.-compact & {
				padding: p("xs");
			}
		}
	}

	.package-overview {
		align-items: center;
	}

	.package-title {
		align-items: center;
		color: color("text");
		display: flex;
		font-size: fs("lg");
		font-weight: normal;
		height: initial;
		line-height: 1;
		text-decoration: none;

		.-compact & {
			font-size: fs("sm");
		}

		input {
			margin-inline-end: m("sm");

			.-compact & {
				margin-inline-end: m("base");
			}
		}
	}

	form {
		> .notes {
			margin-block-end: m("sm");

			.-compact & {
				margin-block-end: m("base");
			}
		}

		> footer {
			border-block-start: b("border");
			flex: 0 0 auto;
			flex-wrap: nowrap;
			padding: 0;
			padding-block-start: p("sm");

			button {
				@extend %primary-button;
				@extend %button-row;
				@extend %button-icon;
			}
		}
	}
}
