.sheet.scene-sheet {
	@extend %window-common;
	@extend %window-hack;
	@extend %window-sheets;

	h3 {
		border: none;
		color: color("text-darker");
		font-family: inherit;
		line-height: initial;
		margin: 0;
		padding: 0;
	}
}
