#av-config {
	@extend %window-common;

	form {
		.sheet-tabs {
			@extend %modal-tabs;
			border-block-end: b("primary", 2px);
			flex: 0 0 auto;
		}

		> .tab {
			border-block-end: b("border");
			display: none;
			flex: 1 1 auto;
			flex-direction: column;
			margin-block-end: m("sm");
			padding-block-start: p("sm");
			overflow-x: hidden;
			overflow-y: auto;

			.-compact & {
				margin-block-end: m("base");
				padding-block-start: p("base");
			}

			&.active {
				display: flex;
			}
		}

		> div:last-child:not(.tab),
		.sheet-footer {
			display: flex;
			flex: 0 0 auto;
			flex-wrap: nowrap;

			button {
				@extend %button-icon;
				@extend %button-row;
			}
		}

		.form-group {
			+ .notes,
			+ .hint {
				margin-block-end: m("sm");

				.-compact & {
					margin-block-end: m("base");
				}

				+ .notes,
				+ .hint {
					margin-block-end: m("sm");

					.-compact & {
						margin-block-end: m("base");
					}
				}
			}
		}
	}

	.notification {
		@extend %notification;
		box-shadow: none;
	}
}
