#actor-flags,
.window-app.dnd5e[id*="actor-flags-"] {
	@extend %window-common;
	@extend %window-hack;

	form {
		overflow: hidden;

		&::after {
			display: none;
		}

		.form-body {
			flex: 1 1 auto;
			overflow: auto;
		}

		.form-footer {
			border-block-start: b("border");
			flex: 0 0 auto;
			padding-block-start: p("sm");

			.-compact & {
				padding-block-start: p("base");
			}
		}
	}
}
