.sheet.scene-sheet {
	@extend %window-common;
	@extend %window-hack;
	@extend %window-sheets;

	form {
		.form-header {
			&:first-child {
				margin-block-start: m("sm");

				.-compact & {
					margin-block-start: m("base");
				}
			}

			+ .notes,
			+ .hint {
				margin: m("sm") 0 m("base");

				.-compact & {
					margin: m("base") 0 m("xs");
				}
			}
		}

		> .notes,
		> .hint {
			margin: m("md") 0 m("base");

			.-compact & {
				margin: m("sm") 0 m("xs");
			}
		}
	}
}
