#short-rest-hd {
	@extend %window-common;
	padding-block-start: 0;

	.form-group {
		padding: p("sm");

		.-compact & {
			padding: p("base");
		}

		.form-fields {
			flex-wrap: nowrap;
		}

		select {
			@extend %input-select;
			flex: 1 1 auto;
		}

		button {
			@extend %button-icon;
			flex: 0 0 auto;
			margin-inline-start: m("base");
			width: auto;
		}
	}

	.dialog-buttons {
		.dialog-button {
			@extend %button-row;
		}
	}
}
