#sidebar,
.sidebar-popout {
	#compendium {
		> .directory-list {
			@include layout {
				padding: p("sm");
			}

			@include layout(compact) {
				padding: p("base");
			}
		}

		.directory-item {
			@include layout {
				flex-wrap: wrap;
				line-height: 1;
				margin: m("base");
				padding: 0 p("sm");
			}

			@include layout(compact) {
				padding: 0 p("base");
			}

			h4 {
				@include layout {
					align-items: center;
					display: flex;
					width: 100%;
				}

				.status-icons {
					color: color("text-lightest");

					@include layout {
						position: relative;

						i {
							margin: 0;
							margin-inline-start: m("base");
						}
					}
				}
			}

			.compendium-footer {
				color: color("text-lightest");

				@include layout {
					flex: 0 0 auto;
					font-size: fs("md");
					padding-block-end: m("sm");
					width: 100%;
				}

				@include layout(compact) {
					padding-block-end: m("base");
				}
			}
		}

		.compendium-type {
			background-color: color("folder-subdirectory");

			@include layout {
				display: flex;
				flex-direction: column;
				margin-block-end: m("base");
			}

			@include layout(compact) {
				margin-block-end: m("xs");
			}

			h3 {
				background-color: color("folder-header");
				background-image: $global-image-background-darkest;
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
				color: color("text");
				transition: t(background box-shadow color, "link");

				@include layout {
					align-items: center;
					border: 0;
					cursor: default;
					display: flex;
					flex-wrap: nowrap;
					font-size: fs("lg");
					line-height: 1;
					margin: 0;
					min-height: to-rem(32px);
					padding: p("base") p("sm");
					position: relative;
					width: 100%;
				}

				@include layout(compact) {
					min-height: to-rem(24px);
					padding: p("base");
				}
			}
		}
	}
}
