#sidebar,
.sidebar-popout {
	#scenes {
		.directory-list {
			@include layout {
				padding-block-start: p("base");
			}

			.subdirectory {
				border-inline-start: b("primary", 4px);

				.subdirectory {
					border-inline-start: b("orange-700", 4px);

					.subdirectory {
						border-inline-start: b("orange-900", 4px);
					}
				}
			}
		}

		.scene {
			background-position: 50%;
			background-size: cover;
			border: none;
			box-shadow: none;

			@include layout {
				height: auto;
				line-height: 1;
			}

			@include layout-scene-thumbs {
				background-image: none !important;
			}

			&:hover {
				background-position: 50%;
				background-size: cover;
			}

			&.context {
				@include layout {
					margin-block-start: m("base");
				}

				@include layout(compact) {
					margin-block-start: m("xs");
				}
			}

			h3 {
				text-shadow: none;

				@include layout {
					font-size: fs("lg");
					line-height: 1;
					text-align: start;
				}

				> a {
					text-shadow: $global-text-shadow;

					@include layout {
						padding: p("sm") 0;
					}

					@include layout-scene-thumbs {
						padding: 0;
						text-shadow: none;
					}
				}
			}
		}
	}
}
