#sidebar,
.sidebar-popout {
	border: 1px solid RGB($emu-color-border);
	box-shadow: none;

	@include layout {
		bottom: auto;
		display: flex;
		flex-direction: column;
		height: calc(100% - #{$global-space-md});
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		right: 0;
		top: calc(#{$global-space-md} / 2);
		transition: opacity $global-transition-time-base $global-transition-type-link;
		z-index: $global-z-index-fixed;

		ol,
		ul {
			margin: 0;
			padding: 0;
		}
	}

	&.collapsed {
		@include layout {
			height: auto !important;
			width: 32px !important;
		}

		@include layout-subtle {
			opacity: $global-subtle-opacity;

			&:hover {
				opacity: 1;
			}
		}

		#sidebar-tabs {
			border-color: transparent;

			@include layout {
				border-block-end-style: solid;
				border-block-end-width: 0;
				flex-wrap: wrap;

				> .collapse {
					border-radius: 0 0 0 $global-border-radius-default;
				}
			}
		}

		.sidebar-tab,
		.sidebar-tab.active {
			@include layout {
				display: none !important;
			}
		}
	}

	#sidebar-tabs {
		border-color: RGB($emu-color-border);
		box-shadow: none;

		@include layout {
			border-block-end-style: solid;
			border-block-end-width: 1px;
			display: flex;
			flex: 0 0 auto;
			flex-wrap: nowrap;
			font-size: $global-font-size-sm;
			margin: 0;
			position: relative;
			transition:
				background $global-transition-time-base $global-transition-type-link,
				box-shadow $global-transition-time-base $global-transition-type-link,
				color $global-transition-time-base $global-transition-type-link;
		}

		> .item,
		> .collapse {
			border: none;
			box-shadow: none;
			color: RGB($emu-color-text-lightest);

			@include layout {
				align-items: center;
				border-radius: 0;
				cursor: pointer;
				display: flex;
				flex: 1 1 20%;
				font-size: $global-font-size-sm;
				justify-content: center;
				left: auto;
				line-height: initial;
				margin: 0;
				padding: $global-space-sm $global-space-base;
				position: relative;
				top: auto;
				transition:
					box-shadow $global-transition-time-base $global-transition-type-link,
					color $global-transition-time-base $global-transition-type-link;
			}

			&:hover {
				@extend %global-hover;
			}

			&:active {
				background-color: RGB($emu-color-primary-darker);
			}

			&:focus {
				@extend %global-focus;
			}

			&.active {
				@extend %global-active;
				border-color: transparent;

				@include layout {
					border-radius: 0;
					border-style: solid;
					border-width: 0;

					&:first-child {
						border-radius: $global-border-radius-default 0 0 0;
					}
				}
			}

			&:first-child {
				@include layout {
					border-radius: $global-border-radius-default 0 0 0;
				}
			}

			> i {
				@include layout {
					margin: 0;
					position: relative;
					z-index: $global-z-index-above;
				}
			}

			.notification-pip {
				background-color: RGB($emu-color-primary);

				@include layout {
					animation-duration: $global-transition-time-x-slow;
					animation-iteration-count: infinite;
					animation-name: emu-notification-flash;
					animation-timing-function: $global-transition-type-shift;
					bottom: 0;
					display: none;
					left: 0;
					opacity: 0;
					pointer-events: none;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.window-content .sidebar-tab {
		@include layout {
			display: flex;
		}
	}

	.sidebar-tab {
		@include layout {
			display: none;
			flex: 1 1 auto;
			flex-direction: column;
			gap: $global-space-base;
			height: 100%;
			justify-content: initial;
			margin: 0;
			min-height: 200px;
			position: relative;

			&.active {
				display: flex;
			}
		}

		@include layout(compact) {
			min-height: 176px;
		}

		@include layout-ui-right(compact) {
			min-height: 176px;
		}

		&.directory .directory-list {
			@include layout {
				padding-block-end: $global-space-sm;
			}
		}

		.directory-header,
		.directory-footer {
			@extend %panel-block;
		}

		.directory-header .header-actions,
		.directory-footer {
			button {
				@include layout {
					@extend %ellipsis;
					height: auto;
					line-height: 1;
					width: auto;

					> i {
						font-size: $global-font-size-md;
					}
				}
			}
		}

		.directory-header {
			border-color: RGB($emu-color-border);

			@include layout {
				border-block-end-style: solid;
				border-block-end-width: 1px;
				flex-direction: column;

				~ .directory-list {
					padding-block-start: $global-space-base;
				}
			}

			.header-search {
				@include layout {
					align-items: center;
					display: flex;
					flex: 1 1 auto;
					flex-wrap: nowrap;
					gap: $global-space-base;
					position: relative;
					width: 100%;

					> i {
						flex: 0 0 auto;
					}
				}

				input {
					background-color: RGB($emu-color-background-lightest);

					@include layout {
						flex: 1 1 auto;
						margin: 0;
					}
				}
			}

			.header-control {
				@extend %default-button;

				@include layout {
					flex: 0 0 auto;
					height: $global-space-button;
					width: $global-space-button;

					> i {
						margin: 0;
					}
				}
			}

			.header-actions {
				@include layout {
					align-items: center;
					display: flex;
					flex: 0 0 auto;
					flex-wrap: wrap;
					gap: $global-space-base;
					position: relative;
					width: 100%;

					&:only-child,
					&:last-child {
						margin-block-end: 0;
					}
				}
			}

			> .action-buttons {
				@include layout {
					align-items: center;
					display: flex;
					flex: 0 0 auto;
					position: relative;
					width: 100%;
				}
			}
		}

		.directory-footer {
			border-color: RGB($emu-color-border);

			@include layout {
				border-block-start-style: solid;
				border-block-start-width: 1px;
				flex-wrap: wrap;
			}
		}
	}
}

#sidebar {
	background-color: RGBA($emu-color-background-darkest, $global-background-opacity-sidebar);
	background-image: $global-image-background-darkest;
	border-color: transparent;

	@include layout {
		border-radius: $global-border-radius-default 0 0 $global-border-radius-default;
		border-inline-end-style: solid;
		border-inline-end-width: 0;
		position: relative;
		width: $global-space-sidebar;
	}

	@include layout-subtle {
		opacity: $global-subtle-opacity;
		overflow: visible;
		right: calc(-1 * #{$global-space-sidebar});
		transition:
			opacity $global-transition-time-base $global-transition-type-shift,
			right $global-transition-time-base $global-transition-type-shift;

		&.collapsed {
			right: 0;

			&::before,
			#emu-sidebar-lock {
				display: none;
			}
		}

		&:hover,
		&.is-locked {
			opacity: 1;
			right: 0;

			#emu-sidebar-lock {
				@extend %global-active;

				&::before {
					content: "\f0da";
				}
			}
		}

		&.is-locked {
			#emu-sidebar-lock {
				&::before {
					content: "\f023";
				}
			}
		}

		&::before {
			background-color: transparent;
			content: "";
			height: calc(100% + #{$global-space-md});
			position: absolute;
			right: 0;
			top: calc(-1 * #{$global-space-md} / 2);
			width: calc(100% + #{$global-space-button});
			z-index: $global-z-index-below;
		}

		#emu-sidebar-lock {
			@extend %font-awesome;
			align-items: center;
			background-color: RGB($emu-color-background);
			border-inline-end: 0;
			border: 1px solid RGB($emu-color-border);
			color: RGB($emu-color-text-lightest);
			cursor: pointer;
			display: flex;
			height: 64px;
			justify-content: center;
			margin-block-start: -32px;
			position: absolute;
			right: 100%;
			top: 50%;
			width: $global-space-button;

			&::before {
				content: "\f0d9";
			}

			&:hover {
				&::before {
					content: "\f023";
				}
			}
		}
	}

	@include layout-subtle-locked {
		opacity: 1;
		right: 0;

		#emu-sidebar-lock {
			display: none;
		}
	}

	#emu-sidebar-lock {
		display: none;
	}
}

.sidebar-popout.window-app:not(.-emu-clean-sheet) {
	@include layout {
		border-radius: $global-border-radius-default;
		height: auto;
		min-height: 50vh;
		min-width: $global-space-sidebar;
		top: initial;
	}

	&.window-app:not(.-emu-clean-sheet) .window-content {
		@include layout {
			padding: 0;
		}
	}

	.window-content {
		background-color: transparent;
	}

	.sidebar-popout {
		border-color: transparent;

		@include layout {
			border-style: solid;
			border-width: 0;
			height: auto;
			min-height: initial;
			min-width: 1px;
		}
	}
}
