#sidebar,
.sidebar-popout {
	#playlists {
		color: color("text-lightest");

		h4,
		i,
		input[type=range] {
			color: inherit;
			height: auto;
			line-height: initial;
		}

		h4,
		i {
			+ input[type="range"] {
				margin-inline-start: m("base");
			}
		}

		input[type="range"] {
			@extend %input-range;

			&::-webkit-slider-thumb {
				&:hover {
					box-shadow: inset 0 0 0 2px color("white"), 0 1px 2px 0 color("black", 0.3);
				}
			}

			&::-moz-range-thumb {
				&:hover {
					box-shadow: inset 0 0 0 2px color("white"), 0 1px 2px 0 color("black", 0.3);
				}
			}
		}

		.global-control {
			background-color: color("background", 0.5);
			border-block-end: b("border");
			color: color("text-lightest");
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			line-height: 1;
			margin: 0;
			padding: p("sm");
			position: relative;

			.-compact & {
				padding: p("base");
			}

			&.collapsed {
				.playlist-sounds {
					height: 0 !important;
					padding: 0 !important;
					transform: none !important;
				}
			}

			.playlist-header {
				background: transparent;
				border: none;
				border-block-end: none;
				color: color("text-lightest");
				font-size: fs("lg");
				padding: p("xs") 0;
				width: 100%;

				.-compact & {
					font-size: fs("lg");
				}

				h4 {
					height: auto;
					padding-inline-start: 0;
					text-decoration: none;

					i.fa {
						color: inherit;
						margin-inline-start: m("xs");
					}
				}
			}

			.playlist-sounds {
				background: transparent;
				border-inline-start: none;
				padding: 0;
				padding-block-start: p("base");
				transition: none !important;
				width: 100%;

				h4 {
					@extend %h-tag;
					border-block-end: 0;
					color: color("text-lightest");
					font-size: fs("lg");

					+ input[type="range"] {
						margin-inline-start: m("base");
					}
				}

				.sound {
					border-block-end: 0;
					flex-wrap: nowrap;
					padding-inline-start: 0;
					padding-inline-end: 0;
					transition: none !important;

					&:last-of-type {
						padding-block-end: 0;
					}

					.global-volume {
						flex: 0 0 50%;
					}
				}
			}
		}

		.directory-list {
			@extend %directory-subdirectory;

			.directory-item {
				@extend %directory-item;

				&.folder {
					@extend %folder;
				}

				&.playlist {
					flex-direction: column;

					&:not(.collapsed) {
						@extend %global-hover-alt;

						&:hover,
						&:focus {
							background-color: color("folder-directory");
						}

						.playlist-header {
							border-block-end: b("border");
						}
					}
				}
			}

			.playlist-sounds {
				width: 100%;
			}

			.playlist-header,
			.sound {
				display: flex;
				flex: 1 1 100%;
				flex-wrap: nowrap;
				margin: 0;
				text-decoration: none;
				width: 100%;

				.playlist-name {
					align-items: center;
					display: inline-flex;
					flex: 1 1 100%;
					overflow: visible;
					padding: p("base") 0;
					word-break: normal;
					white-space: initial;
					width: 100%;

					.-compact & {
						padding: p("xs") 0;
					}

					> i {
						display: none;
					}
				}

				.sound-controls {
					flex: 0 0 auto;
					flex-wrap: nowrap;
					margin-inline-start: m("base");
					padding: p("base") 0;

					.-compact & {
						margin-inline-start: m("xs");
						padding: p("xs") 0;
					}

					.sound-control {
						@extend %control-button;
					}
				}
			}
		}

		#currently-playing {
			.sound {
				display: flex;
				flex: 1 1 100%;
				flex-wrap: wrap;
				margin: 0;
				text-decoration: none;
				width: 100%;

				+ .sound {
					border-block-start: b("border");
					margin-block-start: m("base");
					padding-block-start: p("sm");

					.-compact & {
						margin-block-start: m("xs");
						padding-block-start: p("base");
					}
				}

				.sound-name {
					align-items: center;
					display: inline-flex;
					flex: 1 1 auto;
					overflow: visible;
					padding: p("base") 0;
					word-break: normal;
					white-space: initial;
				}

				.sound-controls {
					flex: 0 0 auto;
					flex-wrap: nowrap;
					margin: 0;
					margin-inline-start: m("base");
					padding: p("base") 0;

					.-compact & {
						margin-inline-start: m("xs");
						padding: p("xs") 0;
					}
				}

				.sound-control {
					@extend %control-button;
				}

				.sound-playback {
					align-items: center;
					display: flex;
					flex: 0 0 100%;
					padding: p("base") 0;

					.-compact & {
						padding: p("xs") 0;
					}

					.sound-timer {
						color: color("text-lightest");
						font-size: fs("sm");
						margin-inline-end: m("sm");

						.-compact & {
							margin-inline-end: m("base");
						}
					}

					.volume-icon {
						margin-inline-end: m("base");
					}
				}
			}
		}
	}
}
