#sidebar,
.sidebar-popout {
	#settings {
		@include layout {
			padding: p("sm");
		}

		> div {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: space("base");
				margin: 0;
			}
		}

		h2,
		h4 {
			background: transparent;
			border: none;
			color: color("text-lightest");

			@include layout {
				padding: 0;
				margin: 0;
			}
		}

		h2 {
			border-block-end: b("border-lighter");

			@include layout {
				font-size: fs("xl");
				margin-block-start: m("sm");
			}
		}

		h4 {
			color: color("primary");

			@include layout {
				font-size: fs("lg");
			}
		}

		button {
			@include layout {
				margin: 0;
			}
		}

		#game-details {
			color: color("text-lightest");

			@include layout {
				margin: 0;
				padding: 0;
			}
		}
	}

	.notification-pip {
		color: color("primary");
		margin-inline-end: m("xs");
		padding: 0;
		position: relative;
		right: auto;
		text-shadow: none;
		top: auto;
	}
}
