#sidebar,
.sidebar-popout {
	#chat {
		#chat-log {
			.message {
				background: color("background-chat-message");
				border: b("border");
				border-radius: 0;
				color: color("text");
				padding: p("base");
				margin: m("base");

				&.whisper {
					background: color("background-chat-message-whisper");
				}

				&.blind {
					background: color("background-chat-message-blind");
				}

				.message-header {
					color: inherit;
				}

				.dice-roll .dice-formula,
				.dice-roll .dice-total {
					box-shadow: none;
					border: b("border");
					border-radius: 0;
				}
			}
		}

		#chat-controls {
			align-items: center;
			background: color("background", 0.5);
			border-block-start: b("border");
			color: color("text-lightest");
			display: flex;
			flex: 0 0 auto;
			margin: 0;
			padding: p("sm");
			position: relative;

			.-compact & {
				padding: p("base");
			}

			.chat-control-icon {
				margin-inline-end: m("xs");

				.fa-dice-d20 {
					@extend %control-button;
					@extend %font-awesome;
					font-size: fs("md");
					margin: 0;
				}
			}

			.roll-type-select {
				@extend %input-select;
				align-items: center;
				background: color("background", 0.5);
				color: color("text-lightest");
				display: flex;
				flex: 1 1 auto;
				top: auto;
				width: auto;

				&:hover {
					@extend %global-hover-alt;
				}

				&:focus {
					@extend %global-focus;
				}

				&:disabled {
					pointer-events: none;
				}
			}

			.control-buttons {
				align-items: center;
				display: flex;
				flex: 0 0 auto;

				.button {
					@extend %control-button;

					> i {
						font-size: inherit;
						line-height: initial;
					}
				}
			}
		}

		#chat-form {
			align-items: center;
			background: color("background", 0.5);
			border-block-start: b("border");
			color: color("text-lightest");
			display: flex;
			flex: 0 0 auto;
			height: to-rem(112px);
			margin: 0;
			padding: p("sm");
			position: relative;

			.-compact & {
				padding: p("base");
			}

			textarea {
				@extend %input-textarea;
				@include size(100%);
				background: color("background-lightest", 0.9);
				padding: p("sm");

				.compact & {
					padding: p("base");
				}
			}
		}
	}
}
