#sidebar,
.sidebar-popout {
	#scenes {
		.scene {
			background-position: 50%;
			background-size: cover;
			border: none;
			box-shadow: none;

			@include layout {
				height: auto;
				line-height: 1;
			}

			@include layout-scene-thumbs {
				background-image: none !important;
			}

			&:hover {
				background-position: 50%;
				background-size: cover;
			}

			h3 {
				> a {
					text-shadow: $global-text-shadow;

					@include layout {
						padding: p("sm") 0;
					}

					@include layout-scene-thumbs {
						padding: 0;
						text-shadow: none;
					}
				}
			}
		}
	}
}
