#sidebar,
.sidebar-popout[id="chat-popout"] .window-content {
	[data-tab="chat"] {
		#chat-log {
			flex: 1 1 auto;
			height: auto;
			list-style: none;
			margin: 0;
			padding: 0;
			overflow-y: auto;
			overflow-x: hidden;

			.message {
				background-color: RGB($emu-color-background-chat-message);
				background-image: $global-image-background-light;
				border: 1px solid RGB($emu-color-border);
				border-radius: $global-border-radius-default;
				color: RGB($emu-color-text);

				@include layout {
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					gap: $global-space-base;
					font-family: inherit;
					font-size: $global-font-size-md;
					padding: $global-space-base;
					margin: $global-space-base;

					&:hover,
					&:focus {
						.message-metadata {
							opacity: 1;
						}
					}
				}

				&.whisper {
					background-color: RGB($emu-color-background-chat-message-whisper);
				}

				&.blind {
					background-color: RGB($emu-color-background-chat-message-blind);
				}

				.message-header {
					background-color: transparent;
					color: inherit;

					@include layout {
						align-items: center;
						display: flex;
						flex-wrap: wrap;
						gap: $global-space-xs;
						line-height: 1.2;
					}
				}

				.message-metadata,
				.message-sender {
					color: inherit;

					@include layout {
						align-items: center;
						display: inline-flex;
						font-size: $global-font-size-sm;
					}
				}

				.message-sender {
					@include layout {
						margin: 0;
						overflow: hidden;
						white-space: initial;
					}
				}

				.message-metadata {
					transition: opacity $global-transition-time-base $global-transition-type-link;

					@include layout {
						display: flex;
						gap: $global-space-base;
						opacity: 0;
						justify-content: flex-end;
					}

					a {
						color: inherit;

						&:hover {
							color: RGB($emu-color-primary);
						}
					}
				}

				.message-content {
					user-select: text;

					.table-result {
						padding: $global-space-base 0;
					}
				}

				.flavor-text,
				.whisper-to {
					color: inherit;

					@include layout {
						font-size: $global-font-size-sm;
					}
				}

				.dice-roll,
				.dice-result {
					@include layout {
						display: flex;
						flex-direction: column;
						gap: $global-space-base;
					}
				}

				.dice-roll .dice-formula,
				.dice-roll .dice-total {
					background-color: RGBA($emu-color-background, 0.1);
					box-shadow: none;
					border: 1px solid RGB($emu-color-border);
					border-radius: $global-border-radius-default;
					color: inherit;

					@include layout {
						line-height: initial;
						font-size: inherit;
						font-weight: normal;
						margin: 0;
					}
				}

				.dice-roll .dice-formula {
					@include layout {
						font-size: $global-font-size-md;
						padding: $global-space-xs 0;
					}
				}

				.dice-roll .dice-total {
					@include layout {
						font-size: $global-font-size-chat-roll;
						padding: $global-space-xs 0;
					}
				}

				.dice-roll .dice-total {
					&.critical,
					&.success {
						background-color: RGB($emu-color-positive);
						border-color: RGB($emu-color-positive-darkest);
						color: RGB($emu-color-white);
					}

					&.fumble,
					&.failure {
						background-color: RGB($emu-color-negative);
						border-color: RGB($emu-color-negative-darkest);
						color: RGB($emu-color-white);
					}
				}

				.dice-roll .dice-tooltip {
					@include layout {
						order: initial;
					}

					.part-header {
						border-block-end: 1px solid RGB($emu-color-border-lighter);

						@include layout {
							line-height: initial;
							margin: 0;
						}

						.part-formula {
							@include layout {
								align-items: center;
								display: inline-flex;
								font-weight: 700;
							}
						}

						.part-total {
							background-color: RGB($emu-color-background-lightest);
							border: 1px solid RGB($emu-color-border-lighter);
							border-block-end: none;

							@include layout {
								border-radius: $global-border-radius-default $global-border-radius-default 0 0;
								flex: none;
								font-size: $global-font-size-md;
								font-weight: 700;
								padding: $global-space-base;
							}
						}
					}
				}

				.dice-rolls {
					@include layout {
						margin: $global-space-base;
					}
				}

				.button.message-delete {
					@extend %link-button;
					color: RGB($emu-color-text);

					@include layout {
						@extend %control-button;
						color: RGB($emu-color-text);
					}
				}
			}
		}

		#chat-controls {
			background-color: RGBA($emu-color-background, 0.5);
			background-image: $global-image-background;
			border: none;
			color: RGB($emu-color-text-lightest);

			@include layout {
				align-items: center;
				display: flex;
				flex: 0 0 auto;
				gap: $global-space-base;
				margin: 0;
				padding: $global-space-sm;
				position: relative;
			}

			.chat-control-icon {
				.fa-dice-d20 {
					@extend %link-button;

					@include layout {
						@extend %control-button;
						@extend %font-awesome;
						font-size: $global-font-size-md;
						margin: 0;
					}
				}
			}

			.roll-type-select {
				background-color: RGBA($emu-color-background, 0.5);
				color: RGB($emu-color-text-lightest);

				@include layout {
					height: 32px;
					margin: 0;
					width: auto;
				}
			}

			.control-buttons {
				@include layout {
					align-items: center;
					display: flex;
					flex: 0 0 auto;
					gap: $global-space-base;
				}

				a {
					@extend %link-button;

					@include layout {
						@extend %control-button;
					}

					> i {
						@include layout {
							font-size: inherit;
							line-height: initial;
						}
					}
				}
			}
		}

		#chat-form {
			background-color: RGBA($emu-color-background, 0.5);
			background-image: $global-image-background;
			border: none;
			color: RGB($emu-color-text-lightest);

			@include layout {
				align-items: center;
				display: flex;
				flex: 0 0 auto;
				height: 112px;
				margin: 0;
				padding: $global-space-sm;
				position: relative;
			}

			textarea {
				background-color: RGBA($emu-color-background-lightest, 0.9);
				background-image: $global-image-background-light;

				@include layout {
					height: 100%;
					padding: $global-space-sm;
					width: 100%;
				}
			}
		}
	}
}
