#sidebar,
.sidebar-popout[id="scenes-popout"] .window-content {
	[data-tab="scenes"] {
		.scene {
			background-position: 50%;
			background-size: cover;

			@include layout-scene-thumbs {
				background-image: none !important;
			}

			&:hover {
				background-position: 50%;
				background-size: cover;
			}

			h3 {
				> a {
					text-shadow: $global-text-shadow;

					@include layout-scene-thumbs {
						padding: 0;
						text-shadow: none;
					}
				}
			}
		}
	}
}
