#sidebar,
.sidebar-popout[id="settings-popout"] .window-content {
	[data-tab="settings"] {
		@include layout {
			padding: $global-space-sm;
		}

		> div {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: $global-space-base;
				margin: 0;
			}
		}

		h2,
		h4 {
			background: transparent;
			border-color: transparent;
			color: RGB($emu-color-text-lightest);

			@include layout {
				border-style: solid;
				border-width: 0;
				padding: 0;
				margin: 0;
			}
		}

		h2 {
			border-color: RGB($emu-color-border-lighter);

			@include layout {
				border-block-end-style: solid;
				border-block-end-width: 1px;
				font-size: $global-font-size-xl;
				margin-block-start: $global-space-sm;
			}
		}

		h4 {
			color: RGB($emu-color-primary);

			@include layout {
				font-size: $global-font-size-lg;
			}
		}

		button {
			@include layout {
				margin: 0;
			}
		}

		#game-details {
			color: RGB($emu-color-text-lightest);

			@include layout {
				margin: 0;
				padding: 0;
			}
		}

		.notification-pip {
			color: RGB($emu-color-primary);
			text-shadow: none;

			@include layout {
				margin-inline-end: $global-space-xs;
				padding: 0;
				position: relative;
				right: auto;
				top: auto;
			}
		}
	}
}
