#sidebar,
.sidebar-popout {
	#compendium {
		h3 {
			background-color: color("background");
			border: b("border");
			color: color("text-lightest");

			@include layout {
				margin: 0;
				padding: $global-space-base $global-space-sm;
			}
		}

		.compendium-type {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: $global-space-base;
			}
		}

		.compendium-list {
			display: flex;
			flex-direction: column;
			gap: $global-space-xs;

			.directory-item {
				@include layout {
					flex-wrap: wrap;
					line-height: 1;
				}

				h4 {
					@include layout {
						align-items: center;
						display: flex;
						width: 100%;
					}

					a {
						@extend %button-icon;
					}

					.status-icons {
						color: color("text-lightest");

						@include layout {
							position: relative;

							i {
								margin: 0;
								margin-inline-start: $global-space-base;
							}
						}
					}
				}

				.compendium-footer {
					color: color("text-lightest");

					@include layout {
						flex: 0 0 auto;
						font-size: $global-font-size-md;
						padding-block-end: $global-space-base;
						width: 100%;
					}
				}
			}
		}
	}
}
