#sidebar,
.sidebar-popout {
	#playlists {
		color: color("text-lightest");

		.global-control {
			background-color: color("background", 0.5);
			border-block-end: b("border");
			color: color("text-lightest");

			@include layout {
				display: flex;
				flex: 0 0 auto;
				flex-wrap: wrap;
				line-height: 1;
				margin: 0;
				padding: $global-space-sm;
				position: relative;
			}

			&.collapsed {
				.playlist-sounds {
					@include layout {
						@extend %reset-list;
						height: auto !important;
						max-height: 0 !important;
						padding: 0 !important;
					}
				}
			}

			.playlist-header {
				background: transparent;
				border: none;
				color: color("text-lightest");

				@include layout {
					flex: 0 0 auto;
					font-size: $global-font-size-md;
					padding: $global-space-xs 0;
					width: 100%;
				}

				h4 {
					text-decoration: none;

					@include layout {
						height: auto;
						margin: 0;
						padding-inline-start: 0;
					}

					i.fa {
						color: inherit;

						@include layout {
							margin-inline-start: $global-space-xs;
						}
					}
				}
			}

			.playlist-sounds {
				background: transparent;
				border-inline-start: none;

				@include layout {
					@extend %reset-list;
					flex: 0 0 auto;
					height: auto !important;
					padding: 0 !important;
					width: 100%;
				}

				h4 {
					border-block-end: 0;
					color: color("text-lightest");

					@include layout {
						font-size: $global-font-size-lg;
						margin: 0;

						+ input[type="range"] {
							margin-inline-start: $global-space-base;
						}
					}
				}

				.sound {
					border-block-end: 0;

					@include layout {
						flex-wrap: nowrap;
						padding-inline-start: 0;
						padding-inline-end: 0;

						&:last-of-type {
							padding-block-end: 0;
						}

						.global-volume {
							flex: 0 0 50%;
						}
					}
				}
			}
		}

		.directory-list {
			.directory-item {
				&.playlist {
					@include layout {
						flex-direction: column;
						line-height: 1;
						padding: 0 $global-space-sm;
					}

					&:not(.collapsed) {
						@extend %global-hover-alt;

						&:hover,
						&:focus {
							background-color: color("folder-directory");
						}

						.playlist-sounds {
							.sound:first-child {
								border-block-start: b("border");
							}
						}
					}
				}
			}

			.playlist-sounds {
				@include layout {
					height: auto !important;
					width: 100%;
				}

				.sound:first-child {
					border-block-start: b("transparent");
				}
			}

			.playlist-header,
			.sound {
				@include layout {
					display: flex;
					flex: 1 1 100%;
					flex-wrap: nowrap;
					margin: 0;
					text-decoration: none;
					width: 100%;
				}

				.playlist-name {
					@include layout {
						align-items: center;
						display: inline-flex;
						flex: 1 1 100%;
						overflow: visible;
						padding: $global-space-base 0;
						word-break: normal;
						white-space: initial;
						width: 100%;

						> i {
							display: none;
						}
					}
				}

				.sound-controls {
					@include layout {
						flex: 0 0 auto;
						flex-wrap: nowrap;
						margin-inline-start: $global-space-base;
						padding: $global-space-base 0;
						width: auto;
					}

					.sound-control {
						@extend %control-button;

						&.inactive {
							opacity: 0.5;
						}
					}
				}
			}

			.playlist-header {
				@include layout {
					flex: 0 0 auto;
				}
			}

			.sound {
				&:nth-child(even) {
					background-color: color("background-darkest", 0.2);
				}
			}
		}

		h4,
		i,
		input[type=range] {
			color: inherit;

			@include layout {
				height: auto;
				line-height: 1.2;
				word-break: normal;
			}
		}

		h4,
		i {
			+ input[type="range"] {
				@include layout {
					margin-inline-start: $global-space-base;
				}
			}
		}

		h4 {
			@include layout {
				padding: $global-space-base;
			}
		}

		input[type="range"] {
			@include layout {
				margin: 0;
			}
		}

		#currently-playing {
			@include layout {
				flex-direction: row;
				max-height: 30%;
				overflow-x: hidden;
				overflow-y: auto;
			}

			.sound {
				@include layout {
					display: grid;
					flex: 1 1 100%;
					grid-template-areas:
						"name controls"
						"playback playback";
					grid-template-columns: 1fr min-content;
					grid-template-rows: min-content min-content;
					margin: 0;
					text-decoration: none;
					width: 100%;
				}

				+ .sound {
					border-block-start: b("border");

					@include layout {
						padding-block-start: $global-space-sm;
					}
				}

				.sound-name {
					@include layout {
						@include ellipsis;
						align-items: center;
						display: inline-flex;
						grid-area: name;
						margin: 0;
						padding: $global-space-base 0;
					}
				}

				.sound-controls {
					@include layout {
						flex-wrap: nowrap;
						grid-area: controls;
						margin: 0;
						margin-inline-start: $global-space-base;
						padding: $global-space-base 0;
						width: auto;
					}
				}

				.sound-control {
					@extend %control-button;

					&.inactive {
						opacity: 0.5;
					}
				}

				.sound-playback {
					@include layout {
						align-items: center;
						display: flex;
						grid-area: playback;
						padding: 0;
					}

					.sound-timer {
						color: color("text-lightest");

						@include layout {
							font-size: $global-font-size-sm;
							margin-inline-end: $global-space-sm;
						}
					}

					.volume-icon {
						@include layout {
							margin-inline-end: $global-space-base;
						}
					}
				}
			}
		}
	}
}
