#sidebar,
.sidebar-popout {
	background-color: color("background-darkest", 0.8);
	background-image: $global-image-background-darkest;
	border: b("border");
	border-inline-end: none;
	border-radius: $global-border-radius-default 0 0 $global-border-radius-default;
	box-shadow: none;
	transition: t(opacity, "link");

	@include layout {
		@include fixed(top calc(#{space("md")} / 2) right 0);
		@include size(space("sidebar"), calc(100% - #{space("md")}));
		display: flex;
		flex-direction: column;
		margin: 0;
		overflow: hidden;
		padding: 0;
		z-index: z(fixed);

		ol,
		ul {
			margin: 0;
			padding: 0;
		}
	}

	&.collapsed {
		@include layout {
			height: auto !important;
			width: to-rem(32px) !important;
		}

		@include layout-subtle {
			opacity: $global-subtle-opacity;

			&:hover {
				opacity: 1;
			}
		}

		#sidebar-tabs {
			border-block-end: none;

			@include layout {
				flex-wrap: wrap;
			}

			> .collapse {
				border-radius: 0 0 0 $global-border-radius-default;
			}
		}

		.sidebar-tab,
		.sidebar-tab.active {
			@include layout {
				display: none;
			}
		}
	}

	#sidebar-tabs {
		border-block-end: b("border");
		box-shadow: none;
		transition: t(background box-shadow color, "link");

		@include layout {
			display: flex;
			flex: 0 0 auto;
			flex-wrap: nowrap;
			font-size: fs("sm");
			margin: 0;
			position: relative;
		}

		> .item,
		> .collapse {
			border: none;
			border-radius: 0;
			box-shadow: none;
			color: color("text-lightest");
			transition: t(box-shadow color, "link");

			@include layout {
				align-items: center;
				cursor: pointer;
				display: flex;
				flex: 1 1 20%;
				font-size: fs("sm");
				justify-content: center;
				left: auto;
				line-height: initial;
				margin: 0;
				padding: p("sm") p("base");
				position: relative;
				top: auto;
			}

			&:hover {
				@extend %global-hover;
			}

			&.active {
				@extend %global-active;
				border-radius: 0;
				border: none;

				&:first-child {
					border-radius: $global-border-radius-default 0 0 0;
				}
			}

			&:first-child {
				border-radius: $global-border-radius-default 0 0 0;
			}

			> i {
				@include layout {
					margin: 0;
					position: relative;
					z-index: z("above");
				}
			}

			.notification-pip {
				background-color: color("primary");

				@include layout {
					@include absolute(zero);
					animation-duration: time("x-slow");
					animation-iteration-count: infinite;
					animation-name: emu-notification-flash;
					animation-timing-function: map-get($_default-transitions, "shift");
					display: none;
					opacity: 0;
					pointer-events: none;
					z-index: 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.window-content .sidebar-tab {
		@include layout {
			display: flex;
		}
	}

	.sidebar-tab {
		@include layout {
			display: none;
			flex: 1 1 auto;
			flex-direction: column;
			height: 100%;
			justify-content: initial;
			margin: 0;
			min-height: to-rem(200px);
			position: relative;

			&.active {
				display: flex;
			}
		}

		@include layout(compact) {
			min-height: to-rem(176px);
		}

		.directory-header,
		.directory-footer {
			@extend %panel-block;
		}

		.directory-header .header-actions,
		.directory-footer {
			button {
				@include layout {
					@include ellipsis;
					height: auto;
					line-height: 1;
					width: auto;

					> i {
						font-size: fs("md");
					}
				}
			}
		}

		.directory-header {
			border-block-end: b("border");

			@include layout {
				flex-direction: column;
			}

			.header-search {
				@include layout {
					@extend %button-icon-spacing;
					align-items: center;
					display: flex;
					flex: 1 1 auto;
					flex-wrap: nowrap;
					position: relative;
					width: 100%;

					> i {
						flex: 0 0 auto;
					}
				}

				input {
					background-color: color("white");

					@include layout {
						flex: 1 1 auto;
						margin: 0;
					}
				}

				+ .header-actions {
					@include layout {
						margin-block-start: m("sm");
					}
				}
			}

			.header-control {
				@extend %default-button;

				@include layout {
					@include size(to-rem(32px));
					flex: 0 0 auto;
					margin-inline-start: m("base");

					> i {
						margin: 0;
					}
				}
			}

			.header-actions {
				@include layout {
					align-items: center;
					display: flex;
					flex: 0 0 auto;
					margin-block-end: m("sm");
					position: relative;
					width: 100%;

					&:only-child,
					&:last-child {
						margin-block-end: 0;
					}
				}
			}

			> .action-buttons {
				@include layout {
					align-items: center;
					display: flex;
					flex: 0 0 auto;
					position: relative;
					width: 100%;
				}

				+ .action-buttons {
					@include layout {
						margin-block-start: m("base");
					}
				}
			}
		}

		.directory-footer {
			border-block-start: b("border");

			@include layout {
				flex-wrap: wrap;
			}
		}
	}

	> .directory-list {
		@include layout {
			display: flex;
			flex-direction: column;
		}
	}
}

#sidebar {
	@include layout-subtle {
		opacity: $global-subtle-opacity;
		overflow: visible;
		right: calc(-1 * #{space("sidebar")});
		transition: t(opacity right, "shift");

		&:hover {
			opacity: 1;
			right: 0;

			&::after {
				@extend %global-active;
				content: "\f0da";
			}
		}

		&.collapsed {
			right: 0;

			&::before,
			&::after {
				display: none;
			}
		}

		&::before {
			@include absolute(top calc(-1 * #{space("md")} / 2) right 0);
			background-color: transparent;
			content: "";
			height: calc(100% + #{space("md")});
			width: calc(100% + #{space("button")});
			z-index: z("below");
		}

		&::after {
			@include absolute(top 50% right 100%);
			@extend %font-awesome;
			align-items: center;
			background-color: color("background");
			border: b("border");
			border-inline-end: 0;
			content: "\f0d9";
			cursor: pointer;
			display: flex;
			height: to-rem(64px);
			justify-content: center;
			margin-block-start: to-rem(-32px);
			width: space("button");
		}
	}
}

.sidebar-popout {
	border-radius: $global-border-radius-default;
	border: b("border");

	@include layout {
		height: auto;
		min-height: 50vh;

		.window-content {
			padding: 0;
		}
	}
}
