#sidebar,
.sidebar-popout {
	#settings {
		@include layout {
			padding: p("sm");
		}

		div {
			@include layout {
				margin: 0;
			}
		}

		h2,
		h4 {
			background: transparent;
			border: none;
			color: color("text-lightest");

			@include layout {
				padding: 0;
				margin-block-end: m("sm");
			}
		}

		h2 {
			border-block-end: b("border-lighter");

			@include layout {
				font-size: fs("xl");
				margin-block-start: m("sm");
			}
		}

		h4 {
			color: color("primary");

			@include layout {
				font-size: fs("lg");
			}
		}

		button {
			@include layout {
				margin: 0;
				margin-block-end: m("base");
			}
		}

		#game-details {
			color: color("text-lightest");

			@include layout {
				margin: 0;
				padding: 0;
			}
		}
	}
}
