#sidebar,
.sidebar-popout {
	#compendium {
		> .directory-list {
			@extend %directory-list;
			padding: p("sm");

			.-compact & {
				padding: p("base");
			}
		}

		.directory-item {
			@extend %directory-item;
			flex-wrap: wrap;
			margin: m("base");

			&.folder {
				@extend %folder;
			}

			h4 {
				align-items: center;
				display: flex;
				width: 100%;

				.status-icons {
					color: color("text-lightest");
					position: relative;

					i {
						margin: 0;
						margin-inline-start: m("base");
					}
				}
			}

			.compendium-footer {
				color: color("text-lightest");
				flex: 0 0 auto;
				font-size: fs("md");
				padding-block-end: m("sm");
				width: 100%;

				.-compact & {
					padding-block-end: m("base");
				}
			}
		}

		.compendium-type {
			background-color: color("folder-subdirectory");
			display: flex;
			flex-direction: column;
			margin-block-end: m("base");

			.-compact & {
				margin-block-end: m("xs");
			}

			h3 {
				align-items: center;
				background-color: color("folder-header");
				background-image: $global-image-background-darkest;
				border: 0;
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
				color: color("text");
				cursor: default;
				display: flex;
				flex-wrap: nowrap;
				font-size: fs("lg");
				line-height: 1;
				min-height: to-rem(32px);
				padding: p("base") p("sm");
				position: relative;
				transition: t(background box-shadow color, "link");
				width: 100%;

				.-compact & {
					min-height: to-rem(24px);
					padding: p("base");
				}
			}
		}
	}
}
