#sidebar,
.sidebar-popout[id="combat-popout"] .window-content {
	[data-tab="combat"] {
		.combat-tracker-header {
			@extend %panel-block;

			@include layout {
				flex-direction: column;
			}

			.encounters,
			.encounter-controls {
				@include layout {
					align-items: center;
					display: flex;
					flex-wrap: nowrap;
					gap: $global-space-base;
					width: 100%;
				}

				h3,
				h4 {
					border-block-end: none;
					color: RGB($emu-color-text-lightest);


					@include layout {
						@extend %ellipsis;
						display: block;
						flex: 1 1 auto;
						font-size: $global-font-size-md;
						text-align: center;
					}
				}

				h3 {
					color: RGB($emu-color-text-lightest);

					@include layout {
						font-size: $global-font-size-xl;
						margin-inline-start: $global-space-button-sm;
					}
				}

				a {
					@extend %control-button;

					@include layout {
						&[disabled] {
							pointer-events: none;
							visibility: hidden;
						}

						&:first-child {
							margin-inline-start: 0;
						}
					}
				}
			}
		}

		#combat-tracker {
			.combatant {
				background-color: RGB($emu-color-background);
				border: none;
				border-radius: $global-border-radius-default;
				transition:
					background $global-transition-time-base $global-transition-type-link,
					box-shadow $global-transition-time-base $global-transition-type-link,
					opacity $global-transition-time-base $global-transition-type-link;

				@include layout {
					align-items: center;
					display: flex;
					flex-wrap: nowrap;
					height: auto;
					line-height: initial;
					margin: 0;
					padding: $global-space-base $global-space-sm;
					position: relative;
					width: auto;
				}

				&:hover {
					@extend %global-hover;
				}

				&.hidden {
					.token-name h4,
					.token-image {
						@include layout {
							opacity: 0.5;
						}
					}
				}

				&.active {
					@extend %global-active;

					.token-name h4 {
						border-color: RGB($emu-color-text-lightest);
					}

					.combatant-control.active {
						background-color: RGB($emu-color-white);
						color: RGB($emu-color-primary);
					}
				}

				&.defeated {
					background-color: RGBA($emu-color-negative, 0.5);

					&.active {
						@extend %global-hover-alt;

						.combatant-control.active {
							background-color: RGB($emu-color-primary);
							color: RGB($emu-color-text-lightest);
						}
					}
				}

				.token-name {
					text-shadow: none;

					@include layout {
						display: flex;
						flex: 1 1 auto;
						flex-direction: column;
						gap: $global-space-base;
						margin: 0;
						overflow: hidden;
						position: relative;
					}

					h4 {
						color: RGB($emu-color-text-lightest);
						border-block-end: 1px solid RGBA($emu-color-border-lighter, 0.1);

						@include layout {
							@extend %ellipsis;
							flex: initial;
							font-size: $global-font-size-lg;
							line-height: initial;
							max-width: 100%;
						}
					}
				}

				.token-resource,
				.token-initiative {
					color: RGB($emu-color-text-lightest);

					@include layout {
						align-items: center;
						display: flex;
						flex: 0 0 auto;
						position: relative;
					}
				}

				.token-resource {
					border-inline-end: 1px solid RGB($emu-color-border-lighter);

					@include layout {
						font-size: $global-font-size-md;
						line-height: 1;
						margin-inline-start: $global-space-sm;
						padding-inline-end: $global-space-sm;
					}
				}

				.token-initiative {
					@include layout {
						padding: 0;
						padding-inline-start: $global-space-sm;
					}

					.initiative {
						color: inherit;
						text-shadow: none;

						@include layout {
							font-size: $global-font-size-lg;
							font-weight: normal;
						}
					}
				}

				.combatant-controls {
					@include layout {
						align-items: center;
						display: flex;
						gap: $global-space-base;
					}
				}

				.combatant-control {
					@extend %control-button;

					// fa hack
					&.roll {
						background: transparent;

						@include layout {
							@extend %font-awesome;
							background: transparent;
							font-size: $global-font-size-xl;
							height: $global-space-button;
							margin: 0;
							width: $global-space-button;

							&::before {
								content: "\f6cf";
							}
						}
					}
				}

				.token-effects {
					@include layout {
						display: flex;
						flex: 1 1 auto;
						flex-wrap: wrap;
						gap: $global-space-base;
						height: auto;

						img {
							cursor: default;
							margin: 0;
							max-height: 14px;
							max-width: 14px;
							opacity: 1;
							transform: none;
						}
					}
				}
			}
		}

		#combat-controls {
			border-block-start: 1px solid RGB($emu-color-border);

			@include layout {
				flex-wrap: nowrap;
				gap: $global-space-base;
				padding-block-start: $global-space-sm;

				&:empty {
					display: none;
				}
			}

			.combat-control {
				@extend %primary-button;

				@include layout {
					&.center {
						flex: 1 1 auto;
						white-space: nowrap;
					}

					> i {
						margin: 0;
					}
				}
			}
		}
	}
}

.sidebar-popout[id="combat-popout"] .window-content {
	[data-tab="combat"] {
		#combat-tracker {
			.combatant {
				@include layout {
					margin: 0 $global-space-sm;
				}
			}
		}
	}
}
