#tooltip {
	@include layout {
		align-items: center;
		border-radius: $global-border-radius-default;
		display: inline-flex;
		font-family: inherit;
		font-size: $global-font-size-md;
		line-height: 1.2;
		max-width: 320px;
		opacity: 0;
		padding: $global-space-sm $global-space-md;
		pointer-events: none;
		transition:
			opacity $global-transition-time-base $global-transition-type-shift,
			visibility $global-transition-time-base $global-transition-type-shift;
		width: max-content;
	}

	background: RGBA($emu-color-background-darkest, 0.9);
	border: 1px solid RGB($emu-color-border);
	box-shadow: none;
	color: RGB($emu-color-text-lightest);

	&.active {
		@include layout {
			opacity: 1;
		}
	}
}
