#ui-left,
#ui-middle,
#ui-right {
	@include layout {
		pointer-events: none;
		position: relative;
		z-index: $global-z-index-fixed;
	}
}

#ui-left {
	@include layout-ui-left(compact) {
		@include compact-variables;
	}

	@include layout {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		justify-content: space-between;
	}
}

#ui-middle {
	@include layout {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		justify-content: space-between;
	}
}

#ui-right {
	@include layout-ui-right(compact) {
		@include compact-variables;
	}

	@include layout {
		flex	: none;
	}
}

#ui-top {
	@include layout-ui-top(compact) {
		@include compact-variables;
	}

	@include layout {
		margin: 0;
		position: relative;

		&.offset {
			margin-inline-start: calc(#{$global-space-sidebar}/-4);
		}
	}
}

#ui-bottom {
	@include layout-ui-bottom(compact) {
		@include compact-variables;
	}

	@include layout {
		position: relative;

		> div {
			display: flex;
			justify-content: space-between;
		}
	}
}
