.window-app {
	.sidebar-tab.compendium {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		height: 100%;
		min-height: to-rem(200px);
		position: relative;

		// hack
		background: color("charcoal-800");
		box-shadow: 0 8px 0 0 color("charcoal-800");
		width: calc(100% + 16px);
		margin-left: -8px;
		margin-top: -8px;

		.-compact & {
			min-height: to-rem(168px);

			// hack
			box-shadow: 0 4px 0 0 color("charcoal-800");
			width: calc(100% + 8px);
			margin-left: -4px;
			margin-top: -4px;
		}

		.directory-header,
		.directory-footer {
			@extend %panel-block;
		}

		.directory-header {
			border-block-end: b("charcoal-600");

			.header-search {
				align-items: center;
				display: flex;
				flex: 1 1 auto;
				position: relative;

				> i {
					flex: 0 0 auto;
					margin-inline-end: m("sm");

					.-compact & {
						margin-inline-end: m("base");
					}
				}

				input {
					background: color("white");
					flex: 1 1 auto;
				}
			}

			.header-control {
				@extend %secondary-button;
				@include size(to-rem(32px));
				flex: 0 0 auto;
				margin-inline-start: m("base");
			}
		}

		.directory-footer {
			border-block-start: b("charcoal-600");

			button {
				@extend %primary-button;
				@extend %button-row;
				@include ellipsis;

				> i {
					margin-inline-end: m("sm");

					.-compact & {
						margin-inline-end: m("base");
					}
				}
			}
		}

		> .directory-list {
			display: flex;
			flex-direction: column;
		}

		.directory-list {
			@extend %directory-list;
			max-height: 100%;
			padding-block-start: p("base");

			.subdirectory {
				background: color("charcoal-100");
				border-inline-start: b("primary", 4px);
				width: 100%;

				.folder {
					padding-block-end: p("base");
					padding-inline-end: 0;

					.-compact & {
						padding-block-end: p("base");
						padding-inline-end: 0;
					}

					+ .folder {
						padding-block-start: 0;

						.-compact & {
							padding-block-start: 0;
						}
					}
				}

				.subdirectory {
					border-inline-start: b("orange-700", 4px);

					.subdirectory {
						border-inline-start: b("orange-900", 4px);
					}
				}
			}
		}

		.directory-item {
			align-items: center;
			background: color("charcoal-400");
			color: color("text-lightest");
			cursor: pointer;
			display: flex;
			flex-wrap: nowrap;
			margin: m("xs") m("sm");
			padding: 0 p("sm");
			position: relative;
			transition: t(background box-shadow color, "link");

			.-compact & {
				margin: m("xs") m("base");
				padding: 0 p("base");
			}

			&:hover {
				@extend %global-hover;
				background: color("primary");
				color: color("text-lightest");
			}

			&:focus {
				@extend %global-focus;
			}

			&.folder,
			&.playlist {
				background: transparent;
				cursor: default;
				margin: 0;
				padding: p("base") p("sm");
				padding-block-end: 0;

				.-compact & {
					padding: p("base");
					padding-block-end: 0;
				}

				&:hover,
				&:focus {
					background: transparent;
					box-shadow: none;
				}
			}

			img {
				@extend %reset-image;
				@include size(space("icon"));
				cursor: move;
				flex: 0 0 auto;
				margin-block-start: m("base");
				margin-block-end: m("base");
				margin-inline-end: m("sm");

				.-compact & {
					@include size(to-rem(20px));
					margin-inline-end: m("base");
				}
			}

			h3,
			h4 {
				@include ellipsis;
				color: inherit;
				flex: 1 1 auto;
				font-size: fs("lg");
				font-weight: normal;

				> i {
					margin-inline-end: m("sm");

					.-compact & {
						margin-inline-end: m("base");
					}
				}

				> a {
					@include ellipsis;
					color: inherit;
					cursor: pointer;
					display: block;
					flex: 1 1 auto;
					font-size: fs("lg");
					line-height: to-rem(32px); // figure out a better way
					position: relative;
					text-shadow: none;
					transition: t(color, "link");

					.-compact & {
						line-height: to-rem(24px);
					}
				}
			}
		}
	}
}
