.window-app {
	background-color: color("background-lightest");
	background-image: $global-image-background-light;
	border: b("border");
	border-radius: $global-border-radius-default;
	box-shadow: 0 2px 4px color("black");
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0;

	&.minimized {
		.window-resizable-handle {
			display: none;
		}
	}

	&.sidebar-popout {
		background-color: color("background-darkest", 0.8);
		background-image: $global-image-background-darkest;
	}

	.window-header {
		align-items: center;
		background-color: color("background");
		background-image: $global-image-background;
		border: none;
		border-block-end: b("border");
		border-radius: $global-border-radius-default $global-border-radius-default 0 0;
		color: color("text-lightest");
		display: flex;
		flex: 0 0 auto;
		flex-wrap: nowrap;
		line-height: initial;
		overflow: hidden;
		padding: p("sm");
		position: relative;

		.-compact & {
			padding: p("base");
		}

		.window-title {
			@extend %h-tag;
			@include ellipsis(max-width 100%);
			color: color("text-lightest");
			flex: 1 1 auto;
		}

		a {
			@extend %control-button;
			background: transparent;
			padding: p("base");
			width: auto;

			.-compact & {
				width: auto;
			}

			&:hover {
				background-color: color("primary");
			}

			&.close {
				color: transparent;
				overflow: hidden;
				padding: 0;
				width: space("button-sm");

				> i {
					@include absolute(top 0 left 0);
					@include size(100%);
					align-items: center;
					color: color("text-lightest");
					display: flex;
					font-size: fs("lg");
					justify-content: center;
					margin: 0;
				}
			}

			> i,
			> span.fas {
				margin-inline-end: m("base");
			}
		}
	}

	.window-content {
		.-compact & {
			padding: p("base");
		}
	}

	.window-resizable-handle {
		@include absolute(bottom 0 right 0);
		@include size(to-rem(20px));
		align-items: center;
		background-color: color("background-button");
		border: none;
		border-radius: $global-border-radius-default 0 0 0;
		color: color("text-lightest");
		cursor: pointer;
		display: inline-flex;
		font-size: fs("md");
		justify-content: center;
		margin: 0;
		padding: 0;
		transition: t(background box-shadow color, "link");

		&:hover {
			@extend %global-hover;
		}

		&:focus {
			@extend %global-focus;
		}

		> i {
			transform: rotate(45deg);
		}
	}
}
