.directory {
	.directory-list {
		@include layout {
			@extend %reset-list;
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			gap: $global-space-base;
			max-height: 100%;
			min-height: 1px;
			overflow-y: auto;
			padding: 0 $global-space-sm;
		}

		.subdirectory {
			background-color: RGB($emu-color-folder-subdirectory);
			background-image: none;
			border: none;
			border-inline-start: 4px solid RGB($emu-color-primary);

			@include layout {
				display: flex;
				border-radius: 0 0 0 $global-border-radius-default;
				flex-direction: column;
				gap: $global-space-base;
				margin: 0;
				padding: $global-space-base;
				width: 100%;
			}

			.directory-item.folder {
				@include layout {
					padding: 0;
				}

				+ .directory-item.folder {
					@include layout {
						padding-block-start: 0;
					}
				}

				+ .directory-item:not(.folder) {
					@include layout {
						margin-block-start: 0;
					}
				}
			}

			.directory-item:not(.folder) {
				+ .directory-item:not(.folder) {
					@include layout {
						margin-block-start: 0;
					}
				}
			}

			.subdirectory {
				border-inline-start: 4px solid RGB($emu-color-primary-darker);

				.subdirectory {
					border-inline-start: 4px solid RGB($emu-color-primary-darkest);
				}
			}
		}
	}

	.directory-item {
		background-color: RGB($emu-color-folder-directory);
		background-image: none;
		border-block-end: 1px solid RGB($emu-color-border);
		border-radius: $global-border-radius-default;
		box-shadow: none;
		color: RGB($emu-color-text-lightest);
		transition:
			background $global-transition-time-base $global-transition-type-link,
			box-shadow $global-transition-time-base $global-transition-type-link,
			color $global-transition-time-base $global-transition-type-link;

		@include layout {
			align-items: center;
			border: none;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			flex-wrap: nowrap;
			height: auto;
			line-height: 1;
			margin: 0;
			min-height: $global-space-button;
			padding: 0 $global-space-sm;
			position: relative;
			width: 100%;
		}

		&:hover {
			@extend %global-hover;
			background-color: RGB($emu-color-primary);
			background-image: none;
			color: RGB($emu-color-text-lightest);
		}

		&:active {
			background-color: RGB($emu-color-primary-darker);
		}

		&:focus {
			@extend %global-focus;
			background-image: none;
		}

		&.entity {
			border: none;
		}

		&.context {
			border: none;
			box-shadow: none;
		}

		&.folder {
			background: transparent;

			@include layout {
				cursor: default;
				flex-direction: column;
				padding: 0;
			}

			&:hover,
			&:focus {
				background: transparent;
				box-shadow: none;
			}

			&.collapsed {
				> .folder-header {
					border-inline-start: none;
					border-radius: $global-border-radius-default;

					.create-folder {
						@include layout {
							display: none;
						}
					}

					h3 {
						i::before {
							@include layout {
								content: "\f07b";
							}
						}
					}
				}

				.subdirectory {
					@include layout {
						display: none;
					}

					.folder-header {
						border-inline-start: none;
					}
				}
			}

			&.droptarget {
				.folder-header {
					@extend %global-focus;
				}
			}

			.folder-header {
				background-color: RGB($emu-color-folder-header);
				background-image: none;
				border: 0;
				border-inline-start: 4px solid RGB($emu-color-primary);
				border-radius: $global-border-radius-default $global-border-radius-default 0 0;
				color: RGB($emu-color-text);
				transition:
					background $global-transition-time-base $global-transition-type-link,
					box-shadow $global-transition-time-base $global-transition-type-link,
					color $global-transition-time-base $global-transition-type-link;

				@include layout {
					align-items: center;
					cursor: pointer;
					display: flex;
					flex-wrap: nowrap;
					line-height: 1;
					min-height: $global-space-button;
					padding: $global-space-base $global-space-sm;
					position: relative;
					width: 100%;
				}

				&:hover {
					@extend %global-hover;
					background-color: RGB($emu-color-primary);
					background-image: none;
					color: RGB($emu-color-text-lightest);
				}

				&:active {
					background-color: RGB($emu-color-primary-darker);
				}

				&:focus {
					@extend %global-focus;
				}

				h3 {
					@extend %button-icon-spacing;
					border-block-end: 0;
					color: inherit;

					@include layout {
						@extend %ellipsis;
						flex: 1 1 auto;
						font-size: $global-font-size-lg;
						font-weight: normal;
						line-height: 1;
						margin: 0;
						position: relative;
						text-align: start;
						text-shadow: none;
					}

					> i {
						text-shadow: none;
					}
				}

				.create-folder,
				.create-entity, {
					@extend %control-button;
				}
			}

			.subdirectory {
				.directory-item.folder {
					&.collapsed .folder-header {
						@include layout {
							border-radius: $global-border-radius-default 0 0 $global-border-radius-default;
						}
					}

					.folder-header {
						@include layout {
							border-radius: $global-border-radius-default 0 0 0;
						}
					}
				}

				.folder-header {
					border-color: RGB($emu-color-primary-darker);
				}

				.subdirectory {
					.folder-header {
						border-color: RGB($emu-color-primary-darkest);
					}
				}
			}

			.folder-header.context,
			.directory-item.context {
				background-color: RGB($emu-color-primary) !important; // why the fuck...
				color: RGB($emu-color-text-lightest);
			}
		}

		.create-folder,
		.create-document {
			@extend %control-button;

			.fa-plus {
				align-items: center;
				background: transparent;
				border-radius: 50%;
				color: inherit;
				display: flex;
				font-size: 8px;
				height: 12px;
				justify-content: center;
				position: absolute;
				right: -2px;
				top: -2px;
				width: 12px;
			}
		}

		img {
			border-radius: $global-border-radius-images;

			@include layout {
				cursor: move;
				flex: 0 0 auto;
				height: $global-space-icon;
				margin: 0;
				margin-block-end: $global-space-base;
				margin-block-start: $global-space-base;
				margin-inline-end: $global-space-sm;
				width: $global-space-icon;
			}
		}

		h3,
		h4 {
			@extend %button-icon;
			color: inherit;
			text-shadow: none;

			@include layout {
				@extend %ellipsis;
				flex: 1 1 auto;
				font-size: $global-font-size-lg;
				font-weight: normal;
				line-height: 1;
				margin: 0;
				padding: 0;
				position: relative;
				text-align: start;
			}

			> a {
				@extend %ellipsis;
				background-color: transparent;
				border-radius: 0;
				color: inherit;
				text-shadow: none;
				transition: color $global-transition-time-base $global-transition-type-link;

				@include layout {
					cursor: pointer;
					display: block;
					flex: 1 1 auto;
					font-size: $global-font-size-lg;
					line-height: $global-space-button; // figure out a better way
					padding: 0;
					position: relative;
					text-shadow: none;
				}
			}
		}
	}
}
