input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="datetime-local"],
input[type="search"] {
	@extend %input-text;

	@include layout {
		width: 100%;
	}
}

input[type="checkbox"] {
	@extend %input-checkbox;
}

input[type="radio"] {
	@extend %input-radio;
}

input[type="color"],
input[type="color"][data-edit] {
	@extend %input-color;
}

input[type="range"] {
	@extend %input-range;
}

select {
	@extend %input-select;
	box-shadow: none;
}

textarea {
	@extend %input-textarea;

	@include layout {
		width: 100%;
	}
}

fieldset {
	border: none;

	@include layout {
		margin: 0;
		padding: 0;
	}
}

figure figcaption {
	font-weight: 700;
	margin-block-start: $global-space-base;
	padding: 0 $global-space-sm;
	text-align: center;

	&:empty {
		display: none;
	}
}
