form {
	h3.form-header {
		border: none;
		border-block-end: b("border");
		color: color("text");

		@include layout {
			font-size: fs("lg");
			margin-block-start: m("md");
			margin-block-end: m("base");
			padding: p("base");
		}
	}

	.form-group {
		color: color("text");

		@include layout {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			font-size: fs("lg");
			justify-content: space-between;
			margin: 0;
			padding: p("sm");

			&:nth-of-type(even) {
				background-color: color("background-light", 0.1);
			}
		}

		&.initial-position {
			.form-fields {
				@include layout {
					align-items: center;
					display: inline-flex;
					width: 1px; // hacky hack hack
				}

				input {
					@include layout {
						flex: 1 1 auto;

						&[type="text"] {
							width: 1px; // hack hack
						}
					}
				}

				label {
					@include layout {
						flex: 0 0 auto;
						padding-inline-start: p("sm");
						padding-inline-end: p("base");
					}
				}
			}
		}

		&.stacked {
			@include layout {
				padding: 0;
				padding-block-start: p("sm");
			}

			textarea {
				@include layout {
					margin-block-end: m("base");
				}
			}
		}

		&.hidden {
			@include layout {
				display: none;
			}
		}

		.form-fields {
			@include layout {
				display: flex;
				flex: 1 1 auto;
			}

			input,
			select {
				@include layout {
					flex: 1 1 100%;
				}

				&[type="checkbox"] {
					@include layout {
						-webkit-filter: initial;
						flex: 0 0 auto;
						width: space("button-xs");
					}
				}

				&[type="radio"] {
					@include layout {
						flex: 0 0 auto;
						margin-inline-end: m("sm");
						width: auto;
					}
				}

				+ input,
				+ select {
					@include layout {
						flex: 1 1 25%;
						margin-inline-start: m("base");
					}
				}
			}

			button {
				@include layout {
					margin-inline-start: m("base");
					order: initial;
					width: auto;
				}

				&.file-picker,
				&.grid-config,
				&.capture-position {
					@include layout {
						> i {
							margin-inline-end: 0;
						}
					}
				}

				+ input {
					@include layout {
						order: -1;
					}
				}

				// :(
				&.file-picker + input[type="text"] {
					@include layout {
						margin-right: 0 !important;
					}
				}
			}
		}

		.form-fields,
		.range-value,
		input[type="checkbox"] {
			+ .notes,
			+ .hint {
				@include layout {
					margin-block-start: m("sm");
				}
			}
		}

		input,
		select {
			@include layout {
				flex: 1 1 auto;
				width: 1px; // hack
			}

			&[type="checkbox"] {
				@include layout {
					-webkit-filter: initial;
					flex: 0 0 auto;
					width: space("button-xs");
				}
			}

			&[type="radio"] {
				@include layout {
					flex: 0 0 auto;
					margin-inline-end: m("sm");
					width: auto;
				}
			}

			+ .notes {
				@include layout {
					margin-block-start: m("sm");
				}
			}

			+ input {
				@include layout {
					flex: 1 1 25%;
					margin-inline-start: m("base");
				}

				&[type="checkbox"],
				&[type="radio"] {
					@include layout {
						flex: 0 0 auto;
					}
				}
			}
		}

		> label {
			@include layout {
				flex: 0 0 40%;
			}
		}

		label {
			@include layout {
				align-items: center;
				display: inline-flex;
				font-size: fs("md");
				line-height: initial;
				margin: 0;
				padding-inline-end: p("base");
			}

			&.checkbox {
				@include layout {
					height: auto;
				}

				input[type="checkbox"] {
					@include layout {
						margin-inline-start: m("base");
					}
				}

				+ input[type="range"],
				+ select {
					@include layout {
						margin-inline-start: m("base");
					}
				}
			}

			.units {
				color: color("text");

				@include layout {
					@include ellipsis;
					display: block;
					font-size: fs("sm");
					line-height: initial;
					margin: 0 m("base");
				}
			}

			> i {
				@include layout {
					margin-inline-end: m("base");
				}
			}
		}

		+ button[type="submit"] {
			@include layout {
				margin-block-start: m("sm");
			}
		}
	}

	.notes,
	.hint {
		color: color("text-darker");

		@include layout {
			flex: 0 0 auto;
			font-size: fs("md");
			font-style: italic;
			line-height: initial;
			margin: 0;
			width: 100%;

			&:empty {
				display: none;
			}

			&:first-child {
				margin-bottom: m("base");
			}
		}

		+ .form-group {
			@include layout {
				margin-block-start: m("sm");
			}
		}
	}
}
