table {
	background-color: RGBA($emu-color-black, 0.05);
	border: none;

	@include layout {
		margin: $global-space-base 0;
	}

	thead {
		background-color: RGBA($emu-color-black, 0.2);
		border-block-end: 1px solid RGB($emu-color-border);
		color: RGB($emu-color-text-lightest);
		text-shadow: none;
	}

	tr:nth-child(even) {
		background-color: RGBA($emu-color-white, 0.1);
	}

	td:first-child {
		@include layout {
			padding-inline-start: $global-space-base;
		}
	}

	td,
	th {
		@include layout {
			padding: $global-space-xs 0;
		}
	}
}
