.tox-toolbar__primary {
	background: transparent;
}

.tox.tox-tinymce .tox-edit-area__iframe {
	background-color: color("white");

	@include layout {
		padding: $global-space-base;
	}
}

.tox .tox-tbtn {
	background: transparent;
	color: color("text");

	@include layout {
		font-size: $global-font-size-sm;
		height: $global-space-button-sm;
		margin-block-start: $global-space-xs;
		padding: 0 $global-space-base;
	}

	&:hover {
		@extend %global-hover-alt;
	}

	&.tox-tbtn--enabled {
		@extend %global-active;
	}
}
