.tox-toolbar__primary {
	background: transparent;

	button {
		background: transparent;
		color: inherit;
	}
}

.tox.tox-tinymce .tox-edit-area__iframe {
	background-color: color("white");

	@include layout {
		padding: p("sm");
	}
}
