table {
	background-color: RGBA($emu-color-black, 0.05);
	border-color: transparent;

	@include layout {
		border-style: solid;
		border-width: 0;
		margin: $global-space-base 0;
	}

	thead {
		background-color: RGBA($emu-color-black, 0.2);
		border-color: RGB($emu-color-border);
		color: RGB($emu-color-text-lightest);
		text-shadow: none;

		@include layout {
			border-block-end-style: solid;
			border-block-end-width: 1px;
		}
	}

	tr:nth-child(even) {
		background-color: RGBA($emu-color-white, 0.1);
	}

	td:first-child {
		@include layout {
			padding-inline-start: $global-space-base;
		}
	}

	td,
	th {
		@include layout {
			padding: $global-space-xs 0;
		}
	}
}
