h1,
h2,
h3,
h4 {
	font-weight: normal;

	@include layout {
		margin: 0;
		margin-block-end: $global-space-base;
		position: relative;
	}
}

h1 {
	border-block-end: 2px solid RGB($emu-color-border);

	@include layout {
		font-size: $global-font-size-xxl;
	}
}

h2 {
	border-block-end: 1px solid RGB($emu-color-border);

	@include layout {
		font-size: $global-font-size-xl;
	}
}

h3 {
	@include layout {
		font-size: $global-font-size-lg;
	}
}

a {
	text-shadow: none;

	&:hover {
		color: RGB($emu-color-primary);
	}

	&:active {
		color: RGB($emu-color-primary-darker);
	}
}

a[href] {
	color: RGB($emu-color-primary);
	text-decoration: none;
	text-shadow: none;

	&:hover {
		text-decoration: underline;
		text-shadow: none;
	}

	&:active {
		color: RGB($emu-color-primary-darker);
	}

	&:focus {
		@extend %global-focus;
	}
}

a.entity-link,
a.inline-roll,
a.content-link {
	background-color: RGB($emu-color-background-lightest);
	box-shadow: 0 0 0 1px inset RGB($emu-color-black);
	border: none;
	color: RGB($emu-color-text);
	text-shadow: none;

	@include layout {
		border-radius: $global-border-radius-controls;
		padding: $global-space-pf $global-space-xs;
		padding-inline-start: $global-space-base;
	}

	&:hover {
		color: RGB($emu-color-primary);
	}

	&:active {
		color: RGB($emu-color-primary-darker);
	}

	> i {
		color: inherit;

		@include layout {
			margin-inline-end: $global-space-xs;
		}
	}
}

p {
	@include layout {
		margin: $global-space-base 0;
		min-height: $global-font-size-sm;
	}
}

ul,
ol {
	@include layout {
		margin: $global-space-base 0;
		margin-block-end: $global-space-base;
	}
}

dl {
	@include layout {
		margin: $global-space-base 0;
	}
}

dd {
	@include layout {
		padding-inline-end: $global-space-base;
		margin: $global-space-base 0;
	}
}

hr {
	border: none;
	border-block-start: 1px solid RGB($emu-color-border);
	border-block-end: none;

	@include layout {
		width: 100%;
	}
}

button[hidden] {
	display: none;
}

blockquote {
	border-inline-start: 3px solid RGB($emu-color-border);

	@include layout {
		margin: $global-space-base 0 $global-space-base $global-space-md;
		padding-inline-start: $global-space-lg;

		em {
			font-style: normal;
		}
	}
}

section.secret {
	background-color: RGBA($emu-color-background-light, 0.2);
	border-block-start: 1px solid RGB($emu-color-border);
	border-block-end: 1px solid RGB($emu-color-border);

	@include layout {
		padding: 0 $global-space-base;
	}
}
