form {
	h3.form-header {
		border: none;
		border-block-end: b("border");
		color: color("text");

		@include layout {
			font-family: inherit;
			font-size: $global-font-size-lg;
			margin-block-start: $global-space-md;
			margin-block-end: $global-space-base;
			padding: $global-space-base;
		}
	}

	.form-group {
		color: color("text");

		@include layout {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			font-size: $global-font-size-lg;
			gap: $global-space-base;
			height: auto;
			justify-content: space-between;
			margin: 0;
			padding: $global-space-sm;
			width: 100%;

			&:nth-of-type(even) {
				background-color: color("background-light", 0.1);
			}
		}

		&.initial-position {
			.form-fields {
				@include layout {
					align-items: center;
					display: inline-flex;
					width: 1px; // hacky hack hack
				}

				input {
					@include layout {
						flex: 1 1 auto;

						&[type="text"] {
							width: 1px; // hack hack
						}
					}
				}

				label {
					@include layout {
						flex: 0 0 auto;
					}
				}
			}
		}

		&.stacked {
			> label {
				@include layout {
					flex: 0 0 100%;
				}
			}
		}

		&.hidden {
			@include layout {
				display: none;
			}
		}

		.form-fields {
			@include layout {
				align-items: center;
				display: flex;
				gap: $global-space-base;
				flex: 1 1 auto;
				justify-content: flex-end;
			}

			input,
			select {
				@include layout {
					flex: 1 1 100%;
					gap: $global-space-base;
				}

				&[type="checkbox"] {
					@include layout {
						-webkit-filter: initial;
						flex: 0 0 auto;
						width: $global-space-button-xs;
					}
				}

				&[type="radio"] {
					@include layout {
						flex: 0 0 auto;
						width: auto;
					}
				}

				+ input,
				+ select {
					@include layout {
						flex: 1 1 25%;
					}
				}
			}

			button {
				@include layout {
					order: initial;
					width: auto;
				}

				&.file-picker,
				&.grid-config,
				&.capture-position {
					@include layout {
						> i {
							margin-inline-end: 0;
						}
					}
				}

				+ input {
					@include layout {
						order: -1;
					}
				}

				// :(
				&.file-picker + input[type="text"] {
					@include layout {
						margin-inline-end: 0 !important;
					}
				}
			}
		}

		input,
		select {
			@include layout {
				flex: 1 1 auto;
				width: 1px; // hack
			}

			&[type="checkbox"] {
				@include layout {
					-webkit-filter: initial;
					flex: 0 0 auto;
					width: $global-space-button-xs;
				}
			}

			&[type="radio"] {
				@include layout {
					flex: 0 0 auto;
					width: auto;
				}
			}

			+ input {
				@include layout {
					flex: 1 1 25%;
				}

				&[type="checkbox"],
				&[type="radio"] {
					@include layout {
						flex: 0 0 auto;
					}
				}
			}
		}

		> label {
			@include layout {
				flex: 0 0 40%;
			}
		}

		label {
			color: color("text");

			@include layout {
				align-items: center;
				display: inline-flex;
				font-size: $global-font-size-md;
				font-weight: normal;
				line-height: initial;
				margin: 0;
				padding: 0;
			}

			&.checkbox {
				@include layout {
					gap: $global-space-base;
					height: auto;
				}
			}

			.units {
				color: color("text");

				@include layout {
					@include ellipsis;
					display: block;
					font-size: $global-font-size-sm;
					line-height: initial;
					margin: 0 $global-space-base;
				}
			}

			> i {
				@include layout {
					margin-inline-end: $global-space-base;
				}
			}
		}
	}

	.form-group-stacked {
		@include layout {
			margin: 0;
		}

		.checkbox-label {
			display: flex;
			flex-direction: column;
			padding: 0;
		}

		label {
			&.checkbox {
				@include layout {
					align-items: center;
					display: inline-flex;
					flex: auto;
					font-size: $global-font-size-sm;
					gap: $global-space-base;
					height: auto;
					line-height: initial;
					margin: 0;
					padding: 0;
				}
			}
		}
	}

	.notes,
	.hint {
		color: color("text-darker");

		@include layout {
			flex: 0 0 auto;
			font-size: $global-font-size-md;
			font-style: italic;
			line-height: initial;
			margin: 0;
			width: 100%;

			&:empty {
				display: none;
			}
		}
	}
}
