<form autocomplete="off">
	<nav class="sheet-tabs tabs" data-group="sections">
		<a class="item" data-tab="colors">{{ localize "emu.modal-tab-colors" }}</a>
		<a class="item" data-tab="design">{{ localize "emu.modal-tab-design" }}</a>
		<a class="item" data-tab="options">{{ localize "emu.modal-tab-options" }}</a>
	</nav>
	<section id="config-tabs" class="content">
		<div class="tab" data-tab="colors" data-group="sections">
			<div class="form-group">
				<label>{{ localize "emu.theme-preset" }}</label>
				<div class="form-fields">
					<select name="themePreset">
						{{#select themePreset}}
							{{#each themePresetList as |name key|}}
								<option value="{{key}}">{{name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-primary" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorPrimary" value="{{ colorPrimary }}" data-dtype="String"/>
					<input type="color" name="colorPrimarySelector" value="{{ colorPrimary }}" data-edit="colorPrimary"/>
				</div>
				<p class="notes">{{ localize "emu.theme-primary-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-default" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackground" value="{{ colorBackground }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundSelector" value="{{ colorBackground }}" data-edit="colorBackground"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-lightest" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundLightest" value="{{ colorBackgroundLightest }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundLightestSelector" value="{{ colorBackgroundLightest }}" data-edit="colorBackgroundLightest"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-light" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundLight" value="{{ colorBackgroundLight }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundLightSelector" value="{{ colorBackgroundLight }}" data-edit="colorBackgroundLight"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-darkest" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundDarkest" value="{{ colorBackgroundDarkest }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundDarkestSelector" value="{{ colorBackgroundDarkest }}" data-edit="colorBackgroundDarkest"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-button" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundButton" value="{{ colorBackgroundButton }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundButtonSelector" value="{{ colorBackgroundButton }}" data-edit="colorBackgroundButton"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-chat-message" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundChatMessage" value="{{ colorBackgroundChatMessage }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundChatMessageSelector" value="{{ colorBackgroundChatMessage }}" data-edit="colorBackgroundChatMessage"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-chat-message-whisper" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundChatMessageWhisper" value="{{ colorBackgroundChatMessageWhisper }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundChatMessageWhisperSelector" value="{{ colorBackgroundChatMessageWhisper }}" data-edit="colorBackgroundChatMessageWhisper"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-background-chat-message-blind" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBackgroundChatMessageBlind" value="{{ colorBackgroundChatMessageBlind }}" data-dtype="String"/>
					<input type="color" name="colorBackgroundChatMessageBlindSelector" value="{{ colorBackgroundChatMessageBlind }}" data-edit="colorBackgroundChatMessageBlind"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-border" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBorder" value="{{ colorBorder }}" data-dtype="String"/>
					<input type="color" name="colorBorderSelector" value="{{ colorBorder }}" data-edit="colorBorder"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-border-lighter" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorBorderLighter" value="{{ colorBorderLighter }}" data-dtype="String"/>
					<input type="color" name="colorBorderLighterSelector" value="{{ colorBorderLighter }}" data-edit="colorBorderLighter"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-folder-header" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorFolderHeader" value="{{ colorFolderHeader }}" data-dtype="String"/>
					<input type="color" name="colorFolderHeaderSelector" value="{{ colorFolderHeader }}" data-edit="colorFolderHeader"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-folder-directory" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorFolderDirectory" value="{{ colorFolderDirectory }}" data-dtype="String"/>
					<input type="color" name="colorFolderDirectorySelector" value="{{ colorFolderDirectory }}" data-edit="colorFolderDirectory"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-folder-subdirectory" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorFolderSubdirectory" value="{{ colorFolderSubdirectory }}" data-dtype="String"/>
					<input type="color" name="colorFolderSubdirectorySelector" value="{{ colorFolderSubdirectory }}" data-edit="colorFolderSubdirectory"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-text" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorText" value="{{ colorText }}" data-dtype="String"/>
					<input type="color" name="colorTextSelector" value="{{ colorText }}" data-edit="colorText"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-text-lightest" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorTextLightest" value="{{ colorTextLightest }}" data-dtype="String"/>
					<input type="color" name="colorTextLightestSelector" value="{{ colorTextLightest }}" data-edit="colorTextLightest"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.theme-text-darker" }}</label>
				<div class="form-fields">
					<input type="text"  name="colorTextDarker" value="{{ colorTextDarker }}" data-dtype="String"/>
					<input type="color" name="colorTextDarkerSelector" value="{{ colorTextDarker }}" data-edit="colorTextDarker"/>
				</div>
			</div>
		</div>
		<div class="tab" data-tab="design" data-group="sections">
			<p class="notes">{{ localize "emu.design-note" }}</p>
			<h3>{{ localize "emu.design-header-font" }}</h3>
			<div class="form-group">
				<label>{{ localize "emu.design-font-family" }}</label>
				<div class="form-fields">
					<select name="fontFamily">
						{{#select fontFamily}}
							{{#each fontFamilyList as |name key|}}
								<option value="{{key}}">{{name}}</option>
							{{/each}}
						{{/select}}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-family-custom" }}</label>
				<div class="form-fields">
					<input id="fontFamilyCustom" name="fontFamilyCustom" type="text" value="{{ fontFamilyCustom }}" />
				</div>
				<p class="notes">{{ localize "emu.design-font-family-custom-hint" }}</p>
			</div>
			<h3>{{ localize "emu.design-font-size-note" }}</h3>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-default" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeMD" value="{{ fontSizeMD }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeMD }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-default-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-lg" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeLG" value="{{ fontSizeLG }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeLG }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-lg-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-xl" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeXL" value="{{ fontSizeXL }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeXL }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-xl-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-xxl" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeXXL" value="{{ fontSizeXXL }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeXXL }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-xxl-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-sm" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeSM" value="{{ fontSizeSM }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeSM }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-sm-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-xs" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeXS" value="{{ fontSizeXS }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeXS }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-xs-hint" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-font-size-chat-roll" }}</label>
				<div class="form-fields">
					<input type="range" name="fontSizeChatRoll" value="{{ fontSizeChatRoll }}" min="8" max="30" step="1" data-dtype="Number">
					<span class="range-value">{{ fontSizeChatRoll }}</span>
				</div>
				<p class="notes">{{ localize "emu.design-font-size-chat-roll-hint" }}</p>
			</div>
			<h3>{{ localize "emu.design-header-border" }}</h3>
			<div class="form-group">
				<label>{{ localize "emu.design-border-radius-default" }}</label>
				<div class="form-fields">
					<input type="number"  name="borderRadiusDefault" value="{{ borderRadiusDefault }}" data-dtype="Number"/>
				</div>
				<p class="notes">{{ localize "emu.design-border-radius-default-note" }}</p>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-border-radius-controls" }}</label>
				<div class="form-fields">
					<input type="number"  name="borderRadiusControls" value="{{ borderRadiusControls }}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-border-radius-forms" }}</label>
				<div class="form-fields">
					<input type="number"  name="borderRadiusForms" value="{{ borderRadiusForms }}" data-dtype="Number"/>
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-border-radius-images" }}</label>
				<div class="form-fields">
					<input type="number"  name="borderRadiusImages" value="{{ borderRadiusImages }}" data-dtype="Number"/>
				</div>
			</div>
			<h3>{{ localize "emu.design-header-background" }}</h3>
			<p class="notes">{{ localize "emu.design-header-background-hint" }}</p>
			<div class="form-group">
				<label>{{ localize "emu.design-background-image" }}</label>
				<div class="form-fields">
					<button id="imageBackgroundButton" data-target="imageBackground" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageBackground" name="imageBackground" type="text" value="{{imageBackground}}" />
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-background-image-lightest" }}</label>
				<div class="form-fields">
					<button id="imageBackgroundLightestButton" data-target="imageBackgroundLightest" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageBackgroundLightest" name="imageBackgroundLightest" type="text" value="{{imageBackgroundLightest}}" />
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-background-image-light" }}</label>
				<div class="form-fields">
					<button id="imageBackgroundLightButton" data-target="imageBackgroundLight" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageBackgroundLight" name="imageBackgroundLight" type="text" value="{{imageBackgroundLight}}" />
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-background-image-dark" }}</label>
				<div class="form-fields">
					<button id="imageBackgroundDarkestButton" data-target="imageBackgroundDarkest" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageBackgroundDarkest" name="imageBackgroundDarkest" type="text" value="{{imageBackgroundDarkest}}" />
				</div>
			</div>
			<div class="form-group">
				<label>{{ localize "emu.design-background-image-controls" }}</label>
				<div class="form-fields">
					<button id="imageBackgroundControlsButton" data-target="imageBackgroundControls" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageBackgroundControls" name="imageBackgroundControls" type="text" value="{{imageBackgroundControls}}" />
				</div>
			</div>
			<h3>{{ localize "emu.design-header-logo" }}</h3>
			<div class="form-group">
				<label>{{ localize "emu.design-logo-custom" }}</label>
				<div class="form-fields">
					<button id="imageLogoButton" data-target="imageLogo" class="file-picker" type="button" data-type="image" title="Browse Files">
						<i class="fas fa-file-import fa-fw"></i>
					</button>
					<input id="imageLogo" name="imageLogo" type="text" value="{{imageLogo}}" />
				</div>
			</div>
		</div>
		<div class="tab" data-tab="options" data-group="sections">
			<div class="form-group">
				<label>{{ localize "emu.toggle-logo" }}</label>
				<input
					type="checkbox"
					name="toggleLogo"
					data-dtype="Boolean"
					{{ checked toggleLogo }} />
			</div>
			<div class="form-group">
				<label>{{ localize "emu.toggle-scene-thumbnails" }}</label>
				<input
					type="checkbox"
					name="toggleSceneThumbs"
					data-dtype="Boolean"
					{{ checked toggleSceneThumbs }} />
			</div>
			<div class="form-group">
				<label>{{ localize "emu.layout-emu-layout" }}</label>
				<input
					type="checkbox"
					name="emuLayout"
					data-dtype="Boolean"
					{{ checked emuLayout }} />
				<p class="notes">{{ localize "emu.layout-emu-layout-hint" }}</p>
			</div>
			<div class="form-group">
				<button type="button" name="reset">
					<i class="fas fa-undo"></i>
					<span>{{ localize "emu.modal-button-reset" }}</span>
				</button>
			</div>
		</div>
	</section>
	<footer class="sheet-footer">
		<button type="submit" name="submit">
			<i class="fas fa-save"></i>
			<span>{{ localize "emu.modal-button-save" }}</span>
		</button>
	</footer>
</form>
