.window-app[id*="actor-flags-"] {
	@extend %window-common;
	@extend %window-hack;

	form {
		@include layout {
			overflow: hidden;

			&::after {
				display: none;
			}
		}

		.form-body {
			@include layout {
				flex: 1 1 auto;
				overflow: auto;
			}
		}

		.form-footer {
			border-block-start: b("border");

			@include layout {
				flex: 0 0 auto;
				padding-block-start: p("sm");
			}
		}
	}
}
