.sheet.active-effect-sheet {
	.sheet-header {
		@include layout {
			margin-block-end: m("base");
		}

		h1 {
			border: none;

			@include layout {
				margin: 0;
			}
		}
	}

	.effects-header {
		@extend %table-header;
	}

	.changes-list li {
		@extend %table-row;

		@include layout {
			&:nth-of-type(even) {
				background-color: color("background-light", 0.1);
			}
		}
	}
}
