.sheet[id*="ActiveEffectsConfig"] {
	.sheet-header {
		h1 {
			border-color: transparent;

			@include layout {
				border-style: solid;
				border-width: 0;
				margin: 0;
			}
		}
	}

	.effects-header {
		@extend %table-header;
	}

	.changes-list {
		@include layout {
			@extend %reset-list;
			width: 100%;
		}

		li {
			@extend %table-row;

			@include layout {
				&:nth-of-type(even) {
					background-color: RGBA($emu-color-background-light, 0.1);
				}

				textarea {
					min-height: $global-space-button;
					padding-block-end: $global-space-base;
					padding-block-start: $global-space-base;
				}
			}
		}
	}
}
