#av-config {
	form {
		.sheet-tabs {
			border-block-end: b("primary", 2px);

			@include layout {
				padding: 0;
			}
		}

		.webrtc-custom-turn-config {
			@include layout {
				width: 100%;
			}
		}

		label {
			font-weight: 400;
		}
	}
}
