#av-config {
	form {
		.sheet-tabs {
			border-color: RGB($emu-color-primary);

			@include layout {
				border-block-end-style: solid;
				border-block-end-width: 2px;
				padding: 0;
			}
		}

		.webrtc-custom-turn-config {
			@include layout {
				width: 100%;
			}
		}

		label {
			@include layout {
				font-weight: 400;
			}
		}
	}
}
