.window-app[id*="chat-popout-"] {
	.window-content {
		@include layout {
			padding: 0;
		}

		.chat-message {
			background: none;
			border: none;

			@include layout {
				margin: 0;
				padding: $global-space-sm;
			}
		}
	}
}
