#client-settings.window-app.form {
	nav.tabs {
		border-color: RGB($emu-color-primary);

		@include layout {
			border-block-end-style: solid;
			border-block-end-width: 2px;
			padding: 0;
		}

		.item {
			@include layout {
				@extend %button-icon;
			}
		}
	}

	#config-tabs {
		border-color: transparent;

		@include layout {
			border-style: solid;
			border-width: 0;
			flex: 1 1 auto;
			overflow-y: auto;
		}
	}

	section.content {
		h2.module-header {
			@include layout {
				margin-block-start: $global-space-md;
				margin-block-end: $global-space-base;
			}
		}

		.submenu {
			> button {
				@include layout {
					height: initial;
					font-size: $global-font-size-lg;
				}

				label {
					color: inherit;

					@include layout {
						pointer-events: none;
					}
				}
			}

			> label {
				@include layout {
					line-height: initial;
				}
			}
		}

		.settings-list {
			border-color: transparent;

			@include layout {
				border-style: solid;
				border-width: 0;
				max-height: 100%;
				overflow: initial;
				padding: 0;
			}
		}
	}

	.sheet-footer {
		@include layout {
			flex: 0 0 auto;
			gap: $global-space-base;
		}
	}
}
