#client-settings.window-app.form {
	nav.tabs {
		border-block-end: b("primary", 2px);

		@include layout {
			padding: 0;
		}

		.item {
			@include layout {
				@extend %button-icon;
			}
		}
	}

	#config-tabs {
		border: none;

		@include layout {
			flex: 1 1 auto;
			overflow-y: auto;
		}
	}

	section.content {
		h2.module-header {
			@include layout {
				margin-block-start: m("md");
				margin-block-end: m("base");
			}
		}

		.submenu {
			> button {
				@include layout {
					height: initial;
					font-size: fs("lg");
				}

				label {
					color: inherit;

					@include layout {
						pointer-events: none;
					}
				}
			}

			> label {
				@include layout {
					line-height: initial;
				}
			}
		}

		.settings-list {
			@include layout {
				max-height: 100%;
				overflow: initial;
				padding: 0;
			}
		}
	}

	.sheet-footer {
		@include layout {
			flex: 0 0 auto;
			gap: space("base");
		}
	}
}
