#default-token-config {
	@extend %window-common;
	@extend %window-hack;

	.sheet-footer {
		@include layout {
			bottom: 0;
			flex: 0 0 auto;
			padding: 0;
			padding-block-start: p("sm");
			position: sticky;
		}
	}
}
