.filepicker.window-app {
	.filepicker-body {
		@include layout {
			display: flex;
			flex-direction: column;
			max-height: 100%;
			overflow: hidden;
		}

		&.private {
			@extend %global-focus;

			.current-dir button.privacy {
				@extend %global-active;
			}
		}

		&.thumbs {
			.filepicker-body {
				.file {
					@include layout {
						padding: $global-space-base;

						img {
							margin-inline-end: $global-space-sm;
							max-width: $global-space-icon;
							max-height: $global-space-icon;
						}
					}
				}
			}
		}

		&.tiles {
			.filepicker-body {
				.tiles-list {
					@include layout {
						gap: $global-space-base;
						grid-template-columns: repeat(5, 1fr);
					}

					.file {
						border-color: transparent;

						@include layout {
							align-items: center;
							background-color: RGBA($emu-color-background-darkest, 0.05);
							border-style: solid;
							border-width: 0;
							display: flex;
							flex: 0 0 auto;
							justify-content: center;
							max-width: 100%;
							min-height: 100px;
							padding: $global-space-base;
							width: 100%;

							img {
								max-height: 100%;
								max-width: 100%;
							}
						}
					}
				}
			}
		}

		&.images {
			.filepicker-body .directory {
				.file {
					border-color: RGB($emu-color-border);

					@include layout {
						border-width: 0;
						border-block-end-style: solid;
						border-block-end-width: 1px;
						display: grid;
						gap: $global-space-base;
						grid-template-areas: "title" "image";
						grid-template-rows: min-content 1fr;
						justify-content: center;
						padding: $global-space-base;
					}

					.filename {
						background-color: RGBA($emu-color-background-darkest, 0.8);
						color: RGB($emu-color-text-lightest);

						@include layout {
							@extend %ellipsis;
							border-radius: 0;
							display: block;
							font-size: $global-font-size-md;
							grid-area: title;
							left: auto;
							line-height: 1;
							margin: 0;
							max-width: 100%;
							padding: $global-space-base;
							position: relative;
							text-align: center;
							width: 100%;
						}
					}

					img {
						@include layout {
							grid-area: image;
						}
					}
				}
			}
		}

		.filepicker-header {
			@include layout {
				flex: 0 0 auto;
				position: relative;
			}

			.current-dir {
				button {
					@include layout {
						> i {
							margin: 0;
						}
					}
				}
			}

			.display-modes {
				.display-mode {
					@extend %primary-button;

					@include layout {
						flex: 1 1 auto;
						margin: 0;
						width: auto;

						> i {
							margin: 0;
						}
					}

					&.active {
						background-color: RGB($emu-color-primary);
						color: RGB($emu-color-text-lightest);
					}
				}
			}

			.units {
				color: RGB($emu-color-text);

				@include layout {
					@extend %ellipsis;
					display: block;
					flex: 0 0 auto;
					font-size: $global-font-size-sm;
					line-height: initial;
					margin: 0;
				}
			}
		}

		.filepicker-body {
			@include layout {
				display: grid;
				flex: 1 1 auto;
				gap: $global-space-base;
				grid-template-rows: 1fr;
			}

			.directory {
				background: none;
				border-color: transparent;

				@include layout {
					@extend %reset-list;
					border-radius: 0;
					border-style: solid;
					border-width: 0;
					flex: 1;
					min-height: 100px;
					list-style: none;
					overflow-x: hidden;
					overflow-y: auto;
					position: relative;
					margin: 0;
					width: 100%;
				}

				+ .directory {
					border-color: RGB($emu-color-folder-directory);

					@include layout {
						border-style: solid;
						border-width: 1px;
						padding: $global-space-base;
					}
				}

				.dir,
				.file {
					text-shadow: none;

					@include layout {
						@extend %ellipsis;
						align-items: center;
						cursor: pointer;
						display: flex;
						font-size: $global-font-size-md;
						font-weight: normal;
						height: auto;
						line-height: $global-space-button;
						padding: 0 $global-space-sm;
						position: relative;
						transition:
							background $global-transition-time-base $global-transition-type-link,
							box-shadow $global-transition-time-base $global-transition-type-link,
							color $global-transition-time-base $global-transition-type-link;
					}

					&:last-child {
						border-color: transparent;

						@include layout {
							border-block-end-style: solid;
							border-block-end-width: 0;
						}
					}

					&:hover {
						background-color: RGB($emu-color-primary);
						box-shadow: inset 0 0 0 2px RGB($emu-color-white);
						color: RGB($emu-color-text-lightest);
					}

					&:focus {
						box-shadow:
							inset 0 0 0 2px RGB($emu-color-primary),
							inset 0 0 0 3px RGB($emu-color-white), 0 1px 2px 0 RGBA($emu-color-black, 0.3);
					}
				}

				.dir {
					background-color: RGBA($emu-color-folder-header, 0.9);
					border-color: RGB($emu-color-border);
					color: RGB($emu-color-text);

					@include layout {
						border-block-end-style: solid;
						border-block-end-width: 1px;
					}
				}

				.file {
					background-color: RGBA($emu-color-folder-header, 0.9);
					border-color: RGB($emu-color-border);
					color: RGB($emu-color-text);

					@include layout {
						border-block-end-style: solid;
						border-block-end-width: 1px;
						padding: $global-space-base $global-space-sm;
					}
				}
			}
		}

		.filepicker-footer {
			@include layout {
				flex: 0 0 auto;
				position: relative;

				&:empty {
					display: none;
				}
			}
		}
	}
}
