.window-app[id*="JournalEntry-"] {
	.window-content {
		@include layout {
			padding: 0;
		}
	}

	.journal-sidebar.collapsed {
		@include layout {
			--sidebar-width-collapsed: calc(#{$global-space-button} + #{$global-space-sm} + #{$global-space-base});
		}
	}

	.journal-entry-content {
		background: RGBA($emu-color-background, 0.1);
		border-color: transparent;

		@include layout {
			border-radius: 0;
			border-end-end-radius: calc(#{$global-border-radius-default} - 1px);
			border-style: solid;
			border-width: 0;
			padding: 0;
		}
	}

	.journal-sheet-container {
		@include layout {
			gap: 0;
			padding: 0;
		}
	}

	.directory {
		@include layout {
			gap: $global-space-base;
		}
	}

	aside.sidebar {
		background-color: RGB($emu-color-background);
		background-image: $global-image-background;
		border-color: transparent;
		color: RGB($emu-color-text-lightest);

		@include layout {
			border-end-start-radius: calc(#{$global-border-radius-default} - 1px);
			border-style: solid;
			border-width: 0;
		}

		.directory-header {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: $global-space-base;
				margin-block-start: 0;
				margin-block-end: 0;
				padding: $global-space-sm $global-space-base;
				text-align: center;
			}

			.header-search {
				@include layout {
					gap: $global-space-base;
				}

				> * {
					@include layout {
						flex: 0 0 $global-space-button-sm;
					}
				}

				input {
					color: RGB($emu-color-text);

					@include layout {
						flex: 1 1 auto;
						width: auto;
					}

					&::placeholder {
						color: RGBA($emu-color-text, 0.5);
					}
				}
			}
		}

		.pages-list {
			.directory-list {
				.directory-item {
					@include layout {
						min-height: initial;
						padding: $global-space-xs;
					}

					&:hover {
						background-color: RGB($emu-color-folder-directory);
						box-shadow: none;
					}

					&.active {
						@extend %global-focus-subtle;

						&:hover {
							@extend %global-focus-subtle;
						}
					}

					.page-heading,
					.headings {
						@include layout {
							margin: 0;
							width: 100%;
						}
					}

					.page-heading {
						background-color: RGBA($emu-color-background-darkest, 0.5);
						border-color: transparent;

						@include layout {
							align-items: center;
							border-style: solid;
							border-width: 0;
							display: flex;
							font-size: $global-font-size-md;
						}

						.page-number {
							color: RGB($emu-color-text-lightest);

							@include layout {
								flex: 0 0 auto;
								padding: $global-space-base;
							}
						}

						.page-title,
						.journal-entry-page-link {
							text-shadow: none;

							&:hover {
								color: RGB($emu-color-primary);
							}

							@include layout {
								font-size: $global-font-size-lg;
								line-height: initial;
								padding: $global-space-base $global-space-md;
								padding-inline-start: 0;
							}
						}

						.page-ownership {
							@include layout {
								margin: 0;
							}

							&.none {
								color: RGB($emu-color-neutral);
							}
						}
					}

					.headings {
						&:empty {
							@include layout {
								display: none;
							}
						}

						.heading {
							@include layout {
								display: flex;
								height: auto;
								line-height: initial;
								margin: 0;
								padding: 0;
							}

							&:nth-child(even) {
								background-color: RGBA($emu-color-background, 0.5);
							}

							.heading-link,
							.journal-entry-heading-link {
								@include layout {
									display: inline-block;
									font-size: $global-font-size-lg;
									line-height: initial;
									padding: $global-space-base $global-space-md;
									padding-inline-start: 0;
								}

								&:hover {
									color: RGB($emu-color-primary);
								}
							}

							h2,
							h3,
							h4 {
								border-color: transparent;

								@include layout {
									border-style: solid;
									border-width: 0;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}

		.action-buttons {
			@include layout {
				display: flex;
				flex: 0 0 auto;
				gap: $global-space-base;
				padding: $global-space-sm $global-space-base;
			}

			button {
				@include layout {
					margin: 0;
				}
			}

			button.previous,
			button.next {
				@include layout {
					flex: 0 0 $global-space-button;

					i {
						margin: 0;
					}
				}
			}
		}
	}

	.edit-container {
		@include layout {
			height: auto;
			pointer-events: initial;
			position: absolute;
			right: $global-space-base;
			top: $global-space-base;
		}
	}

	a.editor-edit {
		@extend %primary-button;

		@include layout {
			display: inline-flex;
			height: $global-space-button-sm;
			min-height: $global-space-button-sm;
			min-width: $global-space-button-sm;
			pointer-events: initial;
			right: auto;
			top: auto;
			width: $global-space-button-sm;

			> i {
				margin: 0;
			}
		}

		&:hover {
			color: RGB($emu-color-text-lightest);
		}

		@include layout(compact) {
			top: -28px;
		}
	}
}

.journal-sheet .journal-header {
	@include layout {
		gap: $global-space-md;
		margin: $global-space-sm;
	}
}

.journal-entry-pages {
	@include layout {
		margin-block-end: $global-space-sm;
		margin-block-start: 0;
		margin-inline-end: $global-space-sm;
		margin-inline-start: $global-space-md;
	}
}
