.journal-sheet.sheet.window-app .window-content {
	form {
		@include layout {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;

			> * {
				flex: 0 0 100%;
			}

			> input[type="text"] {
				flex: 1 1 calc(70% - #{m("base")});
			}

			> select {
				flex: 1 1 calc(30% - #{to-rem(36px))});
				margin-inline-start: m("base");
				margin-inline-end: to-rem(36px);
			}

			> button {
				height: space("button");
				margin-block-start: 0;
			}
		}

		.editor {
			@include layout {
				height: calc(100% - #{to-rem(70px)});
				margin-block-start: m("base");
				overflow: visible;
			}
		}
	}

	.editor-edit {
		@extend %primary-button;

		@include layout {
			display: inline-flex;
			height: space("button");
			position: absolute;
			right: 0;
			top: to-rem(-36px);
			width: space("button");

			> i {
				margin: 0;
			}
		}
	}

	.lightbox-image {
		~ .form-group.title,
		~ .form-group.picker {
			background-color: transparent;

			input {
				background-color: color("background-lightest");
			}
		}
	}
}
