.window-app[id*="JournalEntry-"] {
	.editable {
		background: none;

		@include layout {
			padding: 0;
		}
	}

	.journal-sheet-container {
		@include layout {
			gap: $global-space-sm;
			padding: 0;
		}
	}

	.directory {
		@include layout {
			gap: $global-space-base;
		}
	}

	nav {
		background-color: color("background");
		background-image: $global-image-background;
		border: none;
		color: color("text-lightest");

		.directory-header {
			@include layout {
				display: flex;
				flex-direction: column;
				gap: $global-space-base;
				margin-block-end: 0;
			}

			.header-search {
				input {
					color: color("text-lightest");

					&::placeholder {
						color: color("text-lightest", 0.5);
					}
				}
			}
		}

		.pages-list {
			.directory-list {
				.directory-item {
					@include layout {
						padding: $global-space-xs;
					}

					&:hover {
						background-color: color("folder-directory");
						box-shadow: none;
					}

					&.active {
						@extend %global-hover-alt;

						&:hover {
							@extend %global-hover-alt;
						}
					}

					.page-heading,
					.headings {
						@include layout {
							margin: 0;
							width: 100%;
						}
					}

					.page-heading {
						background-color: color("background-darkest", 0.5);
						border: none;

						@include layout {
							align-items: center;
							display: flex;
						}

						.page-number {
							color: color("text-lightest");

							@include layout {
								flex: 0 0 auto;
								padding: $global-space-base;
							}
						}

						.journal-entry-page-link {
							@include layout {
								padding: $global-space-base;
							}
						}
					}

					.headings {
						&:empty {
							@include layout {
								display: none;
							}
						}

						.heading {
							@include layout {
								padding: 0;
							}

							&:nth-child(even) {
								background-color: color("background", 0.5);
							}

							.journal-entry-heading-link {
								@include layout {
									font-size: $global-font-size-lg;
									line-height: 1.2;
									padding: $global-space-base $global-space-md;
								}

								&:hover {
									color: color("primary");
								}
							}

							h2,
							h3,
							h4 {
								border: none;

								@include layout {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	a.editor-edit {
		@extend %primary-button;

		@include layout {
			display: inline-flex;
			height: $global-space-button-sm;
			position: absolute;
			right: $global-space-base;
			top: $global-space-base;
			width: $global-space-button-sm;

			> i {
				margin: 0;
			}
		}

		&:hover {
			color: color("text-lightest");
		}

		@include layout(compact) {
			top: to-rem(-28px);
		}
	}
}
