.window-app[id*="journalentry-sheet-"] {
	form {
		@include layout {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;

			> * {
				flex: 0 0 100%;
			}

			> input[type="text"] {
				flex: 0 0 70%;
			}

			> select {
				flex: 0 0 calc(35% - #{to-rem(74px)});
			}

			> button {
				height: space("button");
				margin-block-start: 0;
				max-width: 100%;
			}
		}

		@include layout(compact) {
			> select {
				flex: 1 1 calc(30% - #{to-rem(28px)});
				margin-inline-end: to-rem(28px);
			}
		}

		.editor {
			@include layout {
				height: calc(100% - #{to-rem(74px)});
				overflow: visible;
			}

			@include layout(compact) {
				height: calc(100% - #{to-rem(62px)});
			}
		}
	}

	a.editor-edit {
		@extend %primary-button;

		@include layout {
			display: inline-flex;
			height: space("button");
			position: absolute;
			right: 0;
			top: to-rem(-36px);
			width: space("button");

			> i {
				margin: 0;
			}
		}

		&:hover {
			color: color("text-lightest");
		}

		@include layout(compact) {
			top: to-rem(-28px);
		}
	}

	.lightbox-image {
		~ .form-group.title,
		~ .form-group.picker {
			background-color: transparent;

			@include layout {
				left: auto;
				max-width: 100%;
				position: absolute;
				top: auto;
				width: 100%;
			}

			input {
				background-color: color("background-lightest");

				@include layout {
					margin: 0 !important; // why? because inline
				}
			}

			button > i {
				@include layout {
					margin: 0;
				}
			}
		}
	}
}
