#module-management {
	@include layout {
		min-height: 0;
	}

	.list-filters {
		@extend %modal-tabs;

		.filter {
			@include layout {
				font-weight: normal;
			}
		}

		input {
			@include layout {
				margin-inline-end: m("base");
				margin-block-end: m("base");
			}
		}

		.expand {
			@include layout {
				height: auto;
				justify-content: center;
				margin: 0;
				margin-inline-start: m("base");
				margin-block-end: m("base");
				padding: 0;

				> i {
					margin: 0;
				}
			}
		}
	}

	.package-list {
		@include layout {
			border: none;
			height: to-rem(600px);
			margin: 0;
			max-height: initial;
			padding: p("sm") 0;
		}
	}

	.package {
		border-block-end: b("border");

		@include layout {
			padding: p("sm");
		}

		&[data-module-name="ernies-modern-layout"] {
			background-color: color("primary", 0.8);

			.package-title {
				color: color("text-lightest");
			}
		}

		&:last-child {
			border-block-end: none;
		}

		.tag {
			border: none;
			border-radius: $global-border-radius-controls;
			color: color("white");

			@include layout {
				align-items: center;
				display: inline-flex;
				font-size: fs("sm");
				height: auto;
				justify-content: center;
				line-height: initial;
				margin: 0;
				margin-inline-start: m("xs");
				padding: p("base");
			}
		}
	}

	.package-overview {
		@include layout {
			align-items: center;
		}
	}

	.package-title {
		color: color("text");

		@include layout {
			align-items: center;
			display: flex;
			font-size: fs("lg");
			font-weight: normal;
			height: initial;
			line-height: 1;
			text-decoration: none;
		}

		input {
			@include layout {
				margin-inline-end: m("sm");
			}
		}
	}

	form {
		@include layout {
			display: flex;
			flex-direction: column;
		}

		> .notes {
			@include layout {
				margin-block-end: m("sm");
			}
		}

		> footer {
			@include layout {
				flex: 0 0 auto;
				flex-wrap: nowrap;
				padding: 0;
				padding-block-start: p("sm");
			}
		}
	}
}
