#module-management {
	@include layout {
		min-height: 0;
	}

	.list-filters {
		@extend %modal-tabs;

		.filter {
			@include layout {
				font-weight: normal;
			}
		}

		input {
			@include layout {
				margin-inline-end: $global-space-base;
				margin-block-end: $global-space-base;
			}
		}

		.expand {
			@include layout {
				height: auto;
				justify-content: center;
				margin: 0;
				margin-inline-start: $global-space-base;
				margin-block-end: $global-space-base;
				padding: 0;

				> i {
					margin: 0;
				}
			}
		}
	}

	.package-list {
		@include layout {
			border: none;
			height: to-rem(600px);
			margin: 0;
			max-height: initial;
			padding: 0;
		}
	}

	.package {
		border-block-end: b("border");

		@include layout {
			padding: $global-space-sm;
		}

		&[data-module-name="ernies-modern-layout"] {
			background-color: color("primary", 0.8);

			a,
			.package-title,
			.package-description,
			.package-metadata {
				color: color("text-lightest");
			}
		}

		&:last-child {
			border-block-end: none;
		}

		.tag {
			border: none;
			border-radius: $global-border-radius-controls;
			color: color("text-lightest");

			@include layout {
				align-items: center;
				display: inline-flex;
				font-size: $global-font-size-sm;
				height: auto;
				justify-content: center;
				line-height: initial;
				margin: 0;
				margin-inline-start: $global-space-xs;
				padding: $global-space-base;
			}
		}
	}

	.package-overview {
		@include layout {
			align-items: center;
		}
	}

	.package-title {
		color: color("text");

		@include layout {
			align-items: center;
			display: flex;
			font-size: $global-font-size-lg;
			font-weight: normal;
			height: initial;
			line-height: 1;
			text-decoration: none;
		}

		input {
			@include layout {
				margin-inline-end: $global-space-sm;
			}
		}
	}

	.package-description {
		color: color("text-darker");
	}

	.package-metadata {
		color: color("text");

		@include layout {
			font-size: $global-font-size-sm;
		}
	}

	form {
		> footer {
			@include layout {
				gap: $global-space-base;
			}
		}
	}
}
