.package-configuration {
	aside.sidebar {
		border-inline-end: none;

		@include layout {
			flex: 0 0 220px;
			font-size: $global-font-size-md;
			gap:  $global-space-sm;
			height: 100%;
			overflow: auto;
			padding: 0;
			padding-inline-end: $global-space-sm;
		}

		.entry-filter {
			@include layout {
				margin: 0;
			}
		}

		nav.filters {
			.category-filter {
				border-block-end: 1px solid RGB($emu-color-border);
				color: RGB($emu-color-text);

				@include layout {
					align-items: center;
					display: flex;
					font-weight: normal;
					justify-content: space-between;
					padding: $global-space-base;
				}

				&:hover {
					color: inherit;
				}

				&.active {
					background-color: RGB($emu-color-primary);
					color: RGB($emu-color-text-lightest);

					a {
						color: RGB($emu-color-text-lightest);
					}
				}
			}
		}

		.tabs {
			border-block-end: none !important;

			.category-tab {
				@include layout {
					border-radius: 0 !important;
					justify-content: space-between !important;
				}
			}
		}
	}

	.categories {
		overflow: hidden;

		.scrollable,
		footer {
			margin: 0;
			padding: $global-space-sm;
		}

		footer {
			padding-block-end: 0;
		}
	}
}
