.package-configuration {
	aside.sidebar {
		border-color: transparent;

		@include layout {
			border-inline-end-style: solid;
			border-inline-end-width: 0;
			flex: 0 0 220px;
			font-size: $global-font-size-md;
			gap:  $global-space-sm;
			height: 100%;
			overflow: hidden;
			padding: 0;
			padding-inline-end: $global-space-sm;
		}

		.entry-filter {
			@include layout {
				flex: 0 0 auto;
				margin: 0;
			}
		}

		nav.filters {
			.category-filter {
				border-color: RGB($emu-color-border);
				color: RGB($emu-color-text);

				@include layout {
					align-items: center;
					border-inline-end-style: solid;
					border-inline-end-width: 1px;
					display: flex;
					font-weight: normal;
					justify-content: space-between;
					padding: $global-space-base;
				}

				&:hover {
					color: inherit;
				}

				&.active {
					background-color: RGB($emu-color-primary);
					color: RGB($emu-color-text-lightest);

					a {
						color: RGB($emu-color-text-lightest);
					}
				}
			}
		}

		.tabs {
			border-color: transparent !important;

			@include layout {
				border-block-end-style: solid !important;
				border-block-end-width: 0 !important;
			}

			@include layout {
				flex: 1 1 auto;
				overflow-x: hidden;
				overflow-y: auto;
			}

			.category-tab {
				border-color: transparent;

				@include layout {
					border-radius: 0 !important;
					border-style: solid;
					border-width: 0;
					flex: 0 0 auto;
					justify-content: space-between !important;
				}
			}
		}

		.reset-all {
			@include layout {
				flex: 0 0 auto;
			}
		}
	}

	.categories {
		@include layout {
			overflow: hidden;

			.scrollable,
			footer {
				margin: 0;
				padding: $global-space-sm;
			}

			footer {
				padding-block-end: 0;
			}
		}
	}
}
