.window-app[id*="rolltable-sheet-"],
.window-app[id*="RollTableConfig-"] {
	.sheet-header {
		h1 {
			border: none;

			@include layout {
				margin: 0;
			}
		}
	}

	.table-results {
		.table-result {
			@extend %table-row;

			@include layout {
				// display: grid;
				// grid-template-columns: 40px 128px 1fr 60px 80px 60px;

				&:nth-of-type(odd):not(.table-header) {
					background-color: RGBA($emu-color-background-light, 0.1);
				}

				select + input {
					margin-inline-start: $global-space-base;
				}
			}
		}

		.table-header {
			@extend %table-header;
		}
	}
}
