.window-app[id*="UserConfig-"] {
	.form-group.stacked {
		#characters.directory-list {
			@include layout {
				padding: 0;
				max-height: 320px;
			}

			.directory-item.context {
				background-color: RGB($emu-color-primary);
			}
		}
	}
}
